[2020-04-15 03:48] jessehu opened #1 "Find a way to show configuration files diff between different versions of an image"
When storing configuration files in Git, it's easy to show diff between different versions. When storing configuration files in a docker image, we will need an imgpkg sub command to show the diff (which is similar to the --diff-changes of kapp)

[2020-04-15 14:28] cppforlife commented on #1
that's an interesting suggestion. may be something like this: `imgpkg diff --images your-user/app1-config:0.1.1...your-user/app1-config:0.1.5` which would use typical differs to show content differences. might be even useful to have similar semantics as git for ranges (ie head, etc.)

[2020-04-15 14:50] jessehu commented on #1
Thanks. Sound good! imgpkg will need to pull the two images, mount the data volume to local dir and run `diff` to get the result. Another format could be `imgpkg diff --image your-user/app1-config --tags 0.1.1:0.1.5`, as we probably won't compare different images but only different tags of the same image.

[2020-04-16 03:32] jessehu opened #2 "selecting new name for imgpkg"
`imgpkg (pronounced: image package) allows to store sets of files (e.g. application configuration) as images in Docker (OCI) registries. `

If 'image package' means package an docker image, the name is good; if it means k8s application configuration package, then a name like 'configpkg' or 'konfigpkg' is better :D

[2020-04-16 15:23] cppforlife commented on #1
i can imagine someone trying to diff two separate images if they "augmented" one with changes from the other and now trying to determine what's changed. but your point still stands, common case is a single image.

[2020-04-16 15:24] cppforlife commented on #2
yeah i can see that. i wanted to somehow convey it's based on registry. smaller use case i guess is that you can use this tool to pkgs non-configuration as well (eg binaries).

[2020-04-17 00:17] jessehu commented on #2
Make sense! We ever worked on packaging data files generated from Machine Learning training service into docker images and sharing accoss ML serving service running in containers.

[2020-04-17 00:20] jessehu commented on #1
Got your pionts :D

[2020-05-13 13:42] jessehu opened #3 "Request for new release"
The latest release v0.1.0 was published on Nov 2, 2019. There are several commits after then. Should we create a new release like 0.1.1 or 0.2.0? Thanks.

[2020-05-14 23:13] cppforlife commented on #3
will cut 0.2.0.

[2020-05-15 00:33] jessehu commented on #3
Thanks!

[2020-06-09 10:11] btwiuse commented on #2
I'd like to suggest an alternative name: `dkg`, short for `docker package`, or simply `dockage`

[2020-06-11 20:53] cppforlife commented on #3
apologies for delay. this fell off my table. https://github.com/k14s/imgpkg/releases/tag/v0.2.0

[2020-06-11 20:53] #3 closed

[2020-08-27 18:25] ewrenn8 opened #8 "Add `--include-non-distributable` flag to imgpkg copy"
Imgpkg should support a flag to allow the user to relocate images with foreign layers to airgapped envs.

Slack thread for some discussion: https://kubernetes.slack.com/archives/CH8KCCKA5/p1598013615011900

[2020-09-16 20:48] cppforlife opened #9 "carry over kbld improvements"
- [x] use same transport object to avoid too many fds
- [x] https://github.com/k14s/kbld/issues/46
- [x] https://github.com/k14s/kbld/issues/44
- [x] https://github.com/k14s/kbld/commit/dc40e8951749bedfed3891b39ad022976316e1f8
- [ ] others?

[2020-10-13 22:57] cppforlife opened #10 "support copying bundles referenced by other bundles in images lock"
we currently do not allow to reference a bundle as an image inside a bundle. example where this might be helpful is: "we have a bundle that delivers configuration that references bunch of other bundles to be installed later".

gotta make sure that we dedup the tree since there could be cycles.

[2020-10-13 22:59] ewrenn8 commented on #9
Should bring this over as well:
- [x] [Reusing transport because of too many open fds](https://github.com/k14s/kbld/commit/b7f04861f336fb9f32d676cebea98c1afc23288c)

[2020-10-14 00:44] pivotaljohn opened #11 "`imgpkg copy` prints completion for each donwloaded layer twice"
Got this:

[code]

when

[code]

Is there a way to either mate-up each "copy from" with its "copy to"? or clarify the source/sink involved in a given line of output?

[2020-10-14 12:52] cppforlife commented on #11
im not so sure its about printing. are we writing each layer twice?

[2020-10-14 14:55] pivotaljohn commented on #11
I'm inferring from the timings that the first mention is when we copy _from_ the registry and the second mention is when we copy _to_ the tarball.

[2020-10-16 21:08] cppforlife commented on #11
http stream should be going directly into tarball. there is no intermediate.

[2020-10-16 23:17] #2 closed

[2020-10-16 23:23] gcheadle-vmware commented on #2
The team has decided to keep the imgpkg name. We have already introduced imgpkg in our community meetings and presentations, a new name would also have to follow open source guidelines from VMware.

[2020-10-17 02:02] jessehu commented on #2
Thank you!

[2020-10-17 16:09] cppforlife commented on #11
fixed in kbld by https://github.com/k14s/kbld/commit/dc40e8951749bedfed3891b39ad022976316e1f8.

[2020-10-21 21:55] ewrenn8 commented on #11
fixed in 998cb7e7850a1c69b2d2fae59ca9e4ca3edcbb03

[2020-10-21 21:57] ewrenn8 opened #12 "Use VerifyReadCloser for tar images"
Using [ggcr's verify closer](https://github.com/google/go-containerregistry/blob/6344e5703ce06861d6acdf6601c04fce64f4bbaf/pkg/v1/v1util/verify.go#L47) allows us to ensure the bits we read match the expected hash

[2020-10-22 12:22] #11 closed, assigned to nobody

[2020-10-26 22:07] StevenLocke commented on #9
Brought the 4 improvements in, and all merged to develop!

[2020-10-26 22:07] #9 closed, assigned to nobody

[2020-10-27 16:15] jdef opened #13 "align with manifest bundle KEP"
I wasn't sure where else to post this, but it looks like something similar is cooking up in this KEP: https://github.com/kubernetes/enhancements/pull/1481/files

[2020-10-27 17:18] ewrenn8 commented on #13
Thanks for the heads up! We will keep an eye on this.

[2020-10-27 21:30] cppforlife commented on #12
done in kbld: https://github.com/k14s/kbld/commit/f6538ce54ba6c7ad0f849878031d5ec084c20857

[2020-10-27 21:31] cppforlife opened #14 "support env keychain for registry auth"
ability to use env vars to set registry auth: https://github.com/k14s/kbld/blob/develop/docs/auth.md#via-environment-variables (https://github.com/k14s/kbld/blob/develop/pkg/kbld/registry/env_keychain.go)

[2020-11-04 16:51] cppforlife opened #15 "move bundle proposal into k14s/design-docs"

[2020-11-05 19:12] ewrenn8 opened #16 "Move to k8s yaml package"
We should more from [ghdoss's yaml package](https://github.com/ghodss/yaml) to [the k8s yaml package](https://github.com/kubernetes-sigs/yaml), which is a more maintained fork.

[2020-11-06 17:52] ewrenn8 opened #17 "Extract lock files to their own packages"
Allows us to have better package boundaries and import a small ImagesLock package in to kbld instead of duplicating the ImagesLock logic. This will help keep kbld and imgpkg in sync wrt imgpkg lock files.

[2020-11-23 21:08] danielhelfand opened #20 "imgpkg tag list --digests as False by Default"
`imgpkg tag list` features a `--digests` option that is described as `Include digests (default true)`. Since the option is [true by default](https://github.com/vmware-tanzu/carvel-imgpkg/blob/61f962a8b5de930773140dcc8cd03ff320cc1e1a/pkg/imgpkg/cmd/tag_list.go#L38), it will always be true regardless of whether or not it is specified. This calls into question whether the flag should exist at all or

[2020-11-23 21:55] danielhelfand commented on #20
Closing, as cobra requires `imgpkg tag list -i ... --digests=false` with an explicit `=` included with false.

[2020-11-23 22:06] danielhelfand commented on #20
Reopening this to have it be a discussion around whether to have `--digests` as false by default as it can be expensive to pull down several digests. So for images with many tags, it might be better to not pull down digests unless asked for by the user.

[2020-11-24 15:30] joaopapereira commented on #20
Can I suggest a different name for this flag:
`--enable-digests`
`--with-digests`
`--get-digests`

Maybe this will help clear the usage of this flag and would change the flag type to be a boolean flag. If it is present it enables the retrieval of the digests if it is not present it would not retrieve the digests

[2020-12-02 20:27] cppforlife commented on #20
@joaopapereira within carvel we tried to have consistent noun based flags to indicate feature. value of the flag determines whether it's enabled or disabled. (some of the thinking about that is that flag name should not influence the value of the flag. it's also not great to have multiple flags --disable-blah, --enable-blah)

[2020-12-02 21:24] joaopapereira commented on #20
That is good background information.
My assumption was that we would have a default behavior and we would just have flags that would change that behavior.
In the current example, the behavior by default would be not to retrieve digests, and we would have a flag to signal that we want to retrieve them.

Of course, if we needed a flag that could have multiple values (not boolean) then I would defini

[2020-12-03 21:16] joaopapereira opened #22 "Certs do not verify when running on windows"
This issue was discussed in https://github.com/vmware-tanzu/carvel-kbld/issues/75.

Since `imgpkg` inherited some functionality from `kbld` we will need to fix it in `imgpkg` as well.

Notes
- see [kbld's comment](https://github.com/vmware-tanzu/carvel-kbld/issues/75#issuecomment-906670951) about reproducing this again before starting implementation.

[2020-12-08 00:04] danielhelfand commented on #16
Closed via #24

[2020-12-08 00:04] #16 closed, assigned to nobody

[2020-12-08 00:04] danielhelfand commented on #17
Closed by #24

[2020-12-08 00:04] #17 closed, assigned to nobody

[2020-12-08 14:30] danielhelfand opened #25 "Prepare lockfiles Package for Use by kbld"
As part of `imgpkg` refactoring (#24), issue #17 was closed. #17 describes moving ImagesLock/BundleLock into their own package. In #24, these lock files were moved to a package called [`lockfiles`](https://github.com/vmware-tanzu/carvel-imgpkg/tree/f16abb7db573cda6eace814fd159262f562869bd/pkg/imgpkg/lockfiles).

This issue is being opened to document any changes needed to convert `kbld` to using `

[2020-12-08 15:29] joaopapereira commented on #25
After closing this issue we should create a new issue in [kbld](github.com/vmware-tanzu/carvel-kbld) to start using the `lockfiles` package from `imgpkg`.

[2020-12-09 01:04] StevenLocke opened #29 "Excluding the .imgpkg folder of a bundle does not allow pushing as an image"
**What steps did you take:**
Create a bundle directory (bundle_dir) including the necessary .imgpkg dir and images.yml file
Attempt to push the bundle directory as an image
`imgpkg push -i <repo> -f bundle_dir`
Observe the expected error.

Now, exclude the .imgpkg directory from the push command.
`imgpkg push -i <repo> -f bundle_dir --file-exclude-defaults .imgpkg`

**What happened:**
The same err

[2020-12-09 15:13] stealthybox commented on #13
Heads up that we merged the KEP.
There's interest in getting this to work with kubebuilder-declarative-pattern and kops as next steps.

[2020-12-09 16:05] joaopapereira commented on #29
Given the help text of the `--file-exclude-defaults` flag, I would be inclined to say that if the flag is present and excludes the `.imgpkg` folder when pushing the image to the registry the folder should not be present.
But my expectation when trying to exclude `.imgpkg` folder is that I would get an error, since this is part of the `imgpkg` internals.

IMHO I believe what we should do is give a

[2020-12-09 16:19] danielhelfand commented on #29
Agree with @joaopapereira that the error message for this specific case makes sense. It should be easy enough to catch if `.imgpkg` is part of the path included with `--file-exclude-defaults` and error out to explain to the user why not to do this.

[2020-12-11 16:50] pivotaljohn commented on #8
This is a rather critical feature for our users on Windows. Pulling in for this upcoming release.

[2020-12-11 17:30] cppforlife opened #35 "add command to surface vulnerability scan report for a bundle"
**Describe the problem/challenge you have**

would like to see a vulnerability report for images that are part of a bundle.

**Describe the solution you'd like**

even though vulnerability scanning is an "addon" to a registry (not part of official registry APIs), i think we should try to integrate with projects like Harbor that introduce custom APIs to expose such information. i could imagine some

[2020-12-11 21:08] joaopapereira commented on #35
To try to clarify the ask here, the idea would be to try to integrate with the Registry and the Registry would do the scan. Or the idea is that `imgpkg` should integrate directly with tools like `trivy` and `claire`, as Harbour does?

The following registries do vulnerability check already:
- [Harbor](https://goharbor.io/docs/2.1.0/administration/vulnerability-scanning/) does not export an API
- [

[2020-12-11 22:00] cppforlife commented on #35
some other service (like registry) would do the scan. imgpkg hopefully would be able to retrieve results for the scan since it knows which images are in the bundle.

[2020-12-12 16:29] cppforlife opened #37 "add command to copy bundle referenced images to registry where bundle already resides"
**Describe the problem/challenge you have**

- i use dockerhub registry
- i create bundle in my dockerhub account (that references images from all over the internet)
- i dont want to "copy" my bundle to a different location just to ensure that referenced images are copied into my docherhub account

**Describe the solution you'd like**

currently one would have to do the following:

- imgpkg push -

[2020-12-12 17:01] ewrenn8 commented on #37
I wonder if it makes more sense to have it as a flag on push, so user could just do something like:
imgpkg push -b docker.io/... -f my-bundle --with-relocate

[2020-12-12 19:38] cppforlife commented on #37
i was thinking about that, but id would prefer to keep push and copy distinct. seems like a good boundary to have.

[2020-12-12 19:40] cppforlife opened #38 "rename copy's command --from-tar to --tar"
**Describe the problem/challenge you have**

we have several sources for copy command:

--bundle
--image
--lock
--from-tar

only one of them has "from".

and few destinations:

--to-repo
--to-tar

**Describe the solution you'd like**

either we add "from" to all sources or drop "from" from tar.

[2020-12-12 19:49] cppforlife opened #40 "drop spec in ImagesLock configuration"
**Describe the problem/challenge you have**

we typically have not included `spec` in various configuration resources in carvel. it feels a bit less consistent with other resources. i think we should drop it.

[2020-12-14 14:59] joaopapereira commented on #37
In this case, I tend to agree with @ewrenn8. Feels more natural that the operation you want to do when pushing your bundle is to concentrate the layers from a particular bundle under the same repository.

Also thinking about copy in itself not sure if the operation is the one we want to relocate the full bundle underneath a repository. Maybe we want a new operation called `concentrate` or `central

[2020-12-14 16:46] #15 closed, assigned to nobody

[2020-12-14 16:48] joaopapereira commented on #40
This sounds like a plan.

[2020-12-14 21:12] cppforlife commented on #37
described in "Describe the problem/challenge you have". wanna ensure that that my app doesnt depend on images outside of my registry so they dont break production if they disappear.

possibly. though this might be useful after you pushed a bundle as well as a distinct step. eg what if you "forgot" to push with that flag. including a flag on push is a convenience feature, but we need to make sure w

[2020-12-15 17:48] cppforlife commented on #12
done in imgpkg: https://github.com/vmware-tanzu/carvel-imgpkg/commit/eea38649ed2cdb76ea36b881acffdf902e0ebc26

[2020-12-15 17:48] #12 closed, assigned to nobody

[2020-12-15 20:08] cppforlife opened #42 "[internal] ImageSet.Export isnt strictly checking digest refs"
we no longer use NewDigest to parse refs here: https://github.com/vmware-tanzu/carvel-imgpkg/blob/develop/pkg/imgpkg/cmd/image_set.go#L41-L46 (commend is out of date now). but unless something changed we should still be parsing refs as digests. if we are trying to transfer over tags then i would imagine it should be an additional field and not muddy up ref itself.

[2020-12-16 22:42] cari-lynn commented on #42
This change happened when we started preserving image tags throughout copying.

Looking over the code, it seems we now parse the ref generically. We parse using NewDigest if it is a digest reference, otherwise we parse it as a tag.
https://github.com/vmware-tanzu/carvel-imgpkg/blob/d4982fa6c0aa2ef64e4151e39b91785e437610bf/vendor/github.com/google/go-containerregistry/pkg/name/ref.go#L39-L46

We sh

[2020-12-17 17:17] cppforlife commented on #42
the intent of ImageSet is to work with concrete images (== digest refs); however, for some images we also want to throw in additional metadata like a tag. that meaning was changed by having ImageSet do tag resolution. this now means that i could call ImageSet.Export twice and get different results because tag may change.

[2020-12-17 22:30] danielhelfand commented on #37
My thought is that the flag makes sense for both the `push` and `copy` commands and should be consistent for both. I personally prefer `--with-relocation`. The flag would only work with pushing/copying a bundle. I would think push would be the more common use case though.

At the very least, I think we should accept the issue and discuss the UX further.

[2020-12-17 23:02] cari-lynn commented on #42
I agree, we want to have ImageSet use digest references, rather than accept a digest or a tag. Doing this will ensure that the image references are in digest form and a ref always maps to the same image.

Like you said, we can refactor ImageSet to parse image urls with `NewDigest` rather than `ParseReference` as it is now to address this.

Still not sure I 100% understand the idea that tags should

[2020-12-17 23:33] StevenLocke commented on #35
This seems like a good idea, it's unfortunate that there isn't a universal API that we could try to target regardless of registry used. Though, we could always figure out the registry and have a mapping to their endpoints (if available).

What format should this output take? Would this be a part of some automation around e.g. failing a CI if an image has vulnerabilities?  Or is there any automatio

[2020-12-18 01:23] cppforlife commented on #37
one note, we tried to avoid word relocation because we arent relocating anything (this is how we ended with "copy" word as a command).

[2020-12-18 14:49] danielhelfand commented on #13
As an update here, seems like there is an ongoing discussion from @cppforlife with regard to the KEP and whether the KEP could be amended to [change the metadata directory into a hidden directory](https://github.com/kubernetes/enhancements/pull/1481#issuecomment-741889970).

[2020-12-18 16:25] danielhelfand opened #44 "Strange Error When Args are Passed to imgpkg Commands"
**What steps did you take:**

When running `imgpkg pull foo -o /tmp`, you will get the following error message:

[code]

This also happens with `imgpkg push foo` and `imgpkg copy foo`:

[code]

[code]

**What did you expect:**

An error stating that no arguments are accepted by these commands. Maybe also what options are necessary to use each command.

**Anything else you would like to add:**

The

[2020-12-18 16:32] cppforlife commented on #44
this error comes from shared library between our tools: https://github.com/vmware-tanzu/carvel-imgpkg/blob/develop/pkg/imgpkg/cmd/imgpkg.go#L54

[2020-12-18 20:06] danielhelfand commented on #44
Thanks for pointing out. Seeing the helper function [here](https://github.com/vmware-tanzu/carvel-imgpkg/blob/d4982fa6c0aa2ef64e4151e39b91785e437610bf/vendor/github.com/cppforlife/cobrautil/misc.go#L52) where the error originates.

[2020-12-18 23:15] #44 closed, assigned to nobody

[2020-12-21 20:44] danielhelfand opened #46 "TestCopyBundleLockInputToRepoUsingGCloudWithAnExpiredToken is Flaky"
When running tests locally for `imgpkg`, the `TestCopyBundleLockInputToRepoUsingGCloudWithAnExpiredToken` test some times passes but more often fails. It however does not appear to fail in CI. So the best way to reproduce this would be to run tests locally using `./hack/test-all.sh`.

Failure logs shown below:
[code]

[2020-12-21 22:43] danielhelfand commented on #46
The error from the test seems to come from some of the retry logic for the feature this test is covering in `pkg/image/registry.go`.

`retry`: https://github.com/vmware-tanzu/carvel-imgpkg/blob/ce937cc04299136283a7a76174a8581e1bb2cf96/pkg/imgpkg/image/registry.go#L203

or

`retryDefaultKeychain`:
https://github.com/vmware-tanzu/carvel-imgpkg/blob/8599607d6bfccdc6619823612985e2f1f955218c/pkg/imgpkg

[2020-12-23 03:49] danielhelfand opened #49 "Support Remote Files with --file Option for imgpkg push"
**Describe the problem/challenge you have**

For users managing manifests in a different repository than their main projects, there is no way with `imgpkg push -f` to reference folders or files via a url.

**Describe the solution you'd like**

Support pushing folders/files via a url with `imgpkg push -f` like below:

[code]

**Anything else you would like to add:**

This could also assist with edu

[2021-01-04 21:55] cari-lynn commented on #46
After looking into this the timing between acquiring the lock and the retry logic was causing it to be flakey. After reducing the wait time before releasing the lock we fixed this race condition.

[2021-01-04 21:55] #46 closed, assigned to nobody

[2021-01-06 22:46] danielhelfand commented on #35
@DennisDenuto and I were reviewing this further, and we will go ahead and add a story to our backlog to further discuss how to make this happen.

[2021-01-08 16:11] cppforlife commented on #42
fixed as part of https://github.com/vmware-tanzu/carvel-imgpkg/pull/48

[2021-01-11 15:08] cppforlife commented on #49
what would a folder support look like? im not sure single file use case is that common.

im not too hot about this feature since fetching functionality arguably should be in a different tool like vendir, but ive done something similar before in kapp/ytt (hard to tell if its ultimately worth the price though).

[2021-01-11 15:10] cppforlife commented on #40
fixed as part of #48

[2021-01-11 15:28] #38 closed, assigned to nobody

[2021-01-11 15:29] cppforlife commented on #25
lockconfig pkg fixed made available as part of #48.

[2021-01-12 22:14] joaopapereira opened #54 "Keep tag when copying an Image"
**Describe the problem/challenge you have**
Currently, `imgpkg` can retain information about the tag of a bundle but when we try to use it with an image it does not retain it.

**Describe the solution you'd like**

The scenario of copying an image
**Given** a set of files in examples/basic-step-1
**And** create an image in the registry by executing `imgpkg push -i localhost:5000/some-image:v0.5.0

[2021-01-12 22:30] joaopapereira opened #55 "Create a bundle or image directly as a tar file"
**Describe the problem/challenge you have**
In a scenario where the artifact that will be shared is a tar, there might not be a need to use the registry as an intermediary step. This would allow the users to combine the commands `imgpkg push` + `imgpkg copy --to-tar` in a single command and without storing extra images in a registry

**Describe the solution you'd like**

Scenario for images
**Give

[2021-01-12 22:37] gcheadle-vmware commented on #54
Thanks @joaopapereira,

Currently prioritizing this work.

[2021-01-13 00:07] StevenLocke commented on #55
This feels like a good enhancement for imgpkg. One question we'd like to pose is whether this fits into a top level command or should be separated?
i.e. Could this be a subset of `copy` or should we extract it to a `build` command?

At the moment, my understanding is that `tar`s do not have any tagging metadata. If that's a firm requirement, we may want to add that functionality to all of our tar

[2021-01-13 14:45] joaopapereira commented on #55
The idea behind doing this as a separated command is to separate these 2 concerns and also do not overload the `copy` command. Sounds more comprehensive to `build an OCI Image tar from a set of files` than `copy a set of files into an OCI Image tar`. But we can try to talk with some users to better understand if this is the best UX option.

We have an old desired feature to support a --to-tag flag

[2021-01-13 20:31] gcheadle-vmware commented on #25
Closing issue with release of version 0.3.0

[2021-01-13 20:31] #25 closed, assigned to nobody

[2021-01-13 20:31] gcheadle-vmware commented on #42
Closing issue with release of version 0.3.0

[2021-01-13 20:31] #42 closed, assigned to nobody

[2021-01-13 20:32] gcheadle-vmware commented on #40
Closing issue with release of version 0.3.0

[2021-01-13 20:32] #40 closed, assigned to nobody

[2021-01-14 18:39] danielhelfand commented on #55
@joaopapereira do we have enough information here to add this to our backlog?

@ZihanJiang96 would you have an interest in submitting a pr for this?

[2021-01-14 18:42] joaopapereira commented on #55
Yes, I think we have enough information for this implementation. Nevertheless, we should do some UX investigation to ensure that our users understand what the command does.

[2021-01-14 18:44] danielhelfand commented on #13
@cppforlife Any follow up that can be done on your comment [here](https://github.com/kubernetes/enhancements/pull/1481#issuecomment-742563673) to potentially amend the KEP?

[2021-01-14 19:19] ZihanJiang96 commented on #55
Current want I am doing to get a img tar:
[code]
My expectation is something like this, in this case, we never push the image to the registry.
[code]

[2021-01-14 20:00] timothysc commented on #10
Yup, definitely want!

[2021-01-15 15:11] cppforlife opened #57 "e2e tests are messing with global docker config.json"
this is surprising as a user of e2e tests since changes to .docker/config.json affects my other operations on the computer. can we find an alternative way of testing whatever needs to be tested?

[2021-01-15 17:13] cppforlife commented on #13
@danielhelfand bumped the thread there. ultimately we are compatible with that format since folks can just include metadata directory if they need to.

[2021-01-19 14:45] danielhelfand commented on #13
Going to close this then. But please feel free to repoen if there is anything more to be done.

[2021-01-19 14:45] #13 closed, assigned to nobody

[2021-01-19 16:26] aaronshurley commented on #14
# Why
To provide an ability to authenticate against multiple registries, consistent with how `kbld` does.
[Updated link to kbld docs](https://carvel.dev/kbld/docs/latest/auth/#via-environment-variables).

## Details
Use a naming schema that is consistent with `kbld`: `IMGPKG_REGISTRY_HOSTNAME`, `IMGPKG_REGISTRY_USERNAME`, `IMGPKG_REGISTRY_PASSWORD`.

Allow the ability to provide multiple registry

[2021-01-19 20:15] aaronshurley commented on #14
We _think_ that [this documentation](https://carvel.dev/imgpkg/docs/latest/auth/#via-environment-variables) is incorrect. So, there is work to be done here.

[2021-01-19 20:29] aaronshurley commented on #20
Consider doing some upfront research to have some time estimates as to how long it takes to get digests. Use this information to form a more educated opinion on what the UX should be.

[2021-01-19 23:09] braunsonm opened #60 "Ability to extract images from bundles into a registry"
**Describe the problem/challenge you have**
If I would like to transfer a bundle to another, private registry, I would also like the images to be extracted into the registry so they can be used in more contexts than just Kubernetes. For instance if I transfer a bundle to a private registry, all of my images are stored as sha tags on the bundle image. This makes it impossible to run these images in

[2021-01-20 15:40] danielhelfand commented on #57
The test in question is [here](https://github.com/vmware-tanzu/carvel-imgpkg/blob/9d74a8c43e62219757ace4bbde7f5324e60bee75/test/e2e/copy_test.go#L25). Part of the challenge of this feature was how to mock a race condition with gcr that occurs when a gcloud token is expired.

The test alters config.json to shell out to a [script](https://github.com/vmware-tanzu/carvel-imgpkg/blob/9d74a8c43e62219757

[2021-01-20 17:45] danielhelfand opened #61 "imgpkg init Command"
**Describe the problem/challenge you have**

When first creating a Bundle with `imgpkg`, I would like the ability to generate all the contents of the `.imgpkg` directory with a single command. I would like to use this command directly through `imgpkg` and not directly use an additional tool such as `kbld`.

**Describe the solution you'd like**

`imgpkg init -f /files` creates the ImagesLock and Bu

[2021-01-20 18:28] cppforlife commented on #57
briefly looking at code for #33, i see that we added retry logic for this error into NewImageRefDescriptors. from what i can see the retry logic is pretty specific to way of interacting with the registry. i would recommend exploring writing a RetryableRegistry impl for Registry interface that knows how to retry on gcloud error. you can then test that class in isolation at a lower level than e2e.

[2021-01-20 18:31] danielhelfand commented on #60
Just wanted to share the [slack thread](https://kubernetes.slack.com/archives/CH8KCCKA5/p1611095266034800) from the Carvel channel as it contains a lot of good insight on this feature request.

One comment that was particularly interesting was the one below from @cppforlife:

We could see this maybe added as an annotation to the ImagesLock file to help with preserving the image name and tags so th

[2021-01-20 18:40] braunsonm commented on #60
Thanks @danielhelfand the annotations would definitely be very helpful if we had to write our own tool to do this.

[2021-01-21 21:27] joaopapereira commented on #60
After reading the thread I am a little bit confused, let me try to paraphrase what you are asking for.

## Problem
Given a bundle you want to be able to execute `docker run my.private-registry.io/simple-app`

## Right now what are the steps you can do
1. Assuming you already copied the bundle to `my.private-registry.io`
2. Need to download the bundle using: `imgpkg pull -b my.private-registry.io/b

[2021-01-21 21:42] joaopapereira commented on #61
Since I started using the `imgpkg` I feel like we are missing a init command to help bootstrap a bundle. I do have some questions:

1. If the user does not provide metadata for the bundle should we create the `bundle.yml` file?
2. If the user provides some metadata what is the minimum information we would require to create a `bundle.yml` file?
3. Not a fan of creating a dependency between `imgpkg`

[2021-01-21 22:03] braunsonm commented on #60
In order for that solution to work it would be best to have it as part of the images.yml as well with annotations so other tools could be scripted to extract those images to proper paths in a registry.

I'm surprised this extraction of a bundle isn't seen as something imgpkg should do. It leaves you with an image in your registry that is proprietary and you can't undo the bundle.

[2021-01-21 23:21] joaopapereira commented on #60
I am not trying to say this is not a feature that should be part of imgpkg. What I am trying to understand is the problem that we are trying to solve and at the same time what would `extract` command do.

Let me try to get a more concrete example

**Step 1** Bundle created
We have a bundle(`public.registry.io/my-bundle@sha256:cc11`) that has the following 2 images:
`public.registry.io/img1@sha256:

[2021-01-21 23:26] braunsonm commented on #60
Hey @joaopapereira yes that's exactly what I was trying to describe! If another solution is better than please feel free :)

[2021-01-22 16:52] joaopapereira commented on #60
Awesome, so I have been thinking about the implications of this extract command and after talking with other maintainers we have some concerns about this extraction.
`imgpkg` as a tool is responsible for copying images between registries and we ensure that the images you started with are the ones you have after the copy. The SHA of every image will be maintained so that you can be sure that the im

[2021-01-22 18:53] braunsonm commented on #60
Those concerns make sense and the solution would need to be clever. Or the ability to specify your extract location as a destination mapping in the images yml perhaps would be a good compromise since you are accepting your know where the image will end up.

[2021-01-28 22:33] gcheadle-vmware opened #63 "Allow writing a non-distributable layer upstream"
# Context

As part of #62 a 'workaround' solution was found to [ggcr's inability to write a non-distributable layer](https://github.com/google/go-containerregistry/blob/72597da50ce903895087828b5fc4b918636366f4/pkg/v1/remote/write.go#L76-L78).

The workaround solution was to write the 'foreign' layers upfront before trying to write the image manifest.

We decided to proceed with the workaround solu

[2021-01-28 22:39] gcheadle-vmware opened #64 "include non-distributable layers"
This is an **epic** placeholder. The context for this work can be found in https://github.com/vmware-tanzu/carvel-imgpkg/issues/8

[2021-01-28 22:52] gcheadle-vmware opened #65 "Why is imgpkg copy is inefficient"
Explore why imgpkg copy is inefficient.

The copy command takes a very long time to copy a simple image from a repository to a different one in the same OCI registry.
A small image like hello-world takes around 20 seconds to be copied.

I think this is tied to the network which lead us to think that there might be a download and upload of a layer that is already in the registry.

We should investi

[2021-01-28 22:53] gcheadle-vmware opened #66 "Test Performance"
This is an **epic** placeholder. For more specific context, see https://github.com/vmware-tanzu/carvel-imgpkg/issues/65.

[2021-01-28 22:59] cari-lynn opened #68 "Recursive Bundles"
# Why?

**As A** Software Packager
**I want to** Create a bundle to distribute the multiple applications that are part of a deployment
**So that** Application consumers can retrieve all needed software from a single place

# Context
- Requirements proposal https://github.com/k14s/design-docs/tree/develop/imgpkg/002-recursive-bundles

# First Product Increment (MVP)

- Create a bundle that referenc

[2021-01-28 23:07] cari-lynn opened #69 "Identify possible overlay error message categories and apply error message template"
#### What are "helpful error messages"? Ask yourself these five questions to start:
Does the error...
1. focus my attention on the source of the problem?
2. give all of the relevant facts (and none of the irrelevant ones)?
3. consistently use a set of accessible terms?
4. make clear what's wrong?
5. help me figure out how to fix it?

#### What were the results from the initial round of user testin

[2021-01-28 23:08] cari-lynn opened #70 "Improve overlay err msgs"
# Why?

When an overlay matcher’s expectation fails, the error message `ytt` gives falls short of helping most users determine what to do next.

_For more details see the "Problem" and "Analysis" sections in_ [Overlay message errors](https://hackmd.io/_ttxzbpASVCtKUhWSzOMfg?view)

---

# What?

Do this loop until we find a good error message:
1. design a _**little**_ user research to test an idea

[2021-01-28 23:16] #69 closed, assigned to nobody

[2021-01-28 23:16] cari-lynn commented on #69
Issue moved to [vmware-tanzu/carvel-ytt #287](https://github.com/vmware-tanzu/carvel-ytt/issues/287) via [**ZenHub**](https://www.zenhub.com/)

[2021-01-28 23:17] cari-lynn commented on #69
Closed this because it was opened in the incorrect repo

[2021-01-28 23:52] gcheadle-vmware opened #71 "Add `--include-non-distributable` flag to `imgpkg copy`"
## Story

**As a** operator wishing to collect a bundle that includes software that includes non-distributable bits (e.g. Windows-based products) for use in an air-gapped scenario
**I want to** be able to _override_ the default behavior of skipping transferring so-called non-distributable layers ("foreign layers" in the docker manifests, "non-distributable" in OCI manifests)
**and** I want the bit

[2021-01-29 00:04] gcheadle-vmware opened #72 "Proposal: recursive relocation"
Draft a proposal to address #10.
Publish the proposal on GitHub to gather feedback from the team and community.

[2021-02-01 16:19] aaronshurley commented on #8
Consolidating https://github.com/vmware-tanzu/carvel-imgpkg/issues/71 into this issue.

## Story

**As a** operator wishing to collect a bundle that includes software that includes non-distributable bits (e.g. Windows-based products) for use in an air-gapped scenario
**I want to** be able to _override_ the default behavior of skipping transferring so-called non-distributable layers ("foreign layer

[2021-02-01 16:20] aaronshurley commented on #71
Closing this issue since it's a duplicate of https://github.com/vmware-tanzu/carvel-imgpkg/issues/8

[2021-02-01 16:20] #71 closed, assigned to nobody

[2021-02-01 16:30] aaronshurley commented on #72
I'm going to remove this issue so that we keep this conversation contained in https://github.com/vmware-tanzu/carvel-imgpkg/issues/10

[2021-02-01 16:30] #72 closed, assigned to joaopapereira

[2021-02-01 16:46] aaronshurley commented on #70
Closing this issue as it should be in ytt: https://github.com/vmware-tanzu/carvel-ytt/issues/289

[2021-02-01 16:46] #70 closed, assigned to gcheadle-vmware

[2021-02-01 17:49] DennisDenuto commented on #8
Task list:
- Improve error message when the following occurs: copying a repo to a tar without the `--include-non-distr` flag, and then copying from the tar to a repo *with* the `--include-non-distr` flag should fail with a meaningful error message. currently it is failing with a cryptic error message
- recursively iterate through image and imageindexes when printing a warning message to the user.

[2021-02-01 20:03] aaronshurley commented on #10
Proposal: https://github.com/k14s/design-docs/pull/3
Markdown formatted view: https://hackmd.io/b9pHX-S9QXaQ8je1Y8G6XA?view

[2021-02-02 06:55] jorgemoralespou commented on #60
Shouldn't this be a decision of the user and not of the tool. The tool should need to sort this use case, although maybe not make it the default (for the reasons your mention above).
One of the problems of losing the fqn on an image is that it then becomes much more difficult to troubleshoot problems or to even understand if things are at fine.
The user is the one that needs to take this ultimate

[2021-02-03 20:42] trisberg opened #73 "The copy command should allow tag to be specified when copying to-repo"
**Describe the problem/challenge you have**
[A description of the current challenge that you are experiencing.]

Currently I can't specify a tag when using `imgpkg copy -i example/image:tag --to-repo repo.example.com/my/image` so I need to add the tag after looking up the digest and applying it manually

**Describe the solution you'd like**
[A clear and concise description of what you want to happ

[2021-02-04 00:52] StevenLocke commented on #63
[Made the PR](https://github.com/google/go-containerregistry/pull/930) in upstream GGCR. Currently blocked on signing the CLA, unsure if that should be done as an individual or for the company.

After that gets merged, we should use it in imgpkg!

[2021-02-05 15:36] joaopapereira opened #74 "Copy between repositories ignores relocated images"
**What steps did you take:**
1. Create a bundle
[code]
2. Copy bundle to a different registry
[code]
3. Copy the bundle again to a different registry
[code]

**What happened:**
On step 3 images were copied from the original registry

**What did you expect:**
Expect images copied to come from the repository from step 2

**Anything else you would like to add:**
The problem is in https://github.com/v

[2021-02-05 16:38] aaronshurley commented on #8
This was released in [v0.4.0](https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.4.0).

[2021-02-05 16:38] #8 closed, assigned to DennisDenuto, cari-lynn

[2021-02-09 00:31] DennisDenuto commented on #60
We (@StevenLocke and I) think @joaopapereira [recommended solution](https://github.com/vmware-tanzu/carvel-imgpkg/issues/60#issuecomment-764952363) solves the problem of:
1) Discovering the fully qualified name of the image (registry + repo + sha256) so that it may be run by developers / operators
2) We think the new command `imgpkg images` can provide an API for 'scripts/tools' to interact with t

[2021-02-09 02:46] braunsonm commented on #60
Hi @DennisDenuto

The proposed solution doesn't look like it has an easily consumable output for 3rd party tools. Additionally, since this process is going to be mainly automated in our case (transfer the images over at a infrequent basis by some build tool) it would be difficult for developers or operators to figure out what's going on still or finding out the new locations. They would need to wh

[2021-02-09 21:35] DennisDenuto commented on #74
| # images | # distinct images | Time (old) | Time (new) |
---|---| ---|---|
20 | 1 | n/a | n/a

[2021-02-09 22:14] benmoss opened #76 "Traverse symlinks"
**Describe the problem/challenge you have**
I'm symlinking files into my config directory, but when I try to package them with imgpkg I get:

[code]

**Describe the solution you'd like**
I don't see why there needs to be a constraint preventing symlinks from working

[2021-02-09 22:34] gcheadle-vmware commented on #73
Hi @trisberg!

Thanks for making this issue. I think adding this behavior when copying both bundles and images would be a valuable feature for imgpkg. This is something we have considered in the past, and we did not implement it in v0.3.0 of imgpkg (when we added the copy command). However, since you have provided a use case and created this issue, I believe that is enough of a signal to get the b

[2021-02-10 00:06] gcheadle-vmware commented on #76
Hi @benmoss,

`imgpkg` intentionally skips symlinks to ensure better security. I found [the commit](https://github.com/vmware-tanzu/carvel-imgpkg/commit/77494890a636e2a30a1f7764c2e41200ee3c32d6) that reflects this decision, if you would like to take a look.

[2021-02-10 14:43] benmoss commented on #76
Fair enough, it's definitely possible for me to produce a directory with manifests that aren't symlinked, but not sure how this makes things more secure

[2021-02-10 15:31] joaopapereira commented on #76
If you have a symlink that points back to the root of your disk, `imgpkg` would be walking all the files and folders of your disk, which can become a security risk.

One option you have is to use multiple `-f` flags and example:
[code]

If you want to add multiple folders you could try to do
[code]

The only caveat here is that all the folder contents would be placed at the root of the bundle. Do

[2021-02-10 17:18] benmoss commented on #76
Yeah, in my case I was using symlinks to try to simplify the number of directories I would have to enumerate from vendored dependencies. I wanted to get my project to just be able to do to

`imgpkg push -b localhost:5000/test -f config`

[code]

I think maybe vendir can make this possible without symlinks.

[2021-02-10 18:08] aaronshurley commented on #73
Just to provide a brief update here. This is a good signal that we have a known limitation of our ability to interact directly with images (rather than bundles). We aren't planning to prioritize this immediately but we will keep this open as a known feature request. We would happily accept contributions for this.

[2021-02-10 18:23] DennisDenuto commented on #65
The table below shows the performance difference from using `imgpkg copy` with some 'spike' changes to hopefully speed things up.

| Registry | # images | # distinct images | image size | Time (old) | Time (new) |
---| ---|---| ---|---| ---|
dockerhub | 20 | 1 | small | 3.69s user 3.46s system 37% cpu 18.974 total | 2.47s user 2.34s system 28% cpu 17.066 total
dockerhub |20 | 1 | 1 Gb | 45.69s use

[2021-02-10 23:05] #74 closed, assigned to DennisDenuto, StevenLocke

[2021-02-11 17:30] joaopapereira commented on #76
You could also do
`imgpkg push -b localhost:5000/test -f config -f vendor/dep1/foo -f vendor/dep2/bar`

the only caveat would be that foo and bar would be present in the bundle at the root level.

[2021-02-11 23:28] danielhelfand commented on #61
To maybe repurpose/simplify, the [original design docs](https://github.com/k14s/design-docs/blob/6a01ebf87c8e42efe57fceeaed79f9a5d5615604/imgpkg/001-bundles/README.md#imgpkg-init--initialize-a-directory-with-the-bundle-format-) call for initializing a bundle directory (i.e. `.imgpkg`).

Not sure if populating that directory with empty files like the bundle metadata would be valuable to end users.

[2021-02-12 00:17] ewrenn8 commented on #61
At this point, we may as well just add the ability for push to generate the imgpkg dir for you if you specify an images lock, instead of making this a whole new command.

The initial intent of init was to set up a space on disk that is an empty bundle, sort of like git init. It would not create nor push a bundle. This would give the user the correct directory structure with empty metadata files (B

[2021-02-15 16:58] jorgemoralespou commented on #60
What if we allow for a mapping file, so that we can (as the users) decide the name, registry, namespace of the target images when extracted? I understand the implications that doing this automatically by the tool can have but also there's a huge usability problem if the images are renamed into their sha256 and one need to lookup every image they use.

Since this is a problem of relocating a bundle

[2021-02-15 22:16] braunsonm commented on #60
That would be great @jorgemoralespou

Even better if it supports a bit of developer friendly features for auto-completing part of the namespace/name/or tag

[code]

[2021-02-16 14:58] joaopapereira commented on #61
@ewrenn8 I like the workflow that you are suggesting, where init would just create the folder structure and eventually the images.yml empty or we could provide a flag that would point to a file that contains the images lock file and we would just copy it into place. something like this:
`imgpkg init --images-lock /tmp/images.yml`

The Idea of an ignore is also interesting and can be an addon that

[2021-02-16 17:16] benmoss opened #77 "imgpkg copy from lock file does not copy annotations"
**What steps did you take:**

[code]

[code]

[code]

**What happened:**
The `annotations` were dropped when I copied the image

**What did you expect:**
They'd be maintained, so that the mappings of app -> image would be maintained

**Environment:**

- imgpkg version (use `imgpkg --version`): 0.3.0

[2021-02-16 21:52] joaopapereira commented on #77
I was able to reproduce the issue.

The main problem here is that usually the lock file is saved with the bundle, but in this case, no bundle was created so we need to make sure that the output lock file contains the annotations that were present in the initial images lock file.

---

Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog.

[2021-02-16 22:46] joaopapereira commented on #60
Looks like an interesting idea. let me try to attack this problem in a 2 step way.
1. Let's try to norm on what this file would look like
2. Create some use cases scenario to understand what it would involve

Some options for the rename file structure
[code]

Explanation of the attributes:
- `copyStrategy` this might not be present to start with but it could be an interesting way to create more ge

[2021-02-17 15:55] joaopapereira commented on #76
For now, we are going to close this issue as a no-fix.  Feel free to reopen this issue if you find other use cases that we should consider.
The major concern for us is always the security hazard that is associated with follow these symlinks to other parts of the disk (ex: /etc/passwd or other files).

[2021-02-17 15:55] #76 closed, assigned to nobody

[2021-02-17 17:32] pivotaljohn commented on #60
Added "discussion" label to make clear that details around this feature are still being shaped.

[2021-02-17 18:15] jorgemoralespou commented on #60
Why? I understand that for imgpkg the sha256 is the important part, but for humans, tags are important. Being able to identify images easily when copying them around is key.

I would assume that a user would most likely want to preserve the tag of an image as that's something he will understand. I have heard many times many engineers say that images tags are problematic as they can change, but so

[2021-02-17 18:17] cppforlife commented on #60
related: https://github.com/vmware-tanzu/carvel-kbld/issues/79

[2021-02-17 18:34] pivotaljohn commented on #60
That's a helpful reference, @cppforlife.

In fact, I wonder if the need for human-readable names and the ability for the tool to take advantage of predicted repo names if we unpacked the tagging suggestion...

https://github.com/vmware-tanzu/carvel-kbld/issues/79#issuecomment-743236627

Have we sufficiently given this (far simpler) approach enough oxygen?

[2021-02-17 21:20] joaopapereira commented on #60
This was more a statement, saying that we are not able to do it right now, we would have to start storing the tags before we can think about matching per tag.

Moveable tags are a huge problem if you want to ensure that you are running the software you are expecting. I also understand that they are helpful if you do not care about the exact version, something like the ubuntu tags `20.04`.
My assum

[2021-02-17 21:57] jorgemoralespou commented on #60
Definitely the original tag is the value, as the goal is for trackability. I don't really think retagging would provide true value.

[2021-02-17 22:14] pivotaljohn commented on #60
What does "trackability" entail?  Is it a human being able to look at an image reference and have a good guess as to what's inside?

Is there a concern we'd drop the original tag? I was thinking we could keep the original and _also_ tag with a human-friendly moniker.

[2021-02-17 22:20] jorgemoralespou commented on #60
Trackability is being able to know where it came from without much thinking, hence keeping the original tag is important.

[2021-02-17 23:03] pivotaljohn commented on #60
Could someone help me understand what drives the need for the image reference to be _identical_?

I'm not trying to say that there's not a legit reason.  But all the needs I've seen expressed thus far appear to me to be addressable with _very similar_ reference names.

For example, to the original request, what task/tool is foiled if instead of

[code]

it's

[code]

?

There are three motivations

[2021-02-18 23:23] danielhelfand opened #79 "Document Use of the BundleLock File Under the imgpkg Workflow Docs"
In reviewing the [workflow documentation](https://carvel.dev/imgpkg/docs/latest/basic-workflow/) for imgpkg, there is currently no mention of using a BundleLock in the workflows.

It would be helpful to document when someone should make use of a BundleLock file and try and find a way to incorporate it into the workflow docs. While the current [documentation on the concept of the BundleLock](https:

[2021-02-18 23:29] danielhelfand commented on #79
It does seem there are some docs on it under command docs, but they are difficult to locate. Might make sense to directly involve in workflows still and also link to command docs below from where BundleLock is defined under resources.

https://carvel.dev/imgpkg/docs/latest/commands/#generating-a-bundlelock
https://carvel.dev/imgpkg/docs/latest/commands/#pulling-via-lock-file
https://carvel.dev/img

[2021-02-19 00:07] cari-lynn opened #80 "Air gapped workflow doesn't work"
**What steps did you take:**
@DennisDenuto and I ran `imgpkg` in an internetless environment. We copied a tar file to a repository:

0) turn on external access to the internet
1) `./imgpkg copy -i ubuntu --to-tar ubuntu.tar`
2) turn off external access to the internet (but keep access to the internal registry)
3)` ./imgpkg-linux-amd64 copy --tar ./ubuntu.tar --to-repo air.gapped.registry/image`

*

[2021-02-19 15:41] joaopapereira commented on #80
I replicated the issue, but I am not sure that the "What happened" is accurate. If you look at the error message it says `172.19.0.2:80: connect: connection refused` and that IP address is a local IP.
To reproduce the problem in my case I did create a container in my Mac started a registry inside that container, and did:
[code]
Turned off the internet run
[code]

When I turned on the internet I ru

[2021-02-19 16:28] aaronshurley commented on #63
Looks like the PR was merged a couple of weeks back but has not been part of a release yet. Let's keep this issue open until we can consume the upstream changes.

[2021-02-19 16:43] joaopapereira commented on #79
I think we are not showcasing this feature, but it is nice to have it especially if you are doing some sort of automation. Adding maybe a scenario of some sort of automation on the documentation could make it easier to understand the purpose.

[2021-02-19 16:57] danielhelfand commented on #79
It may even be simple enough to link to the command docs on the topic from where the BundleLock definition is documented. Just something to help connect all the pieces of it maybe is enough for now.

[2021-02-19 16:59] jorgemoralespou commented on #60
I don't think they need to be identical, but I do believe that that should be a user's choice, if they so want. In some cases, a user might now be able to relocate/copy images into multiple different registry namespaces to mimic the original location of the images, and sometimes they might.
What I do truly believe is that we need to provide a mechanism that provides the user with a way to identify

[2021-02-19 18:11] DennisDenuto commented on #80
@joaopapereira @cari-lynn
I have been *unable* to reproduce either of the above issues on my machine.

Here are the exact steps I used:

[code]

[2021-02-19 19:58] DennisDenuto commented on #80
@joaopapereira and I paired on this. We feel confident that the airgapped workflow is *not* broken.

specifically, when copying from a tarball to a repo, in an internetless environment, the images *do* come from the tarball. No requests are made to the 'originating' registry.

As for Joao's above comment, the issue there was that the incorrect ip address for the registry was used. i.e. `localhost:

[2021-02-19 19:58] #80 closed, assigned to nobody

[2021-02-19 20:28] joaopapereira opened #81 "Recursive Bundles"
# Why?

**As A** Software Packager
**I want to** Create a bundle to distribute the multiple applications that are part of a deployment
**So that** Application consumers can retrieve all needed software from a single place

# Context
- Requirements proposal https://github.com/k14s/design-docs/tree/develop/imgpkg/002-recursive-bundles

# First Product Increment (MVP)

- Create a bundle that referenc

[2021-02-19 20:31] joaopapereira opened #82 "Create a Recursive Bundle"
## Use Case

**As A** Software Packager
**I want to** Create a bundle to distribute the multiple applications that are part of a deployment
**So that** Application consumers can retrieve all needed software from a single place

## Prerequirements
The following images exist in the registry

- `my.registry.io/bundle-1@sha256:aaaaaaaaaafdfae29258d94a22ae4ad1fe36139d47288b8960d9958d1e63a9d0`
- `my.reg

[2021-02-19 20:32] joaopapereira opened #83 "Retrieve all Bundles referenced by a Bundle to disk"
## Use Case

**As A** Software Packager
**I want to** Create a bundle to distribute the multiple applications that are part of a deployment
**So that** Application consumers can retrieve all needed software from a single place

## Prerequirements
The following images exist in the registry

- `my.registry.io/bundle-1@sha256:aaaaaaaaaafdfae29258d94a22ae4ad1fe36139d47288b8960d9958d1e63a9d0`
  The `.i

[2021-02-19 20:33] joaopapereira opened #84 "Copy Recursive Bundles to tar and import the tar to a registry"
## Use Case

**As A** Software Packager
**I want to** Create a bundle to distribute the multiple applications that are part of a deployment
**So that** Application consumers can retrieve all needed software from a single place

## Prerequirements
The following images exist in the registry

- `my.registry.io/bundle-1@sha256:aaaaaaaaaafdfae29258d94a22ae4ad1fe36139d47288b8960d9958d1e63a9d0`
  The `.i

[2021-02-19 20:34] joaopapereira opened #85 "Copy Recursive Bundles from registry to registry"
## Use Case

**As A** Software Packager
**I want to** Create a bundle to distribute the multiple applications that are part of a deployment
**So that** Application consumers can retrieve all needed software from a single place

## Prerequirements
The following images exist in the registry

- `my.registry.io/bundle-1@sha256:aaaaaaaaaafdfae29258d94a22ae4ad1fe36139d47288b8960d9958d1e63a9d0`
  The `.i

[2021-02-19 20:38] joaopapereira opened #86 "Copy Recursive Bundles from Lock file to registry"
## Use Case

**As A** Software Packager
**I want to** Create a bundle to distribute the multiple applications that are part of a deployment
**So that** Application consumers can retrieve all needed software from a single place

## Prerequirements
The following images exist in the registry

- `my.registry.io/bundle-1@sha256:aaaaaaaaaafdfae29258d94a22ae4ad1fe36139d47288b8960d9958d1e63a9d0`
  The `.i

[2021-02-19 20:38] joaopapereira opened #87 "Copy Recursive Bundles from Lock file to tar"
## Use Case

**As A** Software Packager
**I want to** Create a bundle to distribute the multiple applications that are part of a deployment
**So that** Application consumers can retrieve all needed software from a single place

⚠️ This story might be already fully implemented by issue #86. This story is to ensure we have all the requirements needed in our backlog

## Prerequirements
The following

[2021-02-19 20:39] joaopapereira opened #88 "Document Recursive Bundle feature"
## Use Case

**As A** Software Packager
**I want to** Create a bundle to distribute the multiple applications that are part of a deployment
**So that** Application consumers can retrieve all needed software from a single place

## Acceptance Criteria

### Scenario 1: Recursive bundle documentation
**Given** I access https://carvel.dev/imgpkg
**When** Visit the documentation page
**Then** I can see

[2021-02-19 21:01] #81 closed, assigned to nobody

[2021-02-22 21:11] joaopapereira opened #91 "Remove experimental recursive bundle flag"
## Use Case

**As A** Software Packager
**I want to** Create a bundle to distribute the multiple applications that are part of a deployment
**So that** Application consumers can retrieve all needed software from a single place

## Prerequirements
The following images exist in the registry

- `my.registry.io/bundle-1@sha256:aaaaaaaaaafdfae29258d94a22ae4ad1fe36139d47288b8960d9958d1e63a9d0`
  The `.i

[2021-02-22 21:12] joaopapereira opened #92 "Pull updates all image lock files"
## Use Case

**As A** Software Packager
**I want to** Create a bundle to distribute the multiple applications that are part of a deployment
**So that** Application consumers can retrieve all needed software from a single place

## Prerequirements
The following images exist in the registry

- `my.registry.io/bundle-1@sha256:aaaaaaaaaafdfae29258d94a22ae4ad1fe36139d47288b8960d9958d1e63a9d0`
  The `.i

[2021-02-23 00:38] aaronshurley commented on #81
Note: we're closing this issue because it's a duplicate of https://github.com/vmware-tanzu/carvel-imgpkg/issues/68. I'm going to unlink any issues from this epic.

[2021-02-23 16:50] pivotaljohn commented on #60
Thank you for the additional detail, @jorgemoralespou, @braunsonm, and others.

**TL;DR.** `imgpkg` renames image references during relocation making some real world scenarios unreasonably difficult. Even with _similar_ names, there is a set of non-trivial scenarios requiring significant effort to consume the copied bundle. Carvel tools should be useful alone and even better together — `imgpkg`'s

[2021-02-24 16:10] benmoss opened #93 "Retain executable flag on files in bundle"
**Describe the problem/challenge you have**
Right now when you do an `imgpkg push` to create a bundle it will drop the executable flag on any files, it is hard-coded to create every file in the tarball with 0600: https://github.com/vmware-tanzu/carvel-imgpkg/blob/499b334d53c78a9624f427e96dcb6e1a87dd6d50/pkg/imgpkg/image/tar_image.go#L129

**Describe the solution you'd like**
The executable flag sh

[2021-02-25 21:07] joaopapereira commented on #93
Looks good to me.

We should ensure the following:
- Only add execution permission to files that had execution permission previously

---

Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see this bug fixed as soon as possible"
👎 "There are more impor

[2021-02-26 10:05] danielburrell opened #96 "Provide copy progress feedback"
**Describe the problem/challenge you have**
As a user, I am pushing images to a docker registry as part of an airgap deployment. Sometimes this takes a long time and I'm left wondering if progress is being made. I'm not calling imgpkg directly, it's being wrapped.

**Describe the solution you'd like**
Some sort of parsable output indicating the progress being made as if it were an uploading data f

[2021-02-26 14:37] #82 closed, assigned to joaopapereira

[2021-03-01 14:49] danielhelfand commented on #61
Was thinking about this a bit more and am wondering if some type of plugin model might make sense for an `imgpkg init` command. This would allow a user to specify what tool to use or a script in order to generate the ImagesLock and also create the `.imgpkg` directory.

Through an env variable or through something via the `imgpkg init` command, a user could specify what to shell out to when generat

[2021-03-01 20:46] aaronshurley commented on #84
@joaopapereira We noticed that these scenarios don't mention the `-r`/`--recursive` flag at all. We were curious if that was intentional? If so, could you please share some details about the differences between the `-r` and `--experimental-recursive-bundle` flags?

[2021-03-02 14:47] joaopapereira commented on #84
The `-r / --recursive` flag is only to be used as part of the `pull` command to inform `imgpkg` that we want to pull all the bundles associated with the current bundle or if we do not want to do that. As an example for the copy, you will never have the possibility of only "partially" copying a bundle

The `--experimental-recursive-bundle` flag is just to activate the new logic that will handle rec

[2021-03-02 18:11] DennisDenuto commented on #63
go-container registry released 0.4.1 that contains the PR to non-distributable layers

https://github.com/google/go-containerregistry/releases/tag/v0.4.1

[2021-03-02 22:56] pivotaljohn commented on #96
Complete agreement, @danielburrell.

It'll be a minute...

To do this, we're preparing a contribution to our upstream dependency (we use GGCR for all our direct registry interactions): https://github.com/google/go-containerregistry/issues/952

With progress reports coming in from GGCR, `imgpkg` can then provide that up-to-date status. 👍🏼

Watch this space for updates.

[2021-03-03 20:39] #77 closed, assigned to nobody

[2021-03-04 01:07] ewrenn8 opened #98 "**Explore:** Recursive pulling should be filterable"
**Describe the problem/challenge you have**
Looking at the recursive bundle proposal, we realized we may want to selectively pull bundles referenced from the ImagesLock. For kapp-controller's packaging use case, we would like to only pull bundles that we know are repositories, so that any non repo references in the ImagesLock are not pulled (kapp-controller has no use for these).

**Describe the s

[2021-03-04 18:47] joaopapereira commented on #98
@ewrenn8 thanks for the issue.

After thinking a little bit about this feature I have some questions:
1. This enhancement should only apply to the pull command correct?
1. What would you expect to happen if a user executes the pull command without providing the recursive flag and provide a filter? Currently, this would only pull the configuration for the bundle.
2. On your proposed solution you pr

[2021-03-04 19:03] ewrenn8 commented on #98
1. Yea, this would only apply to pull. I don't think this wouldn't make much sense to implement for copy since it could lead to a lot of unnecessary errors if a bundle is partially copied but users try to pull without the same filter or install things that were excluded from the copy. If it turns out folks really want this on copy, we can give it some more though then.
2. I would expect that scena

[2021-03-04 23:01] iamhsk commented on #98
@ewrenn8 Could you tell me more why kapp-controller would like to only pull repositories? What benefits does it provide to end-users besides the fact that may speed up the pull operation?

[2021-03-04 23:13] ewrenn8 commented on #98
When making packages available to a cluster via a repo, kapp-controller only cares about bundles that are repos, since those are the only ones that will contain package CR yamls. Due to the nature of bundles, each repo's ImagesLock will also reference bundles used by the packages to store their k8s manifests, which kapp-controller has no use for, so we'd like to avoid pulling them and consuming di

[2021-03-05 18:51] joaopapereira commented on #61
The generator is an interesting idea, nevertheless, this would require `imgpkg` to understand how to call `kbld` to generate this lock file, and in the future when we would like to introduce a new lock generator we would have to add some specific logic for it. This is not unheard of since we do something very similar with `kbld`.

[2021-03-08 20:29] aaronshurley commented on #93
When you pick up this story, discuss the possibility of keeping the ownership bits.

[2021-03-08 22:46] #84 closed, assigned to joaopapereira

[2021-03-10 23:46] #85 closed, assigned to joaopapereira

[2021-03-15 21:06] DennisDenuto commented on #96
There has been a [PR submitted upstream](https://github.com/google/go-containerregistry/pull/967) to go-container-registry that should allow improving the status feedback from imgpkg.

Once that PR has been merged in, and a new version of go-container-registry has been released, we should be able to work on this.

[2021-03-18 20:47] ewrenn8 opened #107 "Imgpkg will use http for in cluster service dns names"
**What steps did you take:**
1. Start a minikube or kind cluster locally
2. Deploy a registry with self signed certs to the cluster (registry.yml in https://gist.github.com/ewrenn8/ab66e8df50b7a79905b3ba7fefcd0aa0)
Note: the certs in the gist aren't used anywhere, so they're ok to include in the issue

3. deploy a debug image with a terminal and imgpkg (debug.yml in https://gist.github.com/ewrenn8

[2021-03-18 20:49] pivotaljohn opened #108 "Document support for HTTP proxies"
**Describe the problem/challenge you have**
I wanted to know whether `imgpkg` supported proxies. But the documentation is silent on the subject.

**Describe the solution you'd like**
A (small) section describing how to configure that (or point to clear step-by-step instructions on how to do so).

**Anything else you would like to add:**
This was answered in a Slack message: https://kubernetes.slac

[2021-03-22 18:52] aaronshurley commented on #98
Let's use this story to propose a solution (consider the UX, is there a general way to reference bundles?).

Expected outcome:
- a well-defined story
- identified blockers

[2021-03-22 20:30] StevenLocke commented on #107
:+1: Validated and got the same results, attempts on both https and http.

[code]

I tried playing with the go playground to see if I could get the registry name to match the regex but didn't have any luck. Worth further investigation.

[2021-03-24 17:13] aaronshurley commented on #108
This makes sense to add. Moving this to the Unprioritized Backlog for now so that we can group it with other documentation improvements. Contributions are welcome :)

[2021-03-29 13:44] joaopapereira opened #111 "Cryptic error message when copying tar to repository"
**Describe the problem/challenge you have**
When copying a tar, or a bundle to a repository, when the destination provided in the command line contains a tag, or have no repository, or is malformed in some way the error message is not very helpful
ex:
[code]

**Describe the solution you'd like**
`imgpkg` should be able to replace the message that is provided by the ggcr library with an easier unde

[2021-03-29 16:33] cppforlife opened #112 "rename copy's --include-non-distributable to --include-non-distributable-layers"
better naming for the flag. this is a breaking change but we are pretty early with this functionality.

- [x] update docs on the website

[2021-03-31 17:14] aaronshurley commented on #112
@DennisDenuto @joaopapereira @pivotaljohn any thoughts on this flag rename?

If we move this to `carvel-accepted` then we could likely prioritize it sooner than later since this feature hasn't been available for too long.

[2021-04-01 22:36] cppforlife opened #115 "confusing error message when directory is not a bundle directory"
[code]

seems like we can improve error message to indicate that this directory is not a bundle and needs to have a .imgpkg if it wants to be one. also what's up with trailing `:`?

[2021-04-01 23:57] DennisDenuto opened #116 "Pulling a nested bundle should allow filtering"
# Use Case
As an Application consumer
When consuming a Bundle that contains *lots* of Nested Bundles
I want control over which Nested Bundles are pulled
So that less compute and storage resources are consumed
And to reduce the time it takes to pull Nested Bundles

# Description

Introduce a new flag `--recursive-filter` to the `pull` command, accepting multiple filters to apply when pulling a Bund

[2021-04-02 14:28] cppforlife commented on #116
note that annotations type is map[string]string, so `BUNDLE-2-ANNOTATION: true` would not be valid value.

i would propose something like `-r --recursive-filter BUNDLE-2-ANNOTATION=`.

[2021-04-02 23:23] DennisDenuto commented on #112
It is a slightly better name than what we have. Engineering wise, assuming we are not concerned with backwards compatibility, it is a *really* cheap change to make.

If we are concerned with backwards compatibility, we could keep a 'hidden' flag with the old name (`--include-non-distributable`)

[2021-04-05 16:46] DennisDenuto opened #118 "[UX] Pulling a nested bundle should allow filtering"
# Use Case
As an Application consumer
When filtering nested bundles
I want useful output being emitted from imgpkg
So that I easily debug / fix any issues using the tool

# Description
When using the `--recursive-filter` flag on the `pull` command, without also providing the `--recursive` flag, a useful warning message should be displayed to the user.

[2021-04-05 18:06] aaronshurley commented on #10
This work has been completed and released as a part of [v0.6.0](https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.6.0).

[2021-04-05 18:06] #10 closed, assigned to joaopapereira

[2021-04-05 18:20] aaronshurley commented on #98
Follow-up implementation stories have been created:
- https://github.com/vmware-tanzu/carvel-imgpkg/issues/116
- https://github.com/vmware-tanzu/carvel-imgpkg/issues/118

Closing this issue.

[2021-04-05 18:20] #98 closed, assigned to DennisDenuto, StevenLocke

[2021-04-05 18:22] aaronshurley commented on #88
Completed with this PR being merged: https://github.com/vmware-tanzu/carvel.dev/pull/81

[2021-04-05 18:22] #88 closed, assigned to DennisDenuto

[2021-04-05 22:25] aaronshurley commented on #92
Closed by https://github.com/vmware-tanzu/carvel-imgpkg/pull/109. Available in v0.6.0.

[2021-04-05 22:25] #92 closed, assigned to DennisDenuto, gcheadle-vmware

[2021-04-05 22:25] aaronshurley commented on #91
Closed by https://github.com/vmware-tanzu/carvel-imgpkg/pull/113. Available in v0.6.0.

[2021-04-05 22:25] #91 closed, assigned to DennisDenuto

[2021-04-05 22:26] aaronshurley commented on #87
Closed by https://github.com/vmware-tanzu/carvel-imgpkg/pull/106. Available in v0.6.0.

[2021-04-05 22:26] #87 closed, assigned to nobody

[2021-04-05 22:27] aaronshurley commented on #86
Closed by https://github.com/vmware-tanzu/carvel-imgpkg/pull/104. Available in v0.6.0.

[2021-04-05 22:27] #86 closed, assigned to DennisDenuto

[2021-04-05 22:27] aaronshurley commented on #83
Closed by https://github.com/vmware-tanzu/carvel-imgpkg/pull/100. Available in v0.6.0.

[2021-04-05 22:27] #83 closed, assigned to DennisDenuto

[2021-04-05 22:35] DennisDenuto opened #119 "[Docs] Pulling a nested bundle should allow filtering"
# Use Case
As an Application consumer
When filtering nested bundles
I want to read friendly, easy to learn documentation
So that I learn about the capabilities of the pull command
And so that I can easily use / debug / fix any issues using the tool

# Description

📚 Documentation: Navigation
Given I want to learn how to filter a nested bundle
When I navigate through imgpkg documentation
Then I int

[2021-04-05 22:43] aaronshurley opened #120 "Pulling Filtered Nested Bundles"
# Why?
As an Application consumer
When consuming a Bundle that contains lots of Nested Bundles
I want control over which Nested Bundles are pulled
So that less compute and storage resources are consumed
And to reduce the time it takes to pull Nested Bundles.

## Additional Context
- Follow-up features to the [recursive bundles epic](https://github.com/vmware-tanzu/carvel-imgpkg/issues/68).

# Stor

[2021-04-05 22:45] aaronshurley commented on #68
Moving the second iteration to its own epic #120.

[2021-04-05 22:45] aaronshurley commented on #68
We completed this epic and it was released as a part of v0.6.0.

[2021-04-05 22:45] #68 closed, assigned to joaopapereira

[2021-04-05 22:47] aaronshurley commented on #63
This issue was resolved in https://github.com/vmware-tanzu/carvel-imgpkg/pull/110 and released in v0.6.0.

[2021-04-05 22:47] #63 closed, assigned to DennisDenuto, StevenLocke

[2021-04-05 22:48] aaronshurley commented on #64
This epic was completed as a part of v0.6.0.

[2021-04-05 22:48] #64 closed, assigned to DennisDenuto

[2021-04-05 22:49] #65 closed, assigned to DennisDenuto, cari-lynn

[2021-04-05 22:49] aaronshurley commented on #65
This issue was resolved as a part of https://github.com/vmware-tanzu/carvel-imgpkg/pull/95 and was released in v0.6.0.

[2021-04-05 22:50] aaronshurley commented on #66
This epic was completed and released in v0.6.0.

[2021-04-05 22:50] #66 closed, assigned to nobody

[2021-04-05 22:56] DennisDenuto commented on #14
TODO:

- [x] backfill tests for env_registry.go from kbld
- [x] backfill imgpkg token and anon keychains
- [x] test cleanup env_keychain_test.go?
- [x] Should we introduce a 'breaking change' from currently supporting "IMGPKG_USERNAME" && "IMGPKG_PASSWORD" to "IMGPKG_REGISTRY_USERNAME" && "IMGPKG_REGISTRY_PASSWORD"?
- [x] If we change imgpkg's registry environment variables to use "\_REGISTRY\_" t

[2021-04-06 20:38] DennisDenuto commented on #14
Currently imgpkg supports env variables:

`IMGPKG_USERNAME` && `IMGPKG_PASSWORD ` && `IMGPKG_TOKEN` && `IMGPKG_ANON`

As part of this story we will *not* remove these env variables, but in order to be consistent with kbld, will introduce new `IMGPKG_REGISTRY_*` env variables.

[2021-04-07 20:10] joaopapereira commented on #111
Going to accept this story as a UX improvement.

[2021-04-07 20:14] joaopapereira commented on #112
I like the improvement, going to accept the story.
In my point of view, I think we should keep the old flag, but hide it. We can provide the following message (in STDERR) if the user includes the old flag:
`The flag "--include-non-distributable" is deprecated and will be removed in the near future. Please use the flag "--include-non-distributable-layers" instead.`

[2021-04-07 21:36] gcheadle-vmware commented on #115
Agreed. This error message should be improved, I was able recreate this issue by running from the imgpkg repo root dir:
[code]

When adding an `.imgpkg` dir with no `imagesLock` file to the basic-step-1 dir, and then running the same command, I get:
[code]
I think this error is better, but I feel the message should also include explicit information about bundles requiring an
`.imgpkg/images.yml` f

[2021-04-08 00:14] cppforlife commented on #112
my 2c: especially for less commonly used flags it's ok _for now_ to have a bit of breaking functionality since we are pre v1.

[2021-04-08 15:27] joaopapereira commented on #112
After talking with the requester of the feature I think it is ok to just do the breaking change.
So changing the recommendation to rename the flag.

Since this is a small change I believe we can skip the acceptance criteria. Accepting the story

[2021-04-08 15:28] joaopapereira commented on #112
@aaronshurley we should prioritize this story since we are planning in doing a breaking change

[2021-04-12 16:32] StevenLocke opened #123 "Publish imgpkg to TanzuNet"
Why?

We want people to be able to consume imgpkg off of TanzuNet. We'd like imgpkg available on TanzuNet alongside the other tools in the suite.

TODO:
- [x] Learn how the other tools are made available (check the index?)
- [x] Provide an `access_token` to the `github-releases` resource so we don't get rate limited in the future.
- [x] Add license file generation to all tools in concourse - maybe

[2021-04-12 16:41] StevenLocke commented on #123
The current system works via concourse at [hush-house](https://hush-house.pivotal.io/). We'll continue to use this system, adding in imgpkg, and further inquiring about whether OSL is needed.

Update: OSL is needed and is supposed to be version specific for each tool. We're working on getting norsk pipelines for the tools, such that we can provide their dependencies to OSM and they'll give us the

[2021-04-12 19:13] aaronshurley commented on #96
Before starting this work, let's add some acceptance criteria here so that we consider what the UX will be.

[2021-04-12 23:32] StevenLocke commented on #96
### Current `imgpkg copy` output during a copy of cf for k8s:

[code]

### Progress Bar

Showing bytes copied, total bytes to copy, a percentage of those two, and an estimate for time remaining.
[code]

Notes:
* There are libraries that could help us render a progress bar, and hopefully the time remaining as well.
* This removes the "a -> b" text, showing the old and new registries. Is that valuab

[2021-04-13 08:51] danielburrell commented on #96
These sound great if they can be achieved!

Just one thing to note, from my minimal understanding of how these console based progress bars work, they use special characters to move the cursor/redraw characters on screen, and these special characters tend to not play well with CI systems (specifically the log files). We should be careful to ensure that anything using these special characters can be

[2021-04-13 14:34] jorgemoralespou opened #124 "Create a describe command for a bundle"
**Describe the problem/challenge you have**
As a user I want to know the contents of a bundle before pulling it completely down. Specifically what's really important is to know the images in the bundle (and dependent bundles) as when I copy (relocate) a whole bundle (and images) I would want to know what happened and why.

**Describe the solution you'd like**
I would want a command like:

`imgpkg

[2021-04-13 14:35] jorgemoralespou commented on #124
Also related: https://github.com/vmware-tanzu/carvel-community/tree/develop/proposals/imgpkg/002-recursive-bundles#list-images-in-bundle

[2021-04-13 16:45] DennisDenuto opened #125 "Copying a tar with an ImageIndex crashes"
**What steps did you take:**
1. Create a tarfile with an imageindex named `tar-with-image-index.tar`
2. imgpkg copy --tar ./tar-with-image-index.tar --to-repo some/repo
[code]

**What happened:**
imgpkg crashed

**What did you expect:**
copy command to succeed

**Anything else you would like to add:**
https://github.com/vmware-tanzu/carvel-imgpkg/blob/274d5a2cfc9518d2a453290035c43b752d2f490d/pkg/i

[2021-04-13 17:47] DennisDenuto opened #127 "Copying from a tarfile fails if the image doesn't exist in the registry anymore"
**What steps did you take:**
1. Create a bundle that references img1
2. Copy the bundle to a tarfile
2. delete img1 from  Registry A
3. copy from the tarfile to Registry A

**What happened:**
[code]
**What did you expect:**
Copy to succeed

**Anything else you would like to add:**
imgpkg copy is trying to create a mountable object by querying the registry. Either change it to only copy the image f

[2021-04-13 19:56] cppforlife commented on #127
i think it would great if we can avoid making a network request from an air-gapped environment to external registry.

[2021-04-13 23:20] DennisDenuto commented on #127
The fix in PR https://github.com/vmware-tanzu/carvel-imgpkg/pull/128 will *only* make a network request `Get` image Manifest *if* the source and destination registry url's match.

We are making the assumption that in an airgapped environment, practically speaking the registry URL's will be different.

Technically however, it is possible that a public registry and an airgapped registry share the sa

[2021-04-14 14:16] iamhsk commented on #20
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see this bug fixed as soon as possible"
👎 "There are more important bugs to focus on right now"

We are also happy to receive and review Pull Requests if you want to help fix this issue.

[2021-04-14 14:52] iamhsk commented on #49
At this point we don't see a strong use case for this issue so moving back to `carvel-triage`. If we find a use case in the future, we can change it back to `carvel-accepted`.

[2021-04-14 15:27] danielhelfand commented on #49
I think we should just close it then and wait for someone to ask for this as a use case in a new issue. That can be a better way to determine if it's useful or not.

I think we probably should not mark something as `carvel-triage` that has already been triaged or accepted. We should just say the issue is not prioritized at the moment or close it.

[2021-04-14 20:02] joaopapereira commented on #49
@danielhelfand I think your comment makes sense. So after talking with @iamhsk we decided to close this issue for now.

Feel free to reopen this issue in case a strong use case has come to light.

[2021-04-14 20:02] #49 closed, assigned to nobody

[2021-04-14 21:01] cppforlife opened #129 "imgpkg pull time -b perf should not be influenced by number of referenced images"
**Describe the problem/challenge you have**

Currently `imgpkg pull -b` checks on every referenced image to rewrite images.yml. This may lead to slow down of imgpkg pull as bundle grows in number of referenced images. How can we decouple perf of imgpkg pull from number of referenced images.

(On a related topic, interesting use case: user is able to download bundle image but not authorized to down

[2021-04-15 22:20] DennisDenuto commented on #125
Fixed as part of https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.6.1

[2021-04-15 22:20] #125 closed, assigned to DennisDenuto

[2021-04-15 22:20] DennisDenuto commented on #127
Fixed as part of https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.6.1

[2021-04-15 22:20] #127 closed, assigned to nobody

[2021-04-15 22:20] cari-lynn commented on #124
Hey @jorgemoralespou to get more clarification on the why here, is the reason this command is needed because after relocating a bundle, you want to verify prior to downloading them that
1) all the images in the bundle now live in the destination registry
and
2) If the images were renamed (following a strategy from the [renaming proposal](https://github.com/vmware-tanzu/carvel-community/pull/22)),

[2021-04-15 23:00] DennisDenuto opened #130 "Improve debugging failures"
### Acceptance Criteria:
Provide debugging feature to imgpkg to expose ggcr logs.
#### Scenario 1: Debug flag is listed in docs and help text
**As an** imgpkg user looking for information about debugging
**I want** to see information explaining the debug flag in both the docs and help text
**So that** I know to expect logs providing visibility between imgpkg and a registry, if debug is toggled on.

[2021-04-15 23:28] DennisDenuto commented on #123
I attached a package “imgpkg 0.6.0” to the OSM release “imgpkg 0.6.0"
And, I created a new product “imgpkg” with a version called “Latest” to use in our norsk pipeline.

The above 2 are pending OSPO approval.

[2021-04-16 12:10] jorgemoralespou commented on #124
Correct. That mostly summarizes the ask. Also, not only after a relocation, but I would want to get detailed information on a bundle's content. A bundle might have been transported/relocated from 0 to multiple times, and I want to get details on the bundle contents.

[2021-04-19 14:34] iamhsk commented on #60
Check out a [proposal doc](https://github.com/vmware-tanzu/carvel-community/tree/003-copy-bundles-with-rename/proposals/imgpkg/003-copy-bundles-with-rename) on possible solution for this issue.

[2021-04-19 16:57] cari-lynn commented on #124
Do you want to see details on the bundles contents in order to verify that all the files were copied successfully? Or is there another reason that this information is helpful? I'm trying to drill down exactly what use case we are addressing here.

Is seeing the file names and directory structure the kind of information that you need? For example something like this (copied from [here](https://gith

[2021-04-19 19:26] jorgemoralespou commented on #124
It's not the files (we assume the files are copied always ok, why wouldn't they?). It's the content of the files (e.g: content of images.yml). What can change in every copy operation.

[2021-04-19 22:23] ewrenn8 opened #131 "Imgpkg fails to pull a bundle if a registry does not support the HEAD call."
**What steps did you take:**

We have discussed the steps to reproduce internally. Essentially, if a repo does not support the HEAD call on the manifests endpoint, imgpkg will error when checking for image existence, even if the image does exist.

**What happened:**
Bundle failed to pull

**What did you expect:**
Bundle to successfully be pulled since references image does exist and is publicly av

[2021-04-19 23:34] DennisDenuto commented on #131
wrt the 'fallback' behavior that crane uses, after some more thought there are concerns around performance and hitting rate limiting with registries such as dockerhub. (Dockerhub rate-limiting counts `GET` requests but not `HEAD`)

`imgpkg` uses `HEAD` `/manifest` to determine if a bundle has been relocated (imgpkg will short-circuit the loop upon encountering the first image in the bundle that do

[2021-04-20 14:34] joaopapereira commented on #124
Just a clarification, the files inside the Bundles will never change, even in the copy process, or else we would have a different SHA between copies.

@jorgemoralespou let me know if this makes sense in terms of UX

[code]

[2021-04-20 14:45] jorgemoralespou commented on #124
@joaopapereira I think that even if the files don't change, @cari-lynn might have a point in that showing the files (structure) might be good as a `describe` command, specifically since it shows nested bundles, or it can show other things like that there's overlays in the bundle, etc... (e.g: a package bundle)

Maybe, there should be two different outputs based on flags, to not output too much inf

[2021-04-20 14:58] joaopapereira commented on #124
I think it makes sense to have this information in some way flag-dependent, something like `--show-images`, `--show-fs-layout`, `--show-all`.

Nevertheless, I would like to first try to understand what, in your opinion, is the Most Valuable information that we should surface from the start. After that, we can evolve this command to have more information as we have more user feedback for it.

[2021-04-20 18:02] jorgemoralespou commented on #124
I think that:
- For bundles that have not been relocated: contents of the bundle is the most important part. FS structure and images list
- For bundles that have been relocated, probably images list with original source location, and then possibly FS structure.

That really doesn't bring down the list much :-D

[2021-04-20 20:59] cppforlife commented on #131
i think this becomes very complicated for tools that wrap imgpkg (like kapp-controller) -- package authors definitely do not know what registry will be used. package consumers probably shouldnt be configuring this kind of low level details. we should also probably think of this issue in context of https://github.com/vmware-tanzu/carvel-imgpkg/issues/129.

love seeing this detail. it's interesting

[2021-04-21 00:55] DennisDenuto commented on #131
Thank you! and no we are just transferring manifest, I am guessing the perf hit is really on the dockerhub registry side... perhaps the manifest json resides on a slower db optimized for read/write, and the digest lives on a db optimized / cached for read? - explains why `HEAD` isn't rate-limited?)

True 💯

They probably won't have to 9/10 of the time. But it is there when they encounter a 'strang

[2021-04-22 18:04] iamhsk opened #132 "Improve imgpkg copy UX when copying big bundles"
**Describe the problem/challenge you have**
When copying a big bundle with lots of images and nested bundles, it takes a long time and users do not get any feedback on what is happening after they run the `imgpkg copy` command. This is happening for both copying `--to-tar` and `--to-repo`.

**Describe the solution you'd like**
As a user, I would like to have some visibility into what is going on b

[2021-04-26 22:50] pivotaljohn commented on #124
@jorgemoralespou — it can really help to drill down to the _why_, here. Often a solid clue comes from how the information gets used.

We haven't yet explicitly stated it, here, but I assume this is because it's expensive (in time, in rate limit, in bandwidth) to just pull down the bundle.
Are these important sources of waste that this feature would mitigate?

As we've teased out in this issue, so

[2021-04-27 16:21] jorgemoralespou commented on #124
This one is perfect as this was the use case I had in mind.

This one not sure how valuable it is. Not sure yet if I would need to poke various bundles for one with a set of images I want.

For this one, I don't really mean proving provenance as the fact that needs to be signed, but when an image is relocated and depending on the strategy selected (based on the imgpkg copy spec in progress), I wou

[2021-04-29 21:35] joaopapereira opened #136 "Generate Location OCI Image"
**Describe the problem/challenge you have**
Scenario: When a Bundle is present in Registry `registry.io` and the images are in `other.reg.io`.
Basically, this scenario happens when a user does `imgpkg push` of a bundle but not execute `imgpkg copy`.

Given that `other.reg.io` needs credentials to download an Image
When executing `imgpkg pull` `imgpkg` tries to check if the Images are present in th

[2021-04-30 00:29] voor commented on #37
Comment from slack discussion on this issue:

This makes sense to me, since you are technically copying your config from your local directory to a repository along with the associated images.

[2021-04-30 22:12] pivotaljohn commented on #61
This seems like a viable idea that is in the midst of discussion: adjusted labels accordingly.

[2021-05-03 14:53] joaopapereira opened #138 "Add automated testing against well known registries on commits and releases"
### Acceptance Criteria:
**As a contributor to imgpkg**
I want to have confidence that my changes did not introduce inconsistent behavior on different registries.

**When a new commit is pushed to imgpkg**, I expect to see github actions running integration tests on:
- [x] Harbor
- [x] GCR

**When a new release of imgpkg is cut**, I expect to see github actions running integration tests on:
- [x]

[2021-05-03 15:24] joaopapereira commented on #131
The major issue that I see with the Get as a fallback, is the time hit that we will get for Bundles that were never copied, and only pushed. But if do not have a nicer way to approach this I think we might need to bite the bullet here.

I split the above into story #138

[2021-05-03 19:28] joaopapereira commented on #112
Implemented in version v0.7.0

[2021-05-03 19:28] #112 closed, assigned to joaopapereira

[2021-05-03 19:36] joaopapereira commented on #14
Delivered as part of release v0.7.0

[2021-05-03 19:36] #14 closed, assigned to DennisDenuto, StevenLocke

[2021-05-03 19:37] joaopapereira commented on #132
The main improvements were shipped on version v0.7.0.
The only missing part is the inclusion or not of the spinner that is asked for in this story. Keeping this issue open until we solve this question

[2021-05-05 13:01] carlisia commented on #115
👋 I'm going to take a stab at this.

[2021-05-05 13:51] joaopapereira commented on #115
let us know if you need any help 😄

[2021-05-05 13:56] carlisia commented on #115
Just a qq: I noticed at least some of those test could be in a table test structure. Is it ok to do that or you are trying to avoid it for these tests?

[2021-05-05 13:56] carlisia commented on #115
*some of the tests in the `push_test.go`, which is where I'm adding cases to test the validation logic I'm adding.

[2021-05-05 15:23] joaopapereira commented on #115
We have been trying to move our tests into a `t.Run` style, like https://github.com/vmware-tanzu/carvel-imgpkg/blob/develop/pkg/imgpkg/bundle/bundle_images_lock_test.go, and replace manual `t.Fatalf` with `testify` assertion framework.
I think we are ok with a table test format in general, just let's make sure we gain readability in these tests 😃

[2021-05-07 13:44] cppforlife opened #142 "PlainImage should not fall back onto first image in the image index"
Currently imgpkg pull and copy end up pulling/copying first image of the image index. This is quite misleading because copy succeeds but actually does not copy image index (and other images in it). For pull it's surprising as well -- it's probably better to return an error to let the user know to give single image reference.

(i realized this when trying to `imgpkg copy -i nginx@sha256:... --to-re

[2021-05-07 13:49] joaopapereira commented on #142
When you are talking about the pull here, what do you see happening?
If you execute `imgpkg pull` we do not download any image.

[2021-05-07 13:55] joaopapereira commented on #142
this is a `imgpkg copy -i` so we do download the image info

[2021-05-07 19:32] #115 closed, assigned to carlisia

[2021-05-07 20:24] joaopapereira commented on #136
Acceptance criteria:

**Scenario 1:** 🟢 Copy bundle only with image creates locations image
**Given** I create a bundle executing `imgpkg push -b localhost:5000/new-bundle:bundle -f examples/basic-step-2`
**When** I copy the bundle executing `imgpkg copy -b localhost:5000/new-bundle:bundle --to-repo localhost:5000/new-location`
**Then** I should see a success message
**When** I execute `imgpkg pul

[2021-05-07 20:32] joaopapereira opened #144 "Change default tag added the imgpkg"
**Describe the problem/challenge you have**
**As a** Registry Operator
**I want to** be able to create an easy and predictable replication rule
**So that** I can replicate `imgpkg` Bundles between registries

Today `imgpkg` when copies a Bundle between registries, adds 1 tag to each image. That tag is built using the following formula `imgpkg-{Algorithm}-{Image SHA}`.

Nevertheless, we expect in t

[2021-05-10 18:31] joaopapereira opened #146 "When copying a bundle that have images in a private registry copy fails"
**What steps did you take:**
Scenario: When a bundle has images that are in a private repository, copy the bundle to a different registry. When trying to copy the bundle again, imgpkg reaches the original location instead of the location the bundle is being copied from.

Private repository:
repo.io/my-img

1. Push bundle to public.repo.io/my-bundle that includes `repo.io/my-img`
2. Copy bundle fro

[2021-05-10 21:12] iamhsk opened #147 "Copy Cosign Signature with The Rest of the Images"
**Describe the problem/challenge you have**
Currently we don't have a clear path to copy signatures with images.

**Describe the solution you'd like**
Test out copying signatures using cosign

**Anything else you would like to add:**
N/A

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of t

[2021-05-11 14:08] joaopapereira commented on #96
Shipped with version 0.7.0

[2021-05-11 14:08] #96 closed, assigned to joaopapereira

[2021-05-11 14:08] joaopapereira commented on #93
Shipped with version 0.7.0

[2021-05-11 14:08] #93 closed, assigned to joaopapereira

[2021-05-18 20:39] cppforlife opened #150 "ImageSet#Import panic for internal inconsistency"
**What steps did you take:**

[code]

**What happened:**

[code]

seems like we are not checking against err != nil and adding to importedImages regardless (https://github.com/vmware-tanzu/carvel-imgpkg/blob/69d89d174f943959b44840a7915ae618d9ecc871/pkg/imgpkg/imageset/image_set.go#L127-L129). that would be fine, but we are actually pretty strict in Add implementation so will error out with above p

[2021-05-19 16:02] cppforlife commented on #20
i think we should also add sibling command, something like `imgpkg tag resolve foo:v1.0.0` to return digested ref so that users are able to get an immutable reference (even though this overlaps with kbld, i think it makes sense since we are providing `imgpkg tag list`)

[2021-05-20 14:37] joaopapereira commented on #54
Released in version 0.8.0

[2021-05-20 14:37] #54 closed, assigned to joaopapereira

[2021-05-20 14:37] joaopapereira commented on #146
Released in version 0.8.0

[2021-05-20 14:37] #146 closed, assigned to joaopapereira

[2021-05-20 14:39] joaopapereira commented on #144
Released in version 0.8.0

[2021-05-20 14:39] #144 closed, assigned to joaopapereira

[2021-05-20 14:40] joaopapereira commented on #131
Released in version 0.8.0

[2021-05-20 14:40] #131 closed, assigned to joaopapereira

[2021-05-20 19:34] cari-lynn commented on #150
Hey @cppforlife how did you create the tar file that produced this panic? It looks based on the panic that the image reference was malformed, however`imgpkg` has strict validation on image references that it won't let you create a tar with an image reference with zero or more than one `@`'s.

If we're able to reproduce this, it would be a better user experience if this panic could be caught and re

[2021-05-25 21:39] cari-lynn commented on #150
This panic can appear when a network call fails, for example here:
https://github.com/vmware-tanzu/carvel-imgpkg/blob/69d89d174f943959b44840a7915ae618d9ecc871/pkg/imgpkg/imageset/image_set.go#L324
Since we are not checking the error (as @cppforlife described above) before calling `importedImages.Add(processedImage)` there is a panic.

To fix this issue, check the error returned from `i.tagAndVerif

[2021-05-26 17:19] pbarker opened #153 "Add annotations/labels to bundle"
**Describe the problem/challenge you have**
OCI images would be a great place to store machine learning models. ImgPkg works as expected with storing a generic model file, however there are times in which you may want to select between different model versions based on metadata such as the training score or dataset used.

**Describe the solution you'd like**
I would like to add basic metadata to b

[2021-06-01 14:39] joaopapereira commented on #153
Hey @pbarker
I was looking at this issue and was trying to understand the ask here. From what I am reading I see 2:
1. Have the ability to add annotations to an image using `imgpkg`
1. Have the ability to, given a repository, filter the images present in that repository

Is this accurate?

Trying to think I would work for your use case. `imgpkg` has the ability to bundle a group of OCI Images toge

[2021-06-01 15:02] joaopapereira commented on #142
I tried the following:
1. Copy nginx:latest to a local registry
[code]
2. Download the arm64 Linux OCI Image by SHA and it fails
[code]

Looks like that the first hint that this is not working 100% is in the output of the copy command. `imgpkg` should have copied 8 images + the index image itself but from the output, only 1 image is being copied.

In a different topic, the output of the copy comma

[2021-06-01 15:07] joaopapereira commented on #138
For the integration with harbor, I found that we could stand up an instance using https://github.com/bitnami/bitnami-docker-harbor-portal/blob/master/docker-compose.yml so maybe we could just start a container to do this.

I think we can split this issue into 3 if we believe this is too much work or want to tackle this at different times, or even create these in 3 different PR associated with this

[2021-06-01 15:09] joaopapereira commented on #130
The first step for this issue is the creation of a logger that would allow us to have levels, this should be done when we merge #152
After that, we should go around the code in the more sensitive areas and sprinkle `logger.Debugf`.

[2021-06-01 15:11] joaopapereira commented on #129
Sounds good to me. The stepping stone for this issue will be #136 due to this issue we will be able to with 1 request per bundle understand what needs to be pulled or not.

Accepting this issue.

[2021-06-01 15:17] joaopapereira commented on #61
I am going to accept this issue. For now, I think we should start with the `--lock-generator` flag and the implementation needed to use `kbld` as the first generator.

Notes:
- `kbld` should not be embedded in `imgpkg` (`imgpkg` should call the `kbld` binary to do the work)
- Do we need to provide a path where we want to initialize the bundle? something like `imgpkg init -f manifests -o . --lock-g

[2021-06-01 20:37] gcheadle-vmware commented on #138
### Acceptance Criteria:
**As a contributor to imgpkg**
I want to have confidence that my changes did not introduce inconsistent behavior on different registries.

**When a new commit is pushed to imgpkg**, I expect to see github actions running integration tests on:
- [ ] Harbor
- [ ] GCR

**When a new release of imgpkg is cut**, I expect to see github actions running integration tests on:
- [ ]

[2021-06-01 21:42] gcheadle-vmware commented on #61
### Introduce the `imgpkg init` command

As a user, I want to be able to bootstrap the process of pushing a bundle by using the init command.
The `imgpkg init -f` command will generate an `.imgpkg` directory in the provided directory. This `.imgpkg` dir will contain and ImagesLock file filled with empty values for the images. Besides the `-f` flag, which denotes the root of the bundle, the one opt

[2021-06-02 21:07] joaopapereira opened #154 "Incorrect parsing of image URL provided in the command line"
**What steps did you take:**
Try to pull a bundle while providing the protocol (e.g. `https://`, `http://`) as part URL fails with a strange error

**What happened:**
[code]

**What did you expect:**
The bundle to be pulled. If you execute without the protocol is works
[code]

**Anything else you would like to add:**
[Additional information that will assist in solving the issue.]

**Environment:**

[2021-06-03 17:20] pivotaljohn commented on #130
Note examples in the description, above, for inspiration for places that could use some logging.

[2021-06-03 18:26] joaopapereira opened #155 "imgpkg panic when a retry happens"
**What steps did you take:**
When `imgpkg` is copying images to the registry and loses access to the server the retry will panic.

An example can be found in: https://kubernetes.slack.com/archives/CH8KCCKA5/p1622737728282300

**What happened:**
`imgpkg` panics because go-containerregistry closes the channel

**What did you expect:**
On the second retry, it should provide work if the network connec

[2021-06-03 18:57] cppforlife commented on #155
@DennisDenuto it might be good to fix up go-containerregistry to follow following channel pattern - whoever creates channel is responsible for closing it. currently caller creates channel, but MutliWrite closes it making it impossible to reuse the channel against multiple calls (in our use case when we wrap MultiWrite in a retry logic)

[2021-06-03 20:35] DennisDenuto commented on #155
@cppforlife That's a good idea. I'll create an issue in go-containerregistry. Might even volunteer to submit a PR on my dev day.

Issue created:
https://github.com/google/go-containerregistry/issues/1038

[2021-06-03 21:40] joaopapereira commented on #142
images.NewImages is only used by the PlainImage. Maybe the best approach would be to remove this struct and directly in PlainImage check if the provided Image is an Image or an Index.

Another point is the PlainImage.Pull should fail if the provided PlainImage is not an image, but it should not panic (current behavior)

[2021-06-04 22:19] aaronshurley commented on #154
_I think_ we can consider this issue `carvel-accepted` because we have an undesirable result at the moment by having an unhelpful error message. However, we have a few potential solutions that we could considder so that we can agree on a way forward. A couple of options that come to mind:

1. **Return a helpful error message if a protocol is included.** This may not be ideal UX but is consistent a

[2021-06-04 23:41] cppforlife opened #159 "when working with nested bundles, "imgpkg copy --lock-output" always returns digest for the "first" bundle, instead of bundle that was given in -b"
**What steps did you take:**

[code]

assuming staging.lock points to a bundle that references nested bundles, `release.lock` (may) end up pointing to a nested bundle (instead of root bundle referenced by staging.lock) because writeLockOutput [1] picks last bundle that it finds within processed images.

[1] https://github.com/vmware-tanzu/carvel-imgpkg/blob/develop/pkg/imgpkg/cmd/copy.go#L160-L172

[2021-06-07 17:34] DennisDenuto commented on #129
[code]

case bundle was copied with older imgpkg
- if first refed img doesnt exist in bundle repository, then just use original img locations. no need to check original img locations for image existance
- Perhaps providing a warning message to the user "please copy the bundle again to make future pulls faster"

[2021-06-07 21:12] DennisDenuto commented on #155
Merged: https://github.com/google/go-containerregistry/pull/1041

The retry logic (and the channel multiplexing logic) can be removed the next ggcr bump.

Blocked until ggcr (v0.5.1) releases a newer version with merged PR

[2021-06-08 14:28] cppforlife commented on #155
initial fix is in https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.9.0

[2021-06-08 14:28] cppforlife commented on #150
fixed in https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.9.0

[2021-06-08 14:28] #150 closed, assigned to joaopapereira

[2021-06-08 14:29] cppforlife commented on #147
available in https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.9.0 via --cosign-signatures flag on copy cmd.

[2021-06-08 14:29] #147 closed, assigned to joaopapereira

[2021-06-08 14:29] cppforlife commented on #136
introduced in https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.9.0

[2021-06-08 14:29] #136 closed, assigned to joaopapereira

[2021-06-08 21:12] DennisDenuto opened #161 "OCI locations has images field set to null"
**What steps did you take:**
Run the following e2e test:
https://github.com/vmware-tanzu/carvel-imgpkg/blob/0bd8263585390fcd01e3c197c1ca1c27cf7f4313/test/e2e/pull_test.go#L19

**What happened:**
an oci location is generated. pull down the image and inspect the contents.

**What did you expect:**

Contents to contain the `hello-world` image referenced in the e2e test
[code]

Got:
[code]

**Anything

[2021-06-08 21:17] DennisDenuto commented on #129
Blocked on https://github.com/vmware-tanzu/carvel-imgpkg/issues/161

EDIT: No longer blocked

[2021-06-09 17:00] pivotaljohn opened #163 "Ways to indicate "In Progress" within `imgpkg`"
**In the beginning**,
- there was an intent to improve the experience of the user waiting for images to copy (#132)
- that idea spawned a spinner (#133)
- ... which didn't seem entirely "right." because of that, it was pulled off into a separate PR (#134)
- which sat for a while, grew stale and was closed.

_This_ discussion is about circling back to that original intent and seeing what we learned

[2021-06-09 17:37] DennisDenuto commented on #163
Nice. Well TIL that there is a notion of a UX paradigm in carvel. I'm gonna take it for granted that this is something we want to strive towards.

That paradigm isn't known to me. I'm hoping have some definition on what that actually is. With that shared definition it should be hopefully easier to see whether a 'spinner' fits well or doesn't, and what might be a better alternative.

Here's a stab

[2021-06-10 21:13] #161 closed, assigned to DennisDenuto

[2021-06-14 18:12] aaronshurley commented on #159
Moving this to `carvel accepted`

[2021-06-14 18:58] tomkennedy513 opened #166 "imgpkg fails if location image pull is denied instead of not found"
**What steps did you take:**
I ran `./imgpkg-darwin-amd64 copy -b "registry.pivotal.io/build-service/bundle:1.2.0" --to-repo gcr.io/cf-build-service-dev-219913/tom/tbs` on imgpkg 0.9.0 and 0.10.0

**What happened:**
I got this error

[code]
**What did you expect:**
I expected it to succeed like it used to on 0.8.0

**Anything else you would like to add:**
it appears the the [location image fetcher

[2021-06-14 19:06] pivotaljohn commented on #166
Looks like a regression introduced in 0.9.0. Prioritizing...

[2021-06-14 22:41] pivotaljohn commented on #138
We now have experienced two regressions that were due to Harbor-specific behavior:

- Imgpkg fails to pull a bundle if a registry does not support the HEAD call. #131
- imgpkg fails if location image pull is denied instead of not found #166

Given that this is becoming a more and more common use-case (i.e. Carvel tools against Harbor), the probability of this risk is becoming less theoretical and

[2021-06-14 22:51] pivotaljohn commented on #138
Marking for bump in priority given we've had multiple issues and the impact it has on downstream integrators/products ==> "recommended"

[2021-06-14 23:22] #166 closed, assigned to DennisDenuto

[2021-06-15 19:30] DennisDenuto commented on #138
Our past experiences were with harbor, but indirectly accessed via TanzuNet Registry. So I would propose we first test with TanzuNet Registry since there are some 'rules' overlayed on top of Harbor that has been known to be 'differences' that caused issues in the past.

[2021-06-22 23:05] gcheadle-vmware commented on #159
Reproduced using :
- imgpkg binary built from https://github.com/vmware-tanzu/carvel-imgpkg/commit/f5f0bf61e92fd4a44a3a13e4a6f7f58b2848c1fc
- imgpkg-debug public github repo: https://github.com/gcheadle-vmware/imgpkg-debug
   which was adapted from: https://github.com/andrew-su/imgpkg-debug
   however I found it easier to work with docker hub and the k8slt credentials.

[2021-06-22 23:17] gcheadle-vmware commented on #154
I was able to reproduce using binary built from current develop state: https://github.com/vmware-tanzu/carvel-imgpkg/commit/f5f0bf61e92fd4a44a3a13e4a6f7f58b2848c1fc

Personally, I feel like making assumptions about a users intent when using `http` or `https` would be providing another way to specify the `--registry-insecure` flag. Since we already have the flag, that approach feels confusing for t

[2021-06-23 15:11] joaopapereira commented on #159
After looking a little bit into this issue, for the above case looks like we can just expose the bundle that is being copied.
The harder case is going to be the copy from Tar and creating the BundleLock file. In this case, we do not save any special information about the bundle that was copied into the Tar so we cannot make a good judgment call on which one is the bundle.

We could augment our man

[2021-06-23 15:26] joaopapereira commented on #163
Not sure if we should be comparing the output of a tool like `ytt` and `imgpkg`. These 2 tools serve a different purpose and the displayed information on the screen hardly would be comparable.

As a example `ytt` is meant to print to standard output the result of computation that can afterwards be piped into a different tool, like `kbld` or `kapp`. While `imgpkg` output is meant for the Humans to

[2021-06-23 15:27] joaopapereira commented on #155
we are waiting for version 0.6.0 of ggcr or higher to be able to fully solve this issue

[2021-06-23 15:48] joaopapereira commented on #154
I  believe that `imgpkg` should always use https to talk to the registry, unless the `--registry-insecure` flag is present or the user tell `imgpkg` to use a different protocol.
Given that I believe that internally `imgpkg` should always remove the protocol from the provided url.

Special cases:
1. The users provided the url `https://testing.reg.io` and `--registry-insecure` flag we should error o

[2021-06-23 16:11] joaopapereira commented on #159
I started doing the implementation in the branch `bundlelock-incorrect-sha` for reference but it is missing the tar part

[2021-06-23 16:25] pivotaljohn commented on #153
There's an outstanding question of how well this approach would fit the original request.

@pbarker, thoughts on the matter?

[2021-06-23 16:50] pbarker commented on #153
Hey, sorry somehow missed your response @joaopapereira. Adding them to a big bundle may not work for this use case because I would be pushing bundles often, and I believe that would require me to repush the big bundle each time.

Ideally I would just be able to add annotations to a bundle, then query the registry namespace for them, or at least just have a way of listing the artifacts present in t

[2021-06-23 18:18] cppforlife commented on #159
manifest.json was never close to OCI standard anyway, so we should add it in there in my opinion (similar to what we do with a tag).

[2021-06-23 20:26] joaopapereira commented on #159
We continued this conversation in slack in [this thread](https://kubernetes.slack.com/archives/CH8KCCKA5/p1624472328087100)

The TLDR is that we should consider having a field in the manifest.json for each image that will allow imgpkg to provide any additional metadata for a particular image. The idea is that `imgpkg` would set an annotation style field that can be read afterward that contains the

[2021-06-24 16:27] matthewmcnew opened #176 "imgpkg pull removes duplicate image references"
**What steps did you take:**
* Create imgpkg bundle with an `.imgpkg/images.yml` with duplicate image references. Example included below:
[code]
* Utilize `imgpkg copy` to relocate the imgpkg to a different registry
* Use `imgpkg pull` to pull the bundle from the new location.

**What happened:**
The pulled and rewritten imgpkg bundle only includes one reference to the image originally duplicated

[2021-06-24 20:06] joaopapereira commented on #176
We are able to reproduce this issue.

`imgpkg` is indeed squashing the ImagesLock file when there are 2 or more images with the same field Image. This is a scenario that can happen when a user is integrating multiple manifests where the same image can be referenced with different strings or tag vs sha.

Going to accept this bug.

[2021-06-25 13:58] jorgemoralespou opened #178 "imgpkg copy recursive bundles fail if one of them has no images"
**What steps did you take:**
imgpkg copy -b quay.io/failk8s/tkgdev-repo:1.0.0 --to-repo <MY-REGISTRY>

Error: Reading Images from Bundle: Retrieving images for bundle 'quay.io/failk8s/dev-platform-package@sha256:fc991d10fd03e3c0150b5220566ba0447f0f4a33b6810a89bb18465fa4396f6e': Checking image existence: GET https://quay.io/v2/failk8s/contour-package/manifests/sha256:b6fc886398cfd42ca8e9423951a3369

[2021-06-25 14:09] joaopapereira commented on #176
Fixed in version [0.12.0](https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.12.0)

[2021-06-25 14:09] #176 closed, assigned to joaopapereira

[2021-06-25 14:09] jorgemoralespou commented on #178
Seems to be wrong. Closing as it's not triagged properly

[2021-06-25 14:09] #178 closed, assigned to nobody

[2021-06-25 14:09] joaopapereira commented on #129
Fixed in version [0.12.0](https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.12.0)

[2021-06-25 14:10] #129 closed, assigned to DennisDenuto

[2021-06-25 14:41] joaopapereira opened #179 "when pulling there is no need to check if images are present in the original location"
**Describe the problem/challenge you have**
When executing `imgpkg pull -b repo.io/some/bundle@sha256:11111111 -o /tmp/bundle` and the bundle was never copied, `imgpkg` tries to check if the Images present in the ImagesLock are present in their original location.
This behavior can cause 2 problems:
1. One extra call to a registry that is not relevant for the current command
2. If the original imag

[2021-06-25 14:44] joaopapereira commented on #179
This is a performance improvement for the pull command. Also will ensure that the users do not get surprising errors or need to know credentials from other repositories.

[2021-06-29 23:16] DennisDenuto opened #181 "Provide a way to easily update nested bundles"
# **Describe the problem/challenge you have**

an imgpkg bundle with referenced nested bundles can be generalized as a directed acyclic graph. Updating any node in this graph, requires also updating its parent node. The larger the graph the more 'steps' are needed to perform an 'update'

discovering and updating the graph requires multiple steps and is not trivial.

Practically speaking, In order

[2021-06-29 23:16] gcheadle-vmware commented on #154
I think that Joao's comment outlines the context needed to fix this bug. Moving issue to "Unprioritized Backlog" column.

[2021-06-30 10:52] jorgemoralespou commented on #181
Added my comments that I did on slack:

if you’re doing proper versioning, if you update a version in a bundle, the bundle version should change, and the version of the ones containing that bundle should change again. So, at the end of the day, your problem boils down to how you release and manage your dependencies, and I think it’s not really carvel’s tools problem, but something need to be provi

[2021-06-30 17:32] DennisDenuto commented on #181
The CI/CD workflow you described makes sense to me, and I have the assumption that is the case for most of our users too.

definitely. Although there does seem (to me) to be a gap in the plumbing logic required to make that *easily* work in a pipeline. That gap places the onus on impkg's users to fill via custom scripts / tooling.

In my head this is analogous to go's module feature. It takes a ra

[2021-06-30 19:08] DennisDenuto commented on #181
Added the discussion label to open up this issue to also discuss releasing and managing imgpkg's dependencies. Which ties into questions around how to version bundles, enabling workflows around keeping bundles / nested bundles up-to-date.

[2021-07-06 09:37] sebgoa opened #183 "A quick init command would be nice"
**Describe the problem/challenge you have**

I want to get started quickly with `imgpkg` , the examples make me create a directory, a sub directory and then add some files. That is suboptimal

**Describe the solution you'd like**

I would have loved a quick `imgpkg init` which would have created the skeleton including a basic `images.yml` file

[2021-07-06 13:26] ewrenn8 commented on #183
Duplicate of #61

[2021-07-06 13:26] #183 closed, assigned to nobody

[2021-07-06 18:23] aaronshurley commented on #138
Consider how we want to clean up any testing artifacts.

[2021-07-07 07:18] sebgoa opened #184 "docker save fails"
**What steps did you take:**
I created an image with `imgpkg -i `, I successfully deployed the manifests that are in it with the kapp-controller

**What happened:**
I wanted to save the image as a tarball to check the file structure inside of it and `docker save` failed

[code]

**What did you expect:**

to get a tar ball that I could expand

[2021-07-07 17:13] DennisDenuto opened #186 "progress bar showing confusing status during a failed copy"
**What steps did you take:**

[code]

**What happened:**
The progress bar output is showing 100% when the copy command failed due to a timeout.

This *could* be a rounding issue and the copy command was *really really* close to finishing (858.79 MiB / 858.80 MiB) although that could also be reporting incorrectly too.

**What did you expect:**
The progress bar output to show a progress of less than

[2021-07-07 17:24] nithinmy opened #187 "ResponseHeaderTimeout for registry http transport to be made configurable from CLI."
imgpkg copy command is consistently failing when the number of images in the bundle more than 10. Looks like the ResponseHeaderTimeout set to 10 seconds in the file registry.go could be the cause, as the client is abruptly closing the connection. Setting to a higher value (30 seconds) or not setting the value, resolves the issue. If this value is intended to be default, provision to override the v

[2021-07-07 18:54] DennisDenuto commented on #184
For your use-case try using the `imgpkg pull` command to check the file structure (instead of docker save)

i.e.

`imgpkg pull -i gcr.io/triggermesh/foo  -o /path/to/save/image`

I'm not too sure why `docker save` failed. For that I would try asking in https://github.com/moby/moby

[2021-07-07 18:57] DennisDenuto commented on #184
Closing this issue since `docker save` is best answered by docker folk. However, please feel free to ask for additional help if `imgpkg pull` doesn't work for you!

[2021-07-07 18:57] #184 closed, assigned to nobody

[2021-07-07 22:40] DennisDenuto commented on #159
for the tarball case:

- Added a `.Label` attribute for each image  referenced in `manifest.json`
-- The implication is that: users will need to re-generate a tarball using a version of imgpkg that contains this fix in order to generate the correct lock file.

[2021-07-08 13:12] sebgoa commented on #184
Thanks for the reply. I appreciate your point of view but I think you closed this a bit fast.

`docker save` works well for any other image, so if it fails it is because there is something different with the structure of the image generated by `imgpkg`. If I were to create an issue upstream in moby they would certainly close like like you did and tell me that this is a `imgpkg` issue, hence leavin

[2021-07-08 13:21] sebgoa commented on #184
fwiw and for posterity, `crane` does the trick

[code]

[2021-07-10 03:54] nithinmy commented on #187
**There is an urgent dependency on this feature as "imgpkg copy" command is failing fairly consistently and we are having to use a locally patched version in our environment.**
I am unable to raise a pull request. Guess that would need additional permissions. Below is the proposed diff that I wanted to push. Request someone with adequate permissions to review and incorporate if possible.

[code]

[2021-07-12 21:20] DennisDenuto commented on #184
I appreciate the feedback. i'll take that into account next time :-)

Fair enough! fwiw, `imgpkg pull` places the contents of the layers belonging to the image onto disk for you.

If you wanted to download an image and have access to it's manifest, layers, config etc (almost an oci-layout format) you could copy the bundle to a tarball

i.e.
[code]

hmmm, my intuition is pointing me back to somethi

[2021-07-12 21:24] mohansitaram commented on #187
@cppforlife can you please take a look at this issue?

[2021-07-12 21:52] cppforlife commented on #187
@mohansitaram @nithinmy what is the value yall are setting it to in your environment? 1min?

[2021-07-12 21:57] mohansitaram commented on #187
30 seconds is what @nithinmy tried in our environment and got things working.

[2021-07-12 22:07] aaronshurley commented on #187
Thanks for surfacing this @nithinmy and @mohansitaram.

@DennisDenuto will be taking a look at this [(brief conversation in slack)](https://kubernetes.slack.com/archives/CH8KCCKA5/p1626126700375100).

[2021-07-12 23:05] DennisDenuto commented on #187
Thanks for the git patch!

created a PR inspired from that git patch. see https://github.com/vmware-tanzu/carvel-imgpkg/pull/185

[2021-07-12 23:16] DennisDenuto commented on #159
Release in https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.13.0

However, Keeping this issue open, as some follow-up refactor commits to remove bundle information from the imagedesc package is still in progress. see https://github.com/vmware-tanzu/carvel-imgpkg/pull/189

[2021-07-12 23:27] DennisDenuto commented on #187
@nithinmy are you able to expand what kind of issues you ran into trying to submit a PR?

[2021-07-13 03:11] nithinmy commented on #187
Not sure if I was doing it right, but I just tried to push a local branch and got this error -
[code]

[2021-07-13 19:18] DennisDenuto commented on #187
@nithinmy thanks for providing that output!

We currently only allow maintainers to push branches on this repository.

In order to submit a PR to this repository you would need to create a 'fork', commit and push your changes to your personal fork of this repo and *then* submit a PR using the branch from your fork, to the 'develop' branch of this repo.

See the following guide for a more detailed

[2021-07-13 23:17] DennisDenuto commented on #187
fyi, this is contained in the latest imgpkg release  https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.14.0

[2021-07-13 23:25] #187 closed, assigned to DennisDenuto

[2021-07-14 18:52] SteveLasker commented on #153
Hi @pbarker,
One of the interesting use cases for Artifact referenceTypes is the ability to push additional annotations. The artifact-manifest removes the constraint on having required `layers` and required `config` object and formalizes `blobs` are not required to be ordinal. This is a decision of the specific artifact author, [as outlined in OCI Artifacts](https://github.com/opencontainers/artif

[2021-07-14 20:53] DennisDenuto commented on #179
part of imgpkg release https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.13.0

[2021-07-14 21:02] DennisDenuto commented on #179
part of imgpkg release https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.13.0

implemented from PR https://github.com/vmware-tanzu/carvel-imgpkg/pull/177

[2021-07-14 21:02] #179 closed, assigned to nobody

[2021-07-14 23:28] aaronshurley commented on #186
Doing some quick math,
858.78 / 858.80 = 0.9999883558

So, that does round to 100.00 if we're only using two decimals.

I'm thinking that this really isn't a bug unless we don't want to show 100% _only when_ it has been completed. I'm not sure what the technical implications that would have.

@DennisDenuto How would you like to move forward on this? Keep this open, close it out? If we keep it open

[2021-07-15 15:49] andmagom opened #192 "Copy on insecure registries"
**What steps did you take:**
I would like to copy images between insecure registries, I executed this command
`imgpkg copy --registry-insecure -b registry.192.168.20.40.nip.io:5000/myimage --to-repo registry.192.168.20.40.nip.io:5000/myimage2`

**What happened:**
I got this error
![image](https://user-images.githubusercontent.com/13066717/125817264-6973cced-5041-4cb5-aa41-6224211a5d33.png)

**What

[2021-07-15 22:43] DennisDenuto commented on #186
I was more sus about the reported upload in MB (`858.78 / 858.80` and then later `858.79 / 858.80`). was it *really* only .02 MB from successfully writing everything, and managed to make `.01` MB progress before failing again??

I am kinda worried that when a retry occurs, it is messing with the progress bar values (the actual upload isn't really `858.78` but something else).

moving forward on *t

[2021-07-16 09:34] meghanajangi opened #193 "Copy fails when we try to copy to the root of the destination registry"
**What steps did you take:**
When copying an image to a registry which has no repository or no folder beneath it, it fails.
`imgpkg copy -i nginx --to-repo ip-10-0-0-146.ap-south-1.compute.internal/` or
`imgpkg copy -i nginx --to-repo ip-10-0-0-146.ap-south-1.compute.internal`

**What happened:**
The image copy fails with the following error message:
[code]

[code]

**What did you expect:**
It sho

[2021-07-16 10:28] perithompson commented on #193
In skopeo or docker, you do not need to append the image name to the end of the destination repo, it would be good if we could do the same with imgpkg so the destination name automatically gets used if the user does not specify it

`imgpkg copy -i nginx --to-repo ip-10-0-0-146.ap-south-1.compute.internal/` would result in
`imgpkg copy -i nginx --to-repo ip-10-0-0-146.ap-south-1.compute.internal/ng

[2021-07-16 12:28] jayunit100 commented on #193
Yeah agree on this one

[2021-07-20 00:33] gabegorelick opened #195 "Help output for push command claims `-f -` is supported"
**What steps did you take:**
`imgpkg push --help` claims that `-f` supports `-`, presumably as an alias for stdin:

![image](https://user-images.githubusercontent.com/610129/126244105-9e0153f5-178a-4e85-bd54-c6b0116beef3.png)

**What happened:**
`imgpkg push -f -` returns the following error:

`imgpkg push -f /dev/stdin` returns this error:

**What did you expect:**
I expected that `imgpkg push -f

[2021-07-20 09:39] SUPRRITHA commented on #193
Yeah agree!

[2021-07-20 16:29] DennisDenuto commented on #195
Thanks for creating this issue!

Submitted PR https://github.com/vmware-tanzu/carvel-imgpkg/pull/196

[2021-07-20 17:08] DennisDenuto commented on #192
Can reproduce. The image references provided to `MultiWrite` are losing the `insecure` option, hence when the ggcr library 'pings' the registry it doesn't 'fallback' to using http.

https://github.com/vmware-tanzu/carvel-imgpkg/blob/ee3d2f72ca3f9750939ca366097454074d2d0d04/pkg/imgpkg/registry/registry.go#L127

[2021-07-20 17:35] pbarker commented on #153
Thanks @SteveLasker I like the annotations design! The one thing I was thinking I needed from opencontainers/artifacts#29 was the ability to query for annotations, or at least list them all from the registry. Unless I'm missing a way of doing that now.

[2021-07-20 17:54] DennisDenuto commented on #192
Submitted PR https://github.com/vmware-tanzu/carvel-imgpkg/pull/197

[2021-07-20 19:00] DennisDenuto commented on #193
Thanks for submitting this issue :-)

Fair enough, I can see how this change might simplify scripts. I'm curious if you can expand on your usecase, and if you have considered using imgpkg bundles? There is currently an open proposal to introduce naming strategies when copying a bundle (and their referenced images) https://github.com/vmware-tanzu/carvel-community/pull/22 and https://github.com/vmwa

[2021-07-21 14:19] andmagom commented on #192
Thanks Dennis !

[2021-07-21 14:19] #192 closed, assigned to nobody

[2021-07-21 21:00] scothis commented on #73
I'm running into friction trying to publish imgpkg bundles to a common repository. In my case, I have a single repository that I have push rights to and need to host multiple bundles. The typical work around to use a distinct repository isn't an option because my access to a registry for this project is quite limited.

[2021-07-21 21:40] DennisDenuto opened #199 "imgpkg copy should be re-runnable for registries that disallow mutating tags"
**Describe the problem/challenge you have**

Based on the following slack conversation: https://kubernetes.slack.com/archives/CH8KCCKA5/p1626878622031300

There appears to be errors when re-running `imgpkg copy` with the same bundle, targeting a registry that does not allow mutating tags.

Error received:
[code]

**Describe the solution you'd like**
Ensure re-running `imgpkg copy` with the same in

[2021-07-21 23:05] gabegorelick commented on #199
One (big) caveat: it doesn't appear to be a consistent issue. Much of the time, rerunning `imgpkg copy` works fine.

It's possible there is some kind of non-determinism going into the image-locations generation, but there doesn't seem to be a good way to grab the `image-locations.yml` that `imgpkg` is attempting to upload to confirm this.

[2021-07-22 15:28] meghanajangi commented on #193
Hello Dennis,

I am trying to understand the table you have given.
Do you mean that when I execute
`imgpkg copy -i nginx --to-repo ip-10-0-0-146.ap-south-1.compute.internal/` it should copy the image to destination registry as ip-10-0-0-146.ap-south-1.compute.internal/nginx:latest
and when I execute
`imgpkg copy -i nginx --to-repo ip-10-0-0-146.ap-south-1.compute.internal` it should copy the image

[2021-07-22 15:40] jorgemoralespou commented on #193
In some discussion with @cppforlife he made clear that imgpkg is not a generic image copy tool, although it supports somehow that workflow (but discouraged throughout the documentation). If what you want is to copy images, renaming, retagging, etc... I would recommend you to stay with skopeo which is a tool purposely built for that scenario. Imgpkg is build initially for Carvel Bundles and that's

[2021-07-22 16:54] DennisDenuto commented on #193
@mjangi9292

Yup 👍

interestingly I didn't cover that case in the table. although what it *does* surprised me! it tries to copy to
`index.docker.io/library/ip-10-0-0-146.ap-south-1.compute.internal`

It is treating it as a shorthand reference to the `library` repo, and the default registry (when a registry isn't provided, because it thinks the argument is a repo not a registry...) of dockerhub.

I

[2021-07-22 17:53] jorgemoralespou commented on #193
It's from internal discussions with @cppforlife as we initially were using imgpkg copy as a way to copy images and were finding many missing things that we requested. Since imgpkg is meant for a different use case (package files up in an oci image) he just mentioned that we should not expect all that skopeo do in relation to copy use cases in imgpkg.

Maybe saying that image usage is discouraged b

[2021-07-23 00:15] cppforlife commented on #193
i believe what i was previously said is that "imgpkg copy" is not a command that would cover all copying cases that somebody may want (e.g. scopeo has various options for changing format, compression, encryption, etc.). for majority of cases "imgpkg copy" should be usable (including one mentioned in this issue), assuming we dont have a bug.

imgpkg copy is/should be capable of:
- copying single im

[2021-07-23 16:25] DennisDenuto commented on #193
@cppforlife

[code]

[2021-07-26 20:37] DennisDenuto commented on #123
Closing this issue (since imgpkg is published to tanzunet)

will create a new issue to capture the 'automation' piece to it.

[2021-07-26 20:37] #123 closed, assigned to DennisDenuto

[2021-07-27 10:29] vrabbi commented on #55
any updates on this functionality being added? this would be very helpful for our development flow.

[2021-07-28 14:48] cxhrouet opened #201 "imgpkg copy mismatches digests with images on quay.io"
**What steps did you take:**
I'm trying to relocate with imgpkg copy an image from quay.io registry to an internal private registry.

**What happened:**

`imgpkg copy --lock sealed-secrets-v0.16.0.lock --to-repo private-registry/sealed-secrets-controller
`

with sealed-secrets-v0.16.0.lock being :

[code]

resulted in exporting a wrong digest:

[code]

When exporting to tar, no error is thrown but

[2021-07-28 16:51] DennisDenuto commented on #195
Released on https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.15.0

[2021-07-28 16:51] #195 closed, assigned to nobody

[2021-07-28 16:52] DennisDenuto commented on #142
Released on https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.15.0

[2021-07-28 16:52] #142 closed, assigned to DennisDenuto

[2021-07-28 16:52] DennisDenuto commented on #192
Released on https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.15.0

[2021-07-28 16:55] DennisDenuto commented on #201
Thanks @cxhrouet for raising this issue

There is a [known issue](https://github.com/vmware-tanzu/carvel-imgpkg/issues/142) around copying an [image index](https://github.com/opencontainers/image-spec/blob/main/image-index.md) which `quay.io/bitnami/sealed-secrets-controller@sha256:cb183c914323dcad01a46e6c879368b2f4706a2c021a9386fb6a6a5e8768fa37` is

Can you try again with the latest version of im

[2021-07-28 18:06] cppforlife opened #202 "imgpkg should support iaas pre-authed registries when running on preconfigured vms/cointainers"
**Describe the problem/challenge you have**

context: iaas provides (aws, gcp, azure...) have registries that could be made accessible (can auth to) on iaas provided vms via iaas metadata channel (e.g. gke cluster can be allowed to pull content from private gcr).

use case: kapp-controller users want to use iaas provided registry on their kubernetes cluster (cluster is preauthenticated to that reg

[2021-07-28 18:48] ashvinmoro opened #203 "Client libraries for imgpkg tool"
**Describe the problem/challenge you have**
***Library request:***
Today the only way to leverage imgpkg in workflow automation in client products is to consume the CLI and rely on its stdout and stderr mechanisms to track the output and errors. These mechanisms are helpful from a human readable perspective but not so much from an automation perspective since it
* requires parsing of the free form

[2021-07-28 18:49] ashvinmoro opened #204 "List bundle dependencies"
**Describe the problem/challenge you have**
***List dependencies:***
An imgpkg bundle can either be a standalone bundle or a package repository, with them referencing  dependent artifacts which can either be OCI artifacts or other imgpkg bundles. The imgpkg CLI today does not provide an option to query a bundle to list all dependent artifacts (regardless of the level of nesting) without doing a pu

[2021-07-28 21:08] cxhrouet commented on #201
Indeed, it's working now with imgpkg v0.15.0 !

[2021-07-28 21:08] #201 closed, assigned to nobody

[2021-07-28 21:51] DennisDenuto commented on #199
Hi @gabegorelick

I have spent some time trying to get oci-location to 'mutate' across runs. But I have been unable to do so.

Check out this branch for a e2e test https://github.com/vmware-tanzu/carvel-imgpkg/tree/try-find-oci-location-mutate-exploration

Are you able to provide more information:
- bundle / nested-bundle structure
-- images.yml for each bundle / nested-bundle

In the meanwhile, I

[2021-07-29 12:09] cppforlife commented on #193
but, with a slash (per original comment)

[code]

[2021-07-29 13:22] cppforlife commented on #55
@aaronshurley is this in our prioritized backlog somewhere?

[2021-07-29 15:06] cppforlife opened #206 "add --image-is-bundle-check=true to disable failure when trying "imgpkg pull -i <bundle>""
**Describe the problem/challenge you have**

i'd like to use plain image functionality to fetch bundle, so that i can see exact bits of the bundle (without any rewriting of images.yml, etc.)

**Describe the solution you'd like**

`imgpkg pull -i my-bundle:v1` would continue result in error
`imgpkg pull -i my-bundle:v1 --image-is-bundle-check=true` would succeed

---
Vote on this request

This is a

[2021-07-29 15:10] aaronshurley commented on #55
I moved it to our prioritized backlog since this enhancement has built up a demand. We likely won't be able to start this work until _at the earliest_ mid-to-late August due to existing priorities and folks taking vacation.

We would welcome contributions for this if anyone is up for it. Please let us know. @vrabbi @ZihanJiang96

[2021-07-29 15:16] aaronshurley commented on #132
I believe that the only remaining task for this issue is whether we include a spinner or not. #163 seems to encapsulate that question so I'm going to close this out. Please feel free to reopen if my logic is off.

[2021-07-29 15:16] #132 closed, assigned to joaopapereira

[2021-07-29 16:39] ashvinmoro commented on #203
cc: @ncdc

[2021-07-29 16:39] ashvinmoro commented on #204
cc: @ncdc

[2021-07-29 18:18] DennisDenuto commented on #199
From the slack convo:

We were provided with the following info https://kubernetes.slack.com/archives/CH8KCCKA5/p1627569740185300?thread_ts=1626878622.031300&cid=CH8KCCKA5:

[code]

[2021-07-29 21:36] #206 closed, assigned to nobody

[2021-07-30 23:29] aaronshurley commented on #155
v0.6.0 has been cut! Just a heads up, the [folks from ggcr were super responsive](https://github.com/google/go-containerregistry/issues/1094)!

[2021-08-03 14:58] gabegorelick commented on #199
We've confirmed that the order of images in ImageLocations is changing between invocations of `imgpkg copy`.

[2021-08-03 16:41] cppforlife commented on #20
https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.17.0 included change to "tag list" and added "imgpkg tag resolve".

[2021-08-03 16:41] #20 closed, assigned to nobody

[2021-08-03 16:41] cppforlife commented on #199
fix is included in https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.17.0

[2021-08-03 16:41] #199 closed, assigned to DennisDenuto

[2021-08-03 18:59] cppforlife opened #211 "ensure that root bundle tag is added/updated last during "imgpkg copy""
**Describe the problem/challenge you have**

currently, if you are continuously running `imgpkg copy -b foo:latest --to-repo bar`, `bar:latest` will get updated in parallel with all the other referenced assets. this may present a challenge to consumers who are pulling `bar:latest` since they could receive `bundle:latest` before referenced assets are copied (and *.image-locations.imgpkg is made).

[2021-08-03 19:04] cppforlife opened #212 "ImageLocations is not generated when source is tar"
**What steps did you take:**
looked at code [0]

**What happened:**
it does not look like when tar is source we call NoteCopy which means we are not generating *.image-locations.imgpkg images later used for pull optimization.

**What did you expect:**
expected ImageLocations record to be generated.

**Anything else you would like to add:**
this issue should probably be dealt in a context of https:

[2021-08-03 23:29] cppforlife commented on #159
refactor was merged few versions back.

[2021-08-03 23:29] #159 closed, assigned to DennisDenuto

[2021-08-11 21:05] gabegorelick opened #216 "Include more info in warning about non-distributable layer"
**Describe the problem/challenge you have**

`imgpkg copy` will often log the following warning:

But this doesn't say anything about what the non-distributable layer is. Without more information, it's hard to determine whether I should pass `--include-non-distributable-layers` or if my bundle is messed up. And with a lot of images and a lot of layers, it can be hard to figure out which one is the

[2021-08-12 12:58] mhoshi-vm opened #217 "Annotations in lock file is not preserved during going from tar->registry."
**What steps did you take:**
The goal is I want to install a helm chart to a offline env using kbld and imgpkg to reallocate the images. The procedure I thought in mind was...
[code]
but the last commands errors with the following.

[code]
Annotations are missing in `/tmp/image-offline-lock.yaml`

[code]

**What happened:**
Annotations were lost during tar->registry imgpkg

**What did you expect:*

[2021-08-16 18:23] DennisDenuto commented on #186
Introduced an error during the 'writing' of an image to force a retry.

The progress bar resets correctly back to zero.

Closing this issue as i'm unable to reproduce this bug.

[2021-08-16 18:23] #186 closed, assigned to nobody

[2021-08-16 18:42] DennisDenuto commented on #202
@cppforlife

This looks like a great improvement to imgpkg.

My initial thought is, having an implicit auth mechanism (i.e. configuring imgpkg keychain based on IAAS metadata) adds complexity to the UX specifically around auth (there are currently already multiple ways to provide auth to imgpkg, with a defined priority of which auth mechanism is used when there is overlap).

I'm wondering if we ca

[2021-08-16 20:45] DennisDenuto commented on #204
Thanks for creating this issue.

The CLI option can be added to the `pull` command. If this flag is present, the last section of output can be a flat list of all the dependent images that were pulled (also whether the dependent image is a bundle or an OCI image) Assuming we display whether the dependent image is a bundle or OCI image, would you still expect an API to 'query' the type?

Are you abl

[2021-08-16 21:21] DennisDenuto commented on #203
Thanks for the issue.

My initial reaction is that this would involve a lot of effort. In terms of developing the SDK in go and java. But also it introduces another entrypoint to how folk can use imgpkg, and hence, increases the different ways things can go awry. potentially increasing the support/maintenance load.

So, i'd like to examine the reasons you listed as to why the CLI isn't a good fit

[2021-08-16 21:26] DennisDenuto commented on #211
Thanks for the issue.

I think this captures a potential race condition with tools / pipelines waiting for a bundle. Prioritizing as something to work on soon.

[2021-08-16 21:58] DennisDenuto commented on #212
This looks like it was fixed as part of the "Copy Tweaks" PR? https://github.com/vmware-tanzu/carvel-imgpkg/pull/215

Is that correct @cppforlife ?

[2021-08-16 22:00] DennisDenuto commented on #212
Thanks for the issue

Looking at the code this is still an issue.

https://github.com/vmware-tanzu/carvel-imgpkg/blob/d61feedd8506965bcfcb660dfff86105bf9a0166/pkg/imgpkg/cmd/copy_repo_src.go#L67-L80

[2021-08-16 22:11] DennisDenuto commented on #216
Thanks for the issue.

I think this is a nice improvement to the warning message.

Instead of both the image and layer/s, what do you think about specifying *only* the image? Since, with that information you can inspect the image manifest (giving you a list of the layers, of which you can see which are non-distributable)

Note:
Consider how to output a bundle with *lots* of images that have Non-di

[2021-08-16 22:14] gabegorelick commented on #216
That may be OK. It's certainly a decent place to start.

[2021-08-16 23:21] DennisDenuto commented on #217
Thanks for raising this issue and for the detailed steps.

I was able to reproduce this issue and have assigned a priority.

Impl Note:
When copying from a lock file (with annotations) to a tarball, consider 'storing' the annotations information into the `ImageRefDescriptors` in the `labels` field. https://github.com/vmware-tanzu/carvel-imgpkg/blob/a114b01fb828548b594390c5739c3a98ecd66be5/pkg/imgp

[2021-08-17 14:04] ncdc commented on #203
It's fairly common for tools written in Go (and probably other languages as well) to have the core functionality implemented in packages that are reusable by both the project itself and external consumers. You can also architect your command structure (e.g. with Cobra or a similar framework) so that the command structs are reusable as well. This minimizes possible variations across different entry

[2021-08-18 16:05] cppforlife commented on #202
im -1 on pushing such logic to clients, since clients have no idea what is possible and not possible. e.g. kapp controller has no idea whether it's running on aws/gcp/etc.

not sure if that's true (i thought they were dealing with tokens directly), but that's something that only imgpkg could know about.

[2021-08-19 22:26] DennisDenuto commented on #202
True, the client might not know it is running on an IaaS. In that case the client *could* always just run `eval $(imgpkg print-iaas-envs)` and essentially no-op.

However, I do think the above does adds a *potentially* unnecessary step.

Another reason to have an implicit auth mechanism (and not inject via env variables) would be credential rotation. Specifically, in a long-running environment, if

[2021-08-19 23:08] DennisDenuto commented on #203
Thanks @ncdc

Can you please help me better understand the pain / issue around this exec call? Currently I'm making an assumption it is a performance concern. Which for a tool where it is common for operations to take several minutes, I don't see the benefit on shaving off sub-seconds.

There ultimately is going to be an executable that calls out to imgpkg, whether via a library or external binary

[2021-08-23 19:02] aaronshurley commented on #130
Labeling this as `important-soon` as we have had multiple use cases when this capability would have been helpful when troubleshooting users' problems.

[2021-08-24 17:04] DennisDenuto commented on #193
Thanks @cppforlife for the suggestion!

Curious to hear what folk (@perithompson  @mjangi9292) think about instead of a trailing slash, using a template structure `{{.SrcRepo}}` to indicate that the source repo should be retained

[2021-08-25 15:48] ncdc commented on #203
It's more about managing the file dependency and less about performance. If you're writing an app that consumes something like imgpkg, and you want to containerize your app, if imgpkg isn't available as a Go library, then you have to find a way to get the imgpkg executable file in your container. You don't have to worry about this if you're using imgpkg as a library.

@ashvinmoro please take a loo

[2021-08-25 16:44] pivotaljohn opened #221 "Build and install Linux and Apple Silicon-targeted versions of imgpkg"
see vmware-tanzu/carvel#218

Do it like we do for ytt.

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see this addressed as soon as possible"
👎 "There are other more important things to focus on right now"

We are also happy to receive and revi

[2021-08-26 00:37] lisamburns opened #223 "Pull imgpkg bundle contents from a tarball"
**Describe the problem/challenge you have**
I am creating imgpkg bundles for distribution as .tar files.
These bundle contents have CRDs and other resource definitions, and do not have any images that need to be relocated. In order to extract the contents from the bundle, I still have to relocate the tarball to a registry first, which seems odd.
[code]
**Describe the solution you'd like**
A CLI th

[2021-08-26 01:46] ashvinmoro commented on #203
This is our current scenario. We have to find a way to pull and containerezie the executable as part of our build process and also test for its presence.
The other aspect is that the app will have to rely on running the command and on its return code from the underlying os which is a flaky coupling.

I will take a look at this.

In the short term this is definitely desirable till we can get a "lib

[2021-08-26 01:58] ashvinmoro commented on #204
To keep the semantic separation a separate `query` command is better. Under the hood, this command may likely do a `pull` command but that will then be an implementation detail.

The use case is to track the dependent images and establish policy based access controls for users downloading the bundles and its images. Right now we are having to unpack the bundle and identify the dependents manually

[2021-08-26 16:49] aaronshurley commented on #154
Labeled this as `unprioritized-backlog` and changed it to an `enhancement` as it feels like additional functionality. #214 has already made a nudge in an improved direction by providing a better error message. Leaving this story as is to focus on potentially automating this parsing.

[2021-08-26 17:10] aaronshurley commented on #107
Chatted with @DennisDenuto on this one, we're considering this as needing more information to truly determine what the security risk/concern is.

@ewrenn8 Could you provide any further insight into what the risk is?

[2021-08-27 17:19] DennisDenuto commented on #221
Next release 0.18.0 will contain an arm binary.

When updating the homebrew and install.sh, remember to also now include a reference to the arm binary

[2021-08-30 21:14] cjnosal opened #226 "imgpkg copy from/into the same registry with different creds fails authentication"
**What steps did you take:**
Create two projects in a harbor registry.
`imgpkg push` to the first project
Create a read-only robot in the first project
Create a read-write robot in the second project
Try to `imgpkg copy` from one project to the other, providing both sets of robot credentials (following https://carvel.dev/imgpkg/docs/latest/auth/#via-environment-variables)

**What happened:**
imgpk

[2021-08-31 18:02] DennisDenuto commented on #223
Hey @lisamburns

Thanks for creating this issue!

Yeah I agree that the workflow you explained is odd. It requires additional steps and network overhead to use content available on local disk.

I think some further iteration on the command name should be done. My first thought is to change `imgpkg build` -> `imgpkg extract`. Perhaps even amuse the idea of adding this to the `imgpkg pull` command?

[2021-08-31 18:21] DennisDenuto commented on #226
@xtreme-conor-nosal thanks for creating this issue

This is a great improvement for the tool, since auth between the same registry with different creds has security benefits.

I'm curious to hear your thoughts on how to incorporate allowing multiple creds for the same registry.

Here's a couple of ideas:
1) Introduce an `IMGPKG_REGISTRY_REPOSITORY_0` env variable. This will scope the set of `IMGPK

[2021-08-31 18:24] DennisDenuto commented on #204
Thanks @ashvinmoro

I think given the specific use case for this feature, a new command to 'inspect' the bundle should be done.

[2021-08-31 20:14] cjnosal commented on #226
In the simple case (where the bundle and all referenced images are in one project / accessible with one set of creds) it would be nice to specify `_SOURCE` and `_DESTINATION` creds explicitly, rather than making imgpkg figure out when to use `_0` and when to use `_1`, but that wouldn't scale to the cases where referenced images are in different registries.

Renaming HOSTNAME so it can include a re

[2021-09-01 20:40] voor opened #231 "Allow specifying the number of retries"
I am trying to do the unachievable, which is download gigabytes of data through an enterprise proxy server.  It's failing, a lot.  I've tried changing the concurrency, and that seems to help, but things are still failing.  I know if I keep trying it'll eventually work, and rather than creating a bash script to just forever loop this, I'd like to pass something into imgpkg.

Possibly add an option

[2021-09-01 21:22] DennisDenuto opened #232 "Improve retry logic around flakey registries"
**Describe the problem/challenge you have**
- related to https://github.com/google/go-containerregistry/issues/1113

There are scenarios when a registry returns an error and imgpkg does *not* retry when it should. (since retrying would resolve the issue)

**Describe the solution you'd like**
imgpkg to retry errors from a registry, even if the actionable error is UNKNOWN.

---
Vote on this request

[2021-09-01 21:36] DennisDenuto commented on #231
Related to: https://github.com/google/go-containerregistry/issues/1114

[2021-09-02 18:49] pivotaljohn commented on #22
Next step: verify whether this is still an issue.

[2021-09-02 19:05] pivotaljohn commented on #231
Triage:
- split out work to change the imgpkg default to 15.
- @DennisDenuto and @cppforlife to huddle to decide whether this is configurable to the imgpkg user.

[2021-09-02 19:30] pivotaljohn commented on #204
We've gotten information that this is a higher priority:

- there was an assumption that this could achieved through inspecting `images.yml` by `pull` recursive. However, we get an incomplete set of images; that approach is not viable.

[2021-09-02 20:00] DennisDenuto opened #234 "Make IMGPKG_REGISTRY_HOSTNAME more permissive"
**Describe the problem/challenge you have**
- when setting a registry hostname via env variables (`IMGPKG_REGISTRY_HOSTNAME`) containing a `scheme` such as `http` or `https`, authentication is failing with a validation error:
[code]

**Describe the solution you'd like**
Allow specifying a scheme when setting the `IMGPKG_REGISTRY_HOSTNAME` env variable

**Anything else you would like to add:**
Slac

[2021-09-02 20:11] cppforlife opened #235 "reconsider how registry matching is done in env keychain"
**Describe the problem/challenge you have**

currently we only match by hostname. to make imgpkg more interoperable with k8s we may want to support more flexible matching:
Fix soon:
- [x] support ignoring of http/https scheme
  - https://github.com/vmware-tanzu/carvel-imgpkg/issues/234
- [x] ignore v1/v2 suffix on dockerhub?

Requires more investigation:
- [x] support matching by globs? k8s cred p

[2021-09-02 20:59] DennisDenuto commented on #204
TODO:
Prior to picking this up / working on this
- detail what the command options/flags will be, and the format of the output and get 'early' feedback from @ashvinmoro

[2021-09-03 19:02] DennisDenuto opened #237 "onboarding improvements"
Worked with @seemiller

we have identified the following areas of improvement to help folk onboard and make contributions to imgpkg:

- [x] ui vs logger -> hard to make changes since there are 2 different logging mechanisms. https://github.com/vmware-tanzu/carvel-imgpkg/pull/259
- [x] prefixlogger vs levellogger in copy.go (2 different loggers used)
- [ ] Document the different hack/test scripts
-

[2021-09-08 23:23] DennisDenuto opened #238 "allow deletion of images/bundles"
**Describe the problem/challenge you have**
imgpkg delete command to compliment push and pull

**Describe the solution you'd like**
`imgpkg delete -i` `imgpkg delete -b`

Provide a way to delete an image / bundle. Furthermore, allow to delete copied bundles/images.

**Anything else you would like to add:**
from this slack convo: https://vmware.slack.com/archives/CUK1X0Z8Q/p1630886629110900

---
Vo

[2021-09-08 23:37] GrahamDumpleton opened #239 "Add an imgpkg delete command."
**Describe the problem/challenge you have**

I want to be able to delete OCI artifacts in an image registry created by `imgpkg push` or `imgpkg copy` using `imgpkg`, rather than having to login to the web interface for the image registry, use a separate tools such as `skopeo` or by using a tool like `curl` against the image registry REST API directly to delete it.

**Describe the solution you'd li

[2021-09-08 23:38] GrahamDumpleton commented on #238
More complete version of issue created at same time:

* https://github.com/vmware-tanzu/carvel-imgpkg/issues/239

[2021-09-08 23:51] DennisDenuto commented on #238
Thanks @GrahamDumpleton i'll close this issue in favor of the one you created :-)

[2021-09-08 23:51] #238 closed, assigned to nobody

[2021-09-09 20:09] cppforlife commented on #239
quick thoughts so far:
- we should still use -i/-b flags for delete to stay consistent with other commands (all carvel tools use flags for args)
- when -b is provided we can use --recursive (default=false) to indicate whether we want to delete referenced assets
  - what happens when referenced assets live in different registries? do we only want to delete from the registry where bundle is located?

[2021-09-09 20:55] #57 closed, assigned to nobody

[2021-09-09 23:13] GrahamDumpleton commented on #239
It doesn't make sense to me that if going to require `-i` and `-b` that `-i` would still delete any image type, including bundles.

Why would stuff in other registries ever matter? You would only delete assets in the same registry as you are targeting, and only if they were put their due to an `imgpkg copy`.

Dealing with other registries would likely fail anyway due to current issues with only be

[2021-09-14 16:57] cppforlife commented on #239
bundles are images too. -i actually allows to pull bundles as plain images via --image-is-bundle-check=false flag.

copy is only one case. if user did imgpkg push then they would want to be able to delete it as well. if that pushed bundle points to multiple registries (or multiple repositories within the same registry), there is an argument to be made for being able to delete them.

you can auth c

[2021-09-14 17:14] DennisDenuto commented on #239
Thanks for creating this issue!

## From a UX perspective:

- I like prompting the user about all the different artifacts that will be deleted. If a user wants to delete a bundle, then imgpkg should output: bundle, nested bundles, dependent images, tags and metadata images (such as signatures and image-locations) should all be listed. (FWIW This has some overlap with the describe command (this des

[2021-09-14 21:46] kdvolder opened #244 "imgpkg crashes with `panic: runtime error: invalid memory address or nil pointer dereference`"
**What steps did you take:**

See: https://github.com/spring-projects-experimental/spring-boot-observer/blob/main/application-live-view-convention-service/01-setup-convention-controller-in-kind.sh#L21

**What happened:**

The process seems to start okay then crashes with a segmentation fault.

**What did you expect:**

To execute and 'materialize' the bundle contents on the file system.

**Anythin

[2021-09-14 21:49] DennisDenuto commented on #244
Hi @kdvolder  - Thanks for creating this bug

I am unable to access: https://github.com/spring-projects-experimental/spring-boot-observer/

So I am unable to see what command you are running.

However, I noticed that the version of imgpkg you are using is a few versions out of date.

Can you try updating to the latest (v0.17.0) and trying again?

[2021-09-14 21:51] kdvolder commented on #244
The above repo linked repo is private not sure you'd have access. This is the bit of ths script that matters:

[code]

Also the tar file being referenced is from this page: https://github.com/vmware-tanzu/convention-controller/releases
Specifically: https://github.com/vmware-tanzu/convention-controller/releases/download/v0.4.0/convention-controller-bundle-v0.4.0.tar

Also in a private repo but if

[2021-09-14 21:52] kdvolder commented on #244
REally? I though I just downloaded a fresh one. Let me check and see...

[2021-09-14 21:55] kdvolder commented on #244
No more error with v0.17. So closing.

[2021-09-14 21:55] #244 closed, assigned to nobody

[2021-09-14 22:00] kdvolder commented on #244
Thanks for the quick reply. As to how I ended up with old version. It seems I downloaded the latest, but also still had another older binary still in 'Downloads' folder and somehow that one got installed and used instead. It might be useful if the download files included the version in the file name. E.g. `imgpkg-linux-amd64-v0.17` instead of `imgpkg-linux-amd64`.

I think that would make mistakes

[2021-09-14 22:33] DennisDenuto commented on #244
Thanks for that additional context @kdvolder

My main concern with renaming the binary to include the version would be breaking downstream consumers that may be relying on that filename.

Although, I think if we start seeing more issues around the problem you stated, we would consider it as a viable option :-)

[2021-09-17 16:09] seemiller opened #248 "push adds a default, unique tag"
**Describe the problem/challenge you have**

OCI registries can perform a garbage collection process where any un-tagged image is deleted.

This can cause a problem when tags are re-used, with the tag migrating from an older image to a newer one, but with the digest of the older image still being referenced.

Here's how the problem arises.

1. An image with URL/Digest `image@sha256:ABC123` is tagg

[2021-09-17 16:23] jorgemoralespou commented on #248
@seemiller I'm assuming the `unique-tag` will be in addition to the provided tag for the repository.

- Any recommendation on the tag format?
- Should it be configurable, or default is ok?

[2021-09-17 19:21] seemiller commented on #248
At the moment, I have no opinion on the format of the tag. Options include:
* A (partial) SHA
* The time stamp of the upload
* Randomly generated string
* A user provided value
* `fred`

I'm not to attached to any particular format as all that is needed is another tag to prevent garbage collection.

[2021-09-17 20:32] cppforlife commented on #248
this shouldnt be a dedicated flag since all users should benefit from this (and for consistency with impgkg copy). tag should be standard imgpkg uploading tag eg `sha256-abc...123.imgpkg` (https://github.com/vmware-tanzu/carvel-imgpkg/blob/7e15cf608460ca3e145e21773d41366c4e44e022/pkg/imgpkg/imageset/image_set.go#L215). (as a side note that standard convention helps folks to apply harbor replicatio

[2021-09-20 17:43] aaronshurley commented on #226
We expect that https://github.com/vmware-tanzu/carvel-imgpkg/pull/245 will address this issue. We'll keep this open until the other work lands and this workflow is validated.

[2021-09-20 21:45] DennisDenuto commented on #235
Closing. This has been resolved in https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.18.0

[2021-09-20 21:45] #235 closed, assigned to nobody

[2021-09-20 21:45] DennisDenuto commented on #202
Closing. This has been resolved in https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.18.0

[2021-09-20 21:45] #202 closed, assigned to nobody

[2021-09-20 21:45] DennisDenuto commented on #221
Closing. This has been resolved in https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.18.0

homebrew formula also references the arm binary.

[2021-09-20 21:45] #221 closed, assigned to nobody

[2021-09-20 21:46] DennisDenuto commented on #234
Closing. This has been resolved in https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.18.0

[2021-09-20 21:46] #234 closed, assigned to DennisDenuto

[2021-09-20 21:47] #155 closed, assigned to joaopapereira

[2021-09-21 01:02] voor commented on #193
`{{.SrcRepo}}` would definitely work for my use case, where I just want to take a BundleLock file and move it from one place to the next, preserving the entirety of the path.  So if my image was originalplace.com/someproject/somegroup/yadda/nginx:1.0.0 it would get moved to newplace.com/someproject/somegroup/yadda/nginx:1.0.0 and the contents of `{{.SrcRepo}}` would be `someproject/somegroup/yadda

[2021-09-21 12:53] dhadukk opened #254 "imgpkg v0.18.0 auth struggles with docker's credsStore feature"
**What steps did you take:**
1. docker login dev.registry.tanzu.vmware.com
2. imgpkg copy --tar developer-conventions-bundle-v0.1.0-alpha.tar --to-repo dev.registry.tanzu.vmware.com/tanzu-advanced-edition/developer-conventions
**What happened:**
copy | Error: Error uploading images: HEAD https://dev.registry.tanzu.vmware.com/v2/tanzu-advanced-edition/developer-conventions/blobs/sha256:214eb19e7b1a

[2021-09-21 16:37] DennisDenuto commented on #254
Hi @dhadukk thanks for raising this bug

Are you running the `imgpkg copy` command from a VM / container running on an IaaS (GCP, AWS, Azure?). If so, could you try running the command with the following env var `export IMGPKG_ENABLE_IAAS_AUTH=false`

The thought here is that imgpkg is getting the cred from the IaaS metadata service and not from your dockercfg file via `docker login`

If the above

[2021-09-21 19:42] cppforlife commented on #254
root cause was identified to be iaas related auth handler starts picking up dockerconfig but is not able to work with more modern credsStore configuration.

current suggested workaround is to keep using v0.17.0 or use `export IMGPKG_ENABLE_IAAS_AUTH=false`. we'll be cutting a new release with a fix shortly.

[2021-09-21 20:38] voor commented on #73
We're interested in using imgpkg copy during our release pipeline to move a container from one registry to another while additionally adding a new tag.  The image is already tagged with a git commit sha, but would like to semver it based on the tag name.

Something like `--tag` that could be specified multiple times would do it fantastically.

[code]

Image would then be pullable:
[code]

[2021-09-22 22:04] DennisDenuto opened #258 "Document promoting a bundle use case"
Describe the problem/challenge you have
I wanted to know how to use imgpkg when promoting a bundle between various environments (dev->qa->prod). And have a deeper understanding on how `imgpkg pull` with `imgpkg copy` helps with this.

Describe the solution you'd like
A new scenario added to help demonstrate this

Note: Would be useful to have diagrams to help communicate this. such as https://jvns

[2021-09-22 22:28] DennisDenuto commented on #254
A fix has been included in 0.19.0 https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.19.0

[2021-09-22 22:28] #254 closed, assigned to nobody

[2021-09-23 22:13] DennisDenuto commented on #248
@seemiller as discussed in the [carvel community meeting](https://hackmd.io/F7g3RT2hR3OcIh-Iznk2hw) this sounds like a feature we would like to support in imgpkg

I agree with @cppforlife that we should use a standardized tag name (similar to what happens in copy)

I'll go ahead and mark this as carvel-accepted, meaning we plan on working on this.

[2021-09-23 22:32] aaronshurley opened #261 "Bump go version to latest"
**Describe the problem/challenge you have**
We want to ensure that the code remains compatible with the latest versions so that we do not risk falling behind and on an unsupported version (note: go supports n-1 versions).

**Describe the solution you'd like**
The code runs on the latest version of go.

**Anything else you would like to add:**

---
Vote on this request

This is an invitation to the

[2021-09-26 20:35] voor opened #264 "imgpkg tag list adds tab character after results"
**What steps did you take:**
[code]

**What happened:**
[code]

**What did you expect:**
No tab characters after results.

**Anything else you would like to add:**
This would probably be the motivation for a `--filter` command or similar to allow me to avoid piping this to grep.

**Environment:**

- imgpkg version (use `imgpkg --version`): `0.17.0`
- Docker registry used (e.g. `Docker HUB`): `hell

[2021-09-27 22:01] tezizzm commented on #22
@pivotaljohn As of the [0.19 release](https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.19.0) this is still an issue:

![image](https://user-images.githubusercontent.com/5050479/134991075-e2a1bf89-8615-4761-b457-79d67f52c2c8.png)

[2021-09-28 17:55] DennisDenuto commented on #264
Hey @voor

Thanks for creating this bug!

Are you able to elaborate on the pain / issue with the format of the output (i'm assuming its causing some scripting difficulties?)

Here's a run-down with imgpkg's logic around output:

When you run the list tags command, and the output is attached to a tty then the output *should* print out white spaces (not tabs) at the end of the string value in that c

[2021-09-28 18:35] voor commented on #264
Hi @DennisDenuto it was causing the following script to fail very annoyingly (since it was getting the space):
[code]

Although I realize now everything would have been fine and proceeded as normal if I had just removed the `"` from the call:

[code]

[2021-09-28 20:58] DennisDenuto commented on #264
Thanks for sharing that scripting snippet

I'm kinda inclined to close this issue (let me know if you feel strongly otherwise). With the rationale being, when printing a table format, we should leave the delimiter as spaces between columns (the `tag` command only has a single column, but if there were multiple columns, consumers should expect spaces as the delim between the columns). I'm also hopi

[2021-09-28 21:02] DennisDenuto commented on #138
Added google's new container registry into the list https://cloud.google.com/artifact-registry

[2021-09-29 15:50] #264 closed, assigned to nobody

[2021-09-29 15:51] voor commented on #264
Sounds good, the `--json` output might be a more robust solution as well.

[2021-09-29 18:53] DennisDenuto commented on #226
Closing this as it was implemented and released in https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.18.0

[2021-09-29 18:53] #226 closed, assigned to nobody

[2021-09-30 06:01] andreizimin commented on #22
adding  `--registry-verify-certs='False'` seems to by-pass the issue

[2021-10-01 04:07] meghanajangi commented on #193
I agree with the {{.SrcRepo}} suggestion , this would be very helpful.

[2021-10-01 13:25] voor commented on #193
You might also want to check the proposal here https://github.com/vmware-tanzu/carvel-community/pull/22 to see if it helps some of those needs.

[2021-10-01 16:10] DennisDenuto commented on #193
Thanks for the replies! I'm going to carvel accept this issue. With the intent to provide some sort of templating functionality (like discussed above ` {{.SrcRepo}} `) to allow specifying the destination repo.

[2021-10-01 16:19] voor commented on #193
While not ideal, one workaround that we've been using is some `sed` magic.  Being able to replace this with a native capability would be fantastic.  For those that need a temporary workaround, here's how we're doing it: https://gist.github.com/voor/7b63796b891297f04de7ac1a6b7d601d

[2021-10-06 18:40] DennisDenuto opened #267 "[windows] imgpkg displays color codes on display"
**What steps did you take:**
Run any imgpkg command that displays color

i.e.

`imgpkg`

**What happened:**
The color codes are printed on the screen instead of changing the color of the text.

[code]
**What did you expect:**
The text on the terminal to change color

**Anything else you would like to add:**
Ran the above commands using build-in windows command prompt

**Environment:**
Windows 10

[2021-10-06 18:49] DennisDenuto opened #268 "[windows] imgpkg does not have a deterministic push across OS"
**What steps did you take:**

On Windows
[code]

On Linux
[code]

[code]

**What happened:**
Image pushed resulted in a different sha (and different contents) across windows and linux

**What did you expect:**
The same image pushed. Or a way to differentiate between an image built for windows vs linux. Using an Image Index perhaps?

**Environment:**

- imgpkg version (use `imgpkg --version`): 0.19

[2021-10-06 19:11] cppforlife opened #269 "support sbom/attestation OCI artifacts similar to .sig signatures"
**Describe the problem/challenge you have**

we currently have --cosign-singatures=bool flag that attaches .sig artifacts. cosign has .sbom and .att suffixes as well.
(https://github.com/sigstore/cosign/blob/0142711da2fadc78f546a99adf12e2f0be428600/pkg/oci/remote/options.go#L27-L29)

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backl

[2021-10-06 21:04] DennisDenuto opened #270 "[windows] imgpkg does not retain file permissions"
**What steps did you take:**
On Windows
[code]

Expected ./extract-bundle/exec_file.sh
to have permissions: `-rwx------`
actual  : `-rw-rw-rw-`

**What happened:**
None of the file permissions were retained

**What did you expect:**
file permissions to stay the same

**Environment:**

- imgpkg version (use `imgpkg --version`):
- Docker registry used (e.g. `Docker HUB`):
- OS (e.g. from `/etc/os-re

[2021-10-06 21:06] DennisDenuto opened #271 "[windows] imgpkg pushing a bundle on windows cannot be pulled on linux"
Related to: https://github.com/vmware-tanzu/carvel-imgpkg/issues/268

**What steps did you take:**

On windows
[code]

On Linux
[code]

**What happened:**
linux is unable to find `images.yml` I think due to windows imgpkg using backslashes and linux expecting forward slashes.

**What did you expect:**
imgpkg pull to work on linux

**Environment:**

- imgpkg version (use `imgpkg --version`): 0.19.0

[2021-10-11 17:57] #22 closed, assigned to DennisDenuto

[2021-10-11 21:20] DennisDenuto commented on #130
Closing. Released in https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.20.0

[2021-10-11 21:20] #130 closed, assigned to seemiller

[2021-10-11 21:21] DennisDenuto commented on #261
Closing. Released in https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.20.0

[2021-10-11 21:21] #261 closed, assigned to nobody

[2021-10-12 17:06] DennisDenuto commented on #269
hey @cppforlife good idea! i'll carvel-accept this meaning we plan on working on it.

Do you have any thoughts on the flag name? It has the word signatures, but will be used to copy other artifacts too?

Personally, I think leaving it as-is and documenting that it is used to copy cosign artifacts (such as sbom and attestations) is sufficient. And avoids backward compatibility concerns with renamin

[2021-10-12 17:56] DennisDenuto opened #275 "[windows] Unable to docker pull a bundle/image built by imgpkg"
**What steps did you take:**

[code]

**What happened:**
docker pull failed with an error

**What did you expect:**
docker pull to succeed

**Anything else you would like to add:**
Similar issue encountered in ko
- https://github.com/google/ko/issues/361
- https://dfir.ru/2020/08/15/containerized-registry-hives-in-windows/

Look into making an upstream contrib to ggcr:
- https://github.com/google/

[2021-10-12 19:10] cppforlife commented on #269
may be worth renaming to --cosign-artifacts=bool? im a little less concerned about backwards compatibility for this one, since it's not a widely used feature and it would fail loudly if somebody depends on it.

btw one thing i just realized is that we have to be mindful that attestations/sboms could be signed themselves.

[2021-10-13 15:21] jvalkeal commented on #248
I would really like to define all my tags with `push` command. If I later pull bundle to add tag(s), digest in a repository will change. For example:
[code]
![image](https://user-images.githubusercontent.com/50398/137162980-85b52caa-8b2c-4b4d-8333-6fdc0d087a0f.png)

[2021-10-15 00:32] voor opened #277 "Using imgpkg for populating container runtime image cache"
**Describe the problem/challenge you have**
We often times run our nodes in environments where they initially do not have a container registry. We take advantage of the fact that the Kubernetes cluster temporarily disabled `AlwaysPullImages` and permits `IfNotPresent`.  This allows us to immaculately conceive a Harbor cluster that is actually hosted with the same Harbor cluster's images, so `mycoo

[2021-10-15 16:43] jpmcb opened #278 "Cannot use `go get` to include imgpkg libraries"
**What steps did you take:**
In a new go project:
[code]

I want to use the carvel libraries in a go project, but I am unable to use `go get` to pull in that dependency

**What happened:**
The `go.mod` should declare it's module as `github.com/vmware-tanzu/carvel-imgpkg` not `github.com/k14s/imgpkg`

**What did you expect:**
Be able to pull in the carvel libraries

**Anything else you would like t

[2021-10-18 16:21] pivotaljohn commented on #278
Thank you, @jpmcb!

This is something that we've been tracking since our migration from the k14s org to the vmware-tanzu org: https://github.com/vmware-tanzu/carvel/issues/153

Two things for others coming across this issue:
1. one can `go get` with Carvel tools today by using the `github.com/k14s.io/...` module name. GitHub performs the needed redirect.
1. there are others who have integrated wit

[2021-10-18 16:24] pivotaljohn commented on #278
@DennisDenuto — do you have a sense of the best timing for completing the migration for `imgpkg` from k14s to vmware-tanzu?

[2021-10-18 16:34] pivotaljohn opened #280 "Failed to go get 0.20.0 on checksum mismatch"
@pivotaljohn commented on [Mon Oct 18 2021](https://github.com/vmware-tanzu/carvel-vendir/issues/118)

**What steps did you take:**
Attempting to build `kbld` built against newer version of `imgpkg` (i.e. 0.20.0)

**What happened:**
`go get` failed on mismatched checksum
https://github.com/vmware-tanzu/carvel-kbld/pull/180/checks?check_run_id=3922769761

**What did you expect:**
Expected checksums

[2021-10-18 16:39] aaronshurley commented on #248
@seemiller are you still planning to work on this issue? Any challenges so far?

[2021-10-18 19:44] DennisDenuto commented on #278
Theres a few different perspectives.
tl;dr We should add some documentation and give a heads up. and then merge.

1) imgpkg shipped as a binary. Using a more 'accurate' module name shouldn't have any effect.
2) imgpkg consumed as a library. This would be a breaking change. However this is a distribution channel which we haven't officially supported and have stated to folk who are using it as a lib

[2021-10-19 16:46] pivotaljohn commented on #278
I don't see anything from where I'm sitting that would require these repos/modules needing to move in lock-step.

Would be nice just to put this behind us. :)

FWIW, GitHub redirects are indefinite: so long as a same-named repo is not created in the originating org, the redirect will continue to work.

[2021-10-19 17:31] DennisDenuto commented on #277
Hey @voor Thanks for the detailed issue

I'm not too familiar with `ctr` but groking their code, they seem to have an `images` command that might be able to print out the digest for the cached image in question. https://github.com/containerd/containerd/blob/main/cmd/ctr/commands/images/images.go#L94

This might also be a good idea to ensure you are actually running the exact image since tags are m

[2021-10-21 16:02] jorgemoralespou opened #282 "Provide a way to configure which packages are copied and which not"
**Describe the problem/challenge you have**
When relocating (imgpkg copy) a packagerepository that is old and has too many old versions into a new cluster/datacenter, we might know that old versions are never going to be used, so we want to blacklist them from copying over, so that size of images in destination repository and process of copying is improved.

**Describe the solution you'd like**
I

[2021-10-21 17:48] seemiller commented on #248
I am, was hoping to start last week, but KubeCon kinda got in the way!

[2021-10-21 18:38] pivotaljohn commented on #280
Not sure what happened to ol' dependabot, but this worked locally. @DennisDenuto did so and merged. 👍🏻

[2021-10-21 18:38] #280 closed, assigned to nobody

[2021-10-22 20:25] cppforlife commented on #282
(... need to think how to bridge the gap here between imgpkg concepts and packages == imgpkg does not know what's a package intentionally.)

[2021-10-23 20:57] cppforlife opened #284 "pull command should indicate why images.yml was not localized"
**Describe the problem/challenge you have**
currently imgpkg just says images.yml was not localized. it's not clear _why_ it was not -- we should probably include underlying error/reason and related image. probably should give a reason even if it was successful.

this would have been handy when we were trying to figure out why images.yml was not coming back rewritten after imgpkg copy used (proble

[2021-10-25 15:35] DennisDenuto opened #285 "how to create a sbom for a Bundle"
I would like to have insight into what dependencies (+ transitive) / packages / libraries / licenses are being distributed by a Bundle

Having an sbom is a good standard to follow, however generating an sbom for a bundle doesn't capture any of the dependencies brought in by the referenced images. (It isn't clear to me whether it should either, since each image ref would also have its own sbom - th

[2021-10-25 16:44] pivotaljohn commented on #204
Review #124 — which may be requesting the same functionality.
- note the sample output: https://github.com/vmware-tanzu/carvel-imgpkg/issues/124#issuecomment-823325183
- that other story was describing this feature, in general. What context from _this_ story can help us prioritize what aspects of this feature to implement now (and what we might want to defer).

[2021-10-25 17:32] DennisDenuto commented on #55
@vrabbi Are you able to share your development flow? Curious to learn whether this feature would still be useful

[2021-10-25 18:27] DennisDenuto commented on #248
@jvalkeal interesting! Looks like docker is re-formatting the manifest json before pushing it to the registry, adding new lines in the json (hence the digest change)

As a workaround I would recommend using crane to tag the image (crane uploads the tag object without messing with the manifest json)

wrt specifying multiple tags, this issue seems to be scoped to fixing images being gc'd incorrectly

[2021-10-25 19:38] seemiller commented on #248
Discussed this issue with @DennisDenuto and @joaopapereira

- Instead of optionally adding a tag, imgpkg will _always_ add it
- Tag format will be consistent with what is currently done in the copy cmd - `{algo}-{hex}.imgpkg`
- Implement new code in the `Push` function in `contents.go`
- Add test coverage in `image_test.go` and `bundle_test.go`

[2021-10-25 21:45] joaopapereira opened #288 "Change the registry used on windows tests"
**Describe the problem/challenge you have**
When running the tests in windows instead of relying on ttl.sh ephemeral registry we should explore other options since we have seen, lately, tests flaking because the images were removed from the registry

**Describe the solution you'd like**
look for an equivalent image to `registry:v2` or eventually create a binary that run a simple registry for us to

[2021-10-25 21:55] joaopapereira commented on #288
We found a dockerfile that we can use to generate a registry that runs in windows in https://github.com/StefanScherer/dockerfiles-windows/blob/main/registry
This image can be stored in our docker hub account.

We should create a script in our `hack` folder that would allow us to regenerate this image in an easy way.

[2021-10-26 12:00] #211 closed, assigned to joaopapereira

[2021-10-26 12:19] cppforlife commented on #288
@joaopapereira why dont we just go build the binary on the fly and run it directly instead of using docker for this?

[2021-10-26 14:05] joaopapereira commented on #288
That is another option 😄 we just need to launch it in background and should be good

[2021-10-26 16:52] joaopapereira commented on #282
@jorgemoralespou is your request somewhat of a different approach to this epic https://github.com/vmware-tanzu/carvel-imgpkg/issues/120 ?

[2021-10-26 17:06] jorgemoralespou commented on #282
If the epic "pulling" also covers "copying" probably not.

[2021-10-26 22:52] DennisDenuto opened #290 "[perf] imgpkg seems to make lots of repeated requests to `/v2` endpoint"
# Description

running `imgpkg pull --debug` I notice lots of requests being made to the registry `/v2` endpoint, trying to get a token.

When pulling a bundle with lots of images / nested bundles, I think this may contribute to a performance degradation.

It would be nice to know:
- how much performance we lose by making repeated calls to `/v2` and assuming the registry requires a `bearer token`,

[2021-10-27 09:38] vrabbi commented on #231
this would be great to have. im trying to create a VERY large imgpkg bundle for an airgapped scenario with 942 images in it. this is a package repository. the file size is 67GB when copied to TAR. eventually after about 1000 layers there is usually some temporary network issue which unfortunately isnt fixed in time for the current retry number to take continue on successfully.
copying to tar is ta

[2021-10-27 16:33] #108 closed, assigned to joaopapereira

[2021-10-27 16:50] #278 closed, assigned to nobody

[2021-10-27 19:58] joaopapereira commented on #204
As @pivotaljohn mentioned we have discussed the creation of a `describe` command in issue #124, @ashvinmoro do you think that the proposed output can solve your needs?

[2021-10-27 20:27] vrabbi commented on #55
Im very interested in this feature
For me the ask would be that the referenced images would be in the tar ball.
Basically i would create the manifests / add them to a config folder > run kbld to generate the imgpkg lock output file > run imgpkg build/push/copy -f /folder/path --to-tar /tmp/my-bundle.tar > copy tar to airgapped environment > imgpkg copy --tar /tmp/my-bundle.tar --to-repo ...

More

[2021-10-28 20:40] voor commented on #277
So we went back to the whiteboard and dove into this a bit more and realize our use case is slightly different.

We successfully copy over a imgpkg bundle from somewhere else, and in the process those containers all change where they are, but that's clearly outlined in the imgpkg lock file, for example:

[code]

We can then iterate through this file, along with others, pulling the container from t

[2021-10-28 20:40] #277 closed, assigned to nobody

[2021-10-28 20:45] joaopapereira commented on #282
I am trying to think through what are the impacts of this change.
In your scenario really sounds compelling the need for this feature, nevertheless this could cause some strange state between registries.

Let's assume this scenario you have a Bundle A that you want to copy to an air-gapped environment but we only want to copy 2 images that are part of that bundle.
Now, this bundle will exist in 2

[2021-10-28 20:54] joaopapereira commented on #258
This sounds like valuable documentation to have in carvel.dev

Going to accept the story

[2021-10-28 21:15] cppforlife commented on #282
i think the main use case is not to copy set of images, but rather copy subset of bundles (e.g. package bundles). so result would be (in packaging case at least) to be able to install some subset of packages.

[2021-10-28 21:23] jorgemoralespou commented on #282
Yeah, this is really related to kapp-controller package repository relocation, where relocating a repository with old version would be really resource intensive.
Kapp-controller on one hand recommends to only add to image repositories, very much like any packaging system, but then relocation means you need to copy all of it, and it might eventually be years of images. I would expect a way that img

[2021-10-29 13:11] voor opened #291 "imgpkg pull recursive is really cool for machines, but less great for users"
**Describe the problem/challenge you have**
I have started doing a fair bit of PackageRepository work, which is causing me to dig into the actual contents of a Package fairly often.  Packages are great, but since Package authors are very new to Packages the current results are of extremely varying quality.  This results in me very often inspecting a Package, figuring out the bundle that is backing

[2021-10-29 16:01] joaopapereira commented on #284
I looked through the piece of code and what is being done right now is failing fast, we are not checking all images.

We could eventually change the current behavior and get some better messaging.

This is the current output
[code]

Is your suggestion something like:
[code]

[2021-11-01 17:31] pivotaljohn commented on #217
Let's make this a feature (does it need crisper acceptance criteria?) and we can point it.

[2021-11-02 17:16] pivotaljohn commented on #55
FWIW, there _may_ be an additional use-case for this feature: vmware-tanzu/carvel-kbld#158.

`kbld` has a mode where it does not push built artifacts. Having the ability to do so with `imgpkg` bundles fits nicely with that mode.

[2021-11-03 20:11] cppforlife commented on #284
@joaopapereira still want to do that. just would like to see reason for the first failure.

[2021-11-04 14:43] joaopapereira opened #294 "Copying to same registry with authentication per repository fails"
**What steps did you take:**
When a bundle is being copied to the same registry, but to a different repository, if both repositories have different authentication `imgpkg` fails with a 401 when trying to mount the repositories.

Let's assume we have a bundle `my.registry.io/my-bundle:tag` with the following image
`my.registry.io/application1/controller` and to be able to copy from this image the u

[2021-11-05 19:53] #212 closed, assigned to joaopapereira

[2021-11-05 20:46] cppforlife commented on #55
been brainstorming this with @joaopapereira, we have settled on

[code]

(--inflate naming is up for debate). above plan also addresses https://github.com/vmware-tanzu/carvel-imgpkg/issues/37 and makes the commands consistent whether working with registry or tarballs.

[2021-11-08 19:47] joaopapereira commented on #204
@ashvinmoro any comments about the output of the `describe` command proposed in #124 ?

[2021-11-09 15:30] joaopapereira commented on #285
Going to accept this issue.

The expected outcome for this story is:
1. Come up with a workflow that can be used by the users
2. Create new issues with possible new features needed to create these SBOMs (This might not be a change in `imgpkg` itself but it could be a script to help automate the process)

[2021-11-09 15:35] joaopapereira commented on #284
I agree with that. So in order to keep the behavior this is my new proposal for UX

[code]

Going to accept this issue

[2021-11-09 15:40] joaopapereira commented on #163
I feel like this discussion has grown stale. Do we still believe it makes sense to keep this issue around?
@pivotaljohn @DennisDenuto @cppforlife

[2021-11-09 15:43] joaopapereira commented on #181
Since more than 4 months have passed since the last comment in this discussion do we believe this is an issue that we should look into?

[2021-11-09 15:53] joaopapereira commented on #282
After talking a little bit more about this issue, I think that the concept of a not complete Bundle might not be a major issue.

This could open a window for people to only copy images that they know are needed in the destination Registry, especially in an environment without internet access. This could save a lot of bandwidth when transporting the Images.

Questions that we need to think about:
1

[2021-11-09 16:00] joaopapereira commented on #291
Thanks for reaching out @voor

Do you think it would be helpful a UX like:
[code]

[2021-11-09 21:34] cppforlife commented on #282
+ and how does that connect to e2e experience with pkgrepo+pkgs.

[2021-11-11 00:21] ashvinmoro commented on #204
@pivotaljohn @joaopapereira I went through the issue #124. There are a couple of aspects I had suggestions about

* List all of the image references that are part of the bundle. This appears to be covered in issue #124.
* If the bundle is a nested bundle, list the image references of nested bundles as well as the image references of each nested bundle. This could either be provided as a recursive

[2021-11-11 16:27] seemiller opened #296 "please ignore"
Sorry - created issue in the wrong repo!

[2021-11-11 16:29] #296 closed, assigned to nobody

[2021-11-11 20:31] #294 closed, assigned to joaopapereira

[2021-11-16 16:53] joaopapereira commented on #204
@ashvinmoro Take a look at the following example to see if they look good for your use case:

## Examples

**Example 1:** Describe command without any argument
[code]

**Example 2:** Describe command listing all images

[code]

**Example 3:** Describe command listing all images in the current bundle without searching inner bundles
[code]

**Example 4:** Describe command listing all images displayi

[2021-11-16 18:21] joaopapereira commented on #294
Fixed in version [0.23.0](https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.23.0)

[2021-11-16 18:21] joaopapereira commented on #212
Fixed in version [0.23.0](https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.23.0)

[2021-11-16 18:23] #79 closed, assigned to joaopapereira

[2021-11-16 19:50] joaopapereira commented on #232
With the bump to go-containerregistry to version 0.7.0 this issue is solved.

Present in version 0.23.0 of `imgpkg`

[2021-11-16 19:50] #232 closed, assigned to nobody

[2021-11-16 20:59] iamhsk commented on #217
Hi @mhoshi-vm, curious to learn if there is a reason why you are copying from the image lock file instead of copying from a bundle? In other words, what was your thought behind not creating a bundle with all the images?

[2021-11-17 00:47] mhoshi-vm commented on #217
hi @iamhsk
AFAIU if I go with the bundle path the procedure will look like this. (Which I know it works)
[code]

The problem is with this part. Is where I need to upload the bundle to an intermediate repo before going to the offline environment to generate the bundle.

[code]

kbld relocation does not require this intermediate repo and the procedure is much more simpler

[2021-11-17 16:18] joaopapereira commented on #217
Hey @mhoshi-vm
I was thinking about your request and trying to do some assessment of the need for `imgpkg` to allow the copy command to receive an ImagesLock as an input. The problem that you are describing looks like it is similar to #55. Do you think that if this issue would be solved you would use a Bundle instead?

---

About the ability to copy using an ImagesLock.
- I am not sure how much th

[2021-11-18 13:33] mhoshi-vm commented on #217
So the only concern that I have is that "it used to be much easier with kbld..."
Comparing with `kbld relocate` (which is afaiu deprecated) even with #55 there seems to have much more steps with imgpkg.
Very soon everyone will forget about `kbld relocate` so that might not be an issue though ...

At least this was a very powerful feature to download images and bring it to an offline environment.

[2021-11-19 21:09] joaopapereira opened #300 "Copy from tar to repo fails on airgapped environment"
**What steps did you take:**
Create a Bundle and copy it to a tar file
Move the tar to a place that has no access to the original place where the Bundle was created

**What happened:**
[code]

**What did you expect:**
`imgpkg` not to try to contact the origin Registry

**Environment:**

- imgpkg version (use `imgpkg --version`): 0.23.0
- Docker registry used (e.g. `Docker HUB`): Dockerhub
- OS (e.

[2021-11-19 23:57] #300 closed, assigned to nobody

[2021-11-22 20:33] joaopapereira commented on #217
@mhoshi-vm I would like to dig a little bit more on

What do you think makes it easier to use `kbld` instead of `imgpkg`?

[2021-11-23 16:10] making commented on #217
There is a use case where you want to bring existing images (ex. Helm chart) into an air-gapped environment.

This can be achieved with the deprecated `kbld pkg`:

[code]

On the other hand, if you want to use `imgpkg` instead, you need to push to repository once like bellow:

[code]

This is painful, so it motivates me to continue using `kbld pkg`.

[2021-11-23 16:18] joaopapereira commented on #217
Cool, thanks for the examples @making

I would like to dig a little bit into the pain, what do you think is causing the pain?
- Need to run more commands?
- Need to use multiple tools?
- Need to push the bundle to the registry?
- Or something else?

[2021-11-23 16:43] making commented on #217
@joaopapereira
In the use case, It is painful for restricted enterprise companies to prepare the registry to temporarily push the bundle in the online environment.

[2021-11-23 16:47] joaopapereira commented on #217
Do you think that this https://github.com/vmware-tanzu/carvel-imgpkg/issues/55#issuecomment-962209740 would help?

So in your use case it would look like:
[code]

[2021-11-23 17:00] making commented on #217
@joaopapereira Does it still require `extra-intermediate-public-registry.example.com` ?