[2021-11-23 17:18] joaopapereira commented on #217
No, the registry information there is only to ensure we have a bundle name and to keep the interface of the push command

[2021-11-23 17:27] making commented on #217
That sounds great although `push` sounds like associated with upload and might be a bit confusing.

[2021-11-24 00:07] mhoshi-vm commented on #217
To be very honest, instead of `imgpkg` it will be great if we can keep maintaining `kbld pkg`, `kbld unpkg`, or `kbld relocate` as it was
• much easier
• much straight forward.
But that just a nice to have. I don't have enough will to go against the decision of deprecating it.

In anyway if we consider #55 as a fix for this case, I am okay with that decision, just need to get use it once it is rel

[2021-11-29 17:17] joaopapereira commented on #163
As discussed today I am going to close this issue. In the future, we can reopen it if we think it is something that we want to improve the UX of `imgpkg`.

[2021-11-29 17:17] #163 closed, assigned to nobody

[2021-12-03 16:16] aaronshurley commented on #231
Just as a reference, the gcr work was in the last release: https://github.com/google/go-containerregistry/releases/tag/v0.7.0

[2021-12-03 16:39] joaopapereira commented on #231
The PR was merged and will be released in version 0.24.0

[2021-12-06 16:51] joaopapereira commented on #290
This issue needs further investigation to try to understand the reason behind the requests and if it is related to the linked issue.
Added needs more info and important-longterm as labels

[2021-12-10 00:27] ggpaue opened #306 "linux binary couldn't start (imgpkg binary was not downloaded)"
**What steps did you take:**
[A clear and concise description steps and any files that can be used to reproduce the problem.]
1. download binary from release page
2. paste into /usr/local/bin
3. execute the binary
**What happened:**
[A small description of the result]
return error message

**What did you expect:**
[A description of what was expected]

**Anything else you would like to add:**
[Addi

[2021-12-10 13:31] cppforlife commented on #306
i just downloaded myself to double check and its all fine.

ensure that whatever you downloaded matches specified checksum in the release notes. it seems that you have copied wrong link (or may be didnt follow github redirect) and effectively downloaded an html page.

[2021-12-14 00:00] joshrosso opened #310 "`imgpkg copy` should retain architectures and digest values"
**Describe the problem/challenge you have**

I use `crane` a lot for OCI operations. Something I really appreciate about it is the usage of `crane copy SRC DST` copies all the architectures and the digests are retained. This leaves me with a like-for-like manifest.

Ideally, this should be the model for `imgpkg`.

**Example:**

[code]

[code]

---
Vote on this request

This is an invitation to the

[2021-12-15 17:09] joaopapereira commented on #248
Released on version 0.24.0

[2021-12-15 17:09] #248 closed, assigned to seemiller

[2021-12-15 17:09] joaopapereira commented on #231
Released on version 0.24.0

[2021-12-15 17:09] #231 closed, assigned to nobody

[2021-12-20 14:49] voor commented on #291
I still do this in a fairly regular basis, always in the context of pulling a Package Repository.  I'm thinking, based on your UX example, you're looking at this more broadly as "given a recursive imgpkg bundle, with fairly limited information derived from the lock file how do I unpack this"

I'm not sure that'll have the desired outcome of giving me a friendly "scannable" way to read through the

[2021-12-20 16:19] joaopapereira commented on #291
I understand what you mean, nevertheless `imgpkg` does not know what you are packing as part of the Bundle. The creator can be bundling a PackageRepo, or a Package, or some YAML files, or some binaries, or just an application.

What kind of information are you looking for when you are trying to get the bundles recursively?

[2021-12-20 16:30] joaopapereira commented on #282
Going to mark this issue as a discussion since it looks like there are some open questions

[2022-01-03 22:03] cari-lynn commented on #310
Thanks for submitting this. With people out over winter responses are a bit delayed. We will get back to you soon when more `imgpkg` maintainers are back online.

[2022-01-04 14:04] cppforlife commented on #310
this is the case for imgpkg. are you seeing something else? if you give imgpkg indexmanifest then thats what will be copied with all referenced assets (dst registry doesnt allow upload of indexmanifest unless all parts are already uploaded afaik).

[2022-01-04 14:04] #306 closed, assigned to nobody

[2022-01-13 20:58] PushkarJ commented on #35
+1 this would be a great feature!

[2022-01-14 13:34] sboschman commented on #153
Having an option to add labels/annotations to an image besides the [default](https://github.com/vmware-tanzu/carvel-imgpkg/blob/develop/pkg/imgpkg/bundle/bundle.go#L24) 'dev.carvel.imgpkg.bundle' label during [pushing](https://github.com/vmware-tanzu/carvel-imgpkg/blob/develop/pkg/imgpkg/bundle/contents.go#L47) would be nice.

Use-case is publishing imgpkg packages to Github Container registry fro

[2022-01-18 21:43] joaopapereira commented on #153
@pbarker now I am embarrassed, sorry for not following up, but a lot happened last year.

Do you mean at the moment you first push the bundle to the registry?

@sboschman that is definitely an interesting use case. This label can only be applied to the Bundle itself and not the Images that are part of it, because adding labels to images does change the SHA.

[2022-01-20 16:40] voor opened #321 "--json output provides little additional value"
**What steps did you take:**
[code]
**What happened:**
The output is not great or easily machine readable.

**What did you expect:**
Something more like this:

[code]

**Anything else you would like to add:**
[Additional information that will assist in solving the issue.]

**Environment:**

- imgpkg version (use `imgpkg --version`):
- Docker registry used (e.g. `Docker HUB`):
- OS (e.g. from `/etc

[2022-01-21 20:02] joshrosso commented on #310
With `imgpkg`, I find the manifests to not be retained and only the OS arch of where I do the `copy` from to be moved.

[2022-01-24 15:37] joaopapereira commented on #310
@joshrosso I just checked at it works as expected:
[code]
[code]
[code]

I executed this in a Mac Big Sur with version 0.24.0 of `imgpkg`. In what OS and with what version of `imgpkg` did you see this problem?

[2022-01-24 16:48] joshrosso commented on #310
You're right. Works well and retains architectures / manifests.

Apologies for the noise :+1: .

[2022-01-24 16:48] #310 closed, assigned to nobody

[2022-01-25 07:42] blc1996 opened #323 "`imgpkg copy` should work with Inline package manifest"
**Describe the problem/challenge you have**
Same issue as: https://github.com/vmware-tanzu/carvel-kapp-controller/issues/490

In kapp-contoller 0.31, a [inline field](https://carvel.dev/kapp-controller/docs/latest/packaging/#package-repository) in introduced for `package` and `packageRepository` CR. This allows package CR contains all the YTT templates inline, including the `.imgpkg/image.yaml` fi

[2022-01-27 18:21] jpmcb opened #325 "Bump `go-containerregistry` dependency"
**What steps did you take:**
imgpkg is using `v0.7.0` of `github.com/google/go-containerregistry/`. Can we upgrade to the latest sha of go-containerregistry to capture the latest dependency bumps from that library?

Related: https://github.com/google/go-containerregistry/pull/1271

**What happened:**
Received a security alert for `github.com/opencontainers/image-spec` which is a dependency in `git

[2022-01-27 18:24] joaopapereira commented on #325
Thanks for reporting we already have PR #324 that I hope to merge somewhere today and maybe do a release next week.

[2022-01-27 19:25] jpmcb commented on #325
Awesome!!! Should have looked at the PRs 😂

[2022-01-27 21:07] joaopapereira opened #326 "Explore the possibility of replacing the iaas keychain with ggcr k8schain"
With version 0.8.0 of ggcr a new package was added to enable the use of a keychain in k8s. We should explore the possibility of using this same keychain instead of the iaas keychain we currently have in our code.

This will allow us to remove the git patch that we are forcing on the library: github.com/vdemeester/k8s-pkg-credentialprovider

Example of usage: https://github.com/sigstore/cosign/pull

[2022-02-01 22:23] Excpt0r opened #330 "`imgpkg copy --to-tar` should detect already existing .tar (performance improvement)"
**Describe the problem/challenge you have**
I'm using the [tkg doc](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid/1.4/vmware-tanzu-kubernetes-grid-14/GUID-mgmt-clusters-image-copy-airgapped.html) for airgapped installation, which uses a script with many calls to imgpkg to download a complete tanzu release.
There are scenarios where it would save time and bandwidth, when imgpkg would dete

[2022-02-04 18:19] joshrosso opened #331 "Introduce tag that gives visibility into source image / repository"
When using `imgpkg copy -b`, especially recursively against many packages, we end up with a repository full of tags. This is great, but makes things hard to identify without extra tooling.

For example:

![image](https://user-images.githubusercontent.com/6200057/152581938-5dd5c59f-9d70-4341-94f0-18e6b56d91e1.png)

Ideally, there'd be a tag that could help us better identify the source image. For e

[2022-02-05 00:07] #291 closed, assigned to nobody

[2022-02-10 01:54] alexgaganashvili commented on #331
@joshrosso , could you provide more context/details into this issue? I'm just wondering how I can reproduce it so that I can better understand what should be improved.
Thanks.

[2022-02-14 17:28] cppforlife commented on #331
if you run `imgpkg copy -b ... --to-repo bar.com/foo/blah/dst/repo` then all assets are copied over into the same repo (e.g. /foo/blah/dst/repo). such images will have standard imgpkg tags like `sha256-....imgpkg` and will not have any indication from the registry perspective that it was cert-manager image for example.

a practical improvement that could be made is: in addition to regular imgpkg t

[2022-02-16 20:07] alexgaganashvili commented on #331
@cppforlife , thanks for providing more details.
Here's a PR: https://github.com/vmware-tanzu/carvel-imgpkg/pull/333

[2022-02-16 20:32] alexgaganashvili opened #335 "Add Option to Use Dockerhub Proxy during Tests"
Dockerhub has rate limits.

If there's an Artifactory registry to which you have access, you can proxy your pulls via it.
For example, an environment variable - such as DOCKERHUB_PROXY - could be assigned an Artifactory proxy value (i.e., my-registry.company.local/dockerio-proxy-cache). If the env variable is not set, use the default docker.index.io.

---
Vote on this request

This is an invitatio

[2022-02-17 18:34] alexgaganashvili opened #337 "Inform user to use Registry Environment variables"
Hi,

When copying from a public registry to a registry that requires authentication and setting IMGPKG_USERNAME and IMGPKG_PASSWORD env vars, imgpkg also uses the credentials to authenticate with the public registry, which causes it to respond with 401 Unauthorized.
One way to solve the problem would be for me to use IMGPKG_REGISTRY_HOSTNAME_0, IMGPKG_REGISTRY_USERNAME_0, and IMGPKG_REGISTRY_PASSW

[2022-02-17 18:34] alexgaganashvili commented on #337
PR: https://github.com/vmware-tanzu/carvel-imgpkg/pull/336

[2022-02-18 20:52] joaopapereira commented on #331
I was talking with Dmitriy and we were thinking about the impact of `imgpkg` creating 2 tags per image. In our point of view, it feels like we do not need 2 tags.
The suggestion that we would like to do is to instead replace the current tag that is generated by `imgpkg` with a new format.

Let's imagine the following image:
`my.registry.io/some/application@sha256:669e010b58baf5beb2836b253c1fd57683

[2022-02-18 21:23] joaopapereira commented on #325
Unfortunately, we are stuck because a change in the Blob Storage is making our performance tests go OOM.

Need to decide if we are ok not running performance tests in windows or if we should invest time triaging and fixing the issue in ggcr

[2022-02-18 21:27] joaopapereira commented on #290
We did some investigation and the amount of requests is due to a feature from ggcr where before any request is done to a registry it pings the registry to understand the type of authentication needed to it. https://github.com/google/go-containerregistry/blob/ab77ea68f600de27f0563dbfdb1431960ad96af0/pkg/v1/remote/transport/transport.go#L53

We also found that we were doing 1 request to the OAuth se

[2022-02-18 21:29] joaopapereira commented on #288
This was accomplish with #332 nevertheless we are back to using ttl.sh for performance tests

[2022-02-20 01:10] alexgaganashvili commented on #331
I like the the idea of enabling this behavior through a flag such that in addition to `sha256-669e010b58baf5beb2836b253c1fd5768333f0d1dbcb834f7c07a4dc93f474be.imgpkg` another tag (considering the constraints described above) `some-application-sha256-669e010b58baf5beb2836b253c1fd5768333f0d1dbcb834f7c07a4dc93f474be.imgpkg` (or `some-application-669e010b`) would be generated.
If the status quo behavi

[2022-02-22 17:34] joaopapereira commented on #331
Not to our knowledge, but we can try to check in the slack channel and get some feedback.

[2022-02-22 18:50] joaopapereira commented on #337
Released in version 0.25.0

[2022-02-22 18:50] #337 closed, assigned to nobody

[2022-02-24 20:26] ZihanJiang96 commented on #331
+1 for this, I understand that the extra tags ends with `.imgpkg` are inevitable,

but i really like the idea that we add the `some-application-` prefix to the new tags generated by `imgpkg copy` cmd

[2022-02-27 12:45] itaytalmi opened #342 "The "source <(imgpkg completion bash)" command outputs an error message"
**What steps did you take:**
[A clear and concise description steps and any files that can be used to reproduce the problem.]

Added `source <(imgpkg completion bash)` to my `/etc/profile` so it would automatically load.

To reproduce the issue, you can simply run `source <(imgpkg completion bash)`.

**What happened:**
[A small description of the result]

Got the following error message:

[code]

[2022-03-03 22:12] joaopapereira commented on #342
Definitely, this looks like a bad experience. Going to change the label from carvel triage to carvel accepted.
If you are interested in contributing a solution we would be more than happy to take it.

[2022-03-03 22:16] joaopapereira commented on #331
Since we got no feedback against this new behavior lets go ahead and implement it

[2022-03-07 17:54] #323 closed, assigned to nobody

[2022-03-08 00:11] #321 closed, assigned to nobody

[2022-03-08 13:35] jorgemoralespou commented on #204
Nice, but as mentioned before in other discussions, it'll be nice to somehow have the original image tags annotated so that describe can provide some information that a human can understand :-D

[2022-03-08 22:36] ZihanJiang96 opened #344 "a new flag for `imgpkg push` so that it doesn't add a default, unique tag"
**Describe the problem/challenge you have**
[A description of the current challenge that you are experiencing.]
due to the fix of this issue https://github.com/vmware-tanzu/carvel-imgpkg/issues/248
everytime when we use `imgpkg push`, it will also add a new unique sha256-xxx tag.

I understand the usecase described in the above issue (tag reuse),
but in my senario, we never reuse tag / overwrite t

[2022-03-08 22:37] ZihanJiang96 commented on #344
@joaopapereira @alexgaganashvili

[2022-03-09 16:23] joaopapereira commented on #204
In some sense, the original tag will be present if you use `kbld` to generate your ImagesLock and that tag is used in the files read by `kbld`. Look at this example:
[code]

Another thing we need to keep in mind is that `imgpkg` only deal with Full Described Images(uses digest only), so unless the tool that creates the ImagesLock provides this information, `imgpkg` as no way to know tag informatio

[2022-03-09 16:26] joaopapereira commented on #335
This issue was fixed by #338

Was released with version v0.26.0 of `imgpkg`

[2022-03-09 16:26] #335 closed, assigned to nobody

[2022-03-09 16:41] joaopapereira commented on #330
This looks like an interesting behavior that can be used in multiple situations.

Some implications that I see here:
- If we make this the default behavior people could point the copy to a random tar, so `imgpkg` should fail if the tar exists and is not already in the format expected
- we currently do concurrent write of the tar we need to make sure that we remove the entries of the tar that were

[2022-03-09 17:15] joaopapereira opened #346 "Plain text output of describe command look incorrect"
**What steps did you take:**
When the annotation in ImagesLock contains yaml the text output of the describe command is incorrectly indented.

Let us assume we have the following ImagesLock
[code]

When we execute `imgpkg push -b localhost:5000/test -f basic-step-2` the bundle is pushed to the registry

**What happened:**

When we execute `imgpkg describe -b localhost:5000/test@sha256:3cd8f0d917a9

[2022-03-09 17:45] joaopapereira opened #347 "`describe` command should fetch all the information possible and display failures in the end"
**Describe the problem/challenge you have**
Sometimes when trying to get more information about a Bundle an error can occur while talking with the registry or the user might not have access to some particular Image. Today, when `imgpkg` fails to retrieve information about some image it displays the error message and stops processing. Nevertheless, `imgpkg` could still provide information about the

[2022-03-09 20:37] joaopapereira opened #348 "`describe` command should provide information about the layers of each Image"
**Describe the problem/challenge you have**
To help with more information about the Bundle, `imgpkg` should provide the layer SHA for each Image, this could help to better understand what are the moving parts of the bundle and eventually help do some debugging

**Describe the solution you'd like**
Expected output:

[code]

On the yaml output it should look like:
[code]

**Anything else you would l

[2022-03-10 17:30] jorgemoralespou commented on #204
Nice thanks for clarification. Is this also true for imgpkg copy, which is how most of the times images get to local clusters?

[2022-03-10 22:08] joaopapereira commented on #204
Not following 100% what you mean, but the information we are displaying is the information that is part of the ImagesLock, so if the information is in the ImagesLock it will be displayed

[2022-03-11 02:38] GrahamDumpleton opened #349 "Unpacked images should add back file permissions for group/other."
**Describe the problem/challenge you have**

The `imgpkg push -i` option supports being able to create OCI artefact images containing arbitrary files. Thus it can serve as the equivalent of hosting a tarball on a website, but where things are stored as an image on an image registry.

As much as this appeals as a general solution for packaging up arbitrary files for distribution it suffers a proble

[2022-03-11 22:36] joaopapereira opened #350 "Copy Bundle from Tar doesn't always work"
**What steps did you take:**
There is a problem with the generation of the Images Location Image that is not correctly populated when copying from a tar

1. Create a Bundle called localhost:5000/nested-bundle
2. Create a Bundle called localhost:5000/outer-bundle that includes the bundle localhost:5000/nested-bundle
3. Copy Bundle localhost:5000/outer-bundle to a Repository localhost:5000/new-bundl

[2022-03-12 22:17] joshrosso opened #352 "Create linux-arm64 binaries"
For linux-arm users along with supporting:

* https://github.com/vmware-tanzu/carvel-kapp-controller/issues/573

[2022-03-15 06:53] GrahamDumpleton opened #354 "imgpkg push help string references --lock option that doesn't exist."
**What steps did you take:**

Run:

[code]

This generates:

[code]

There is however no `--lock` option listed and trying to supply the option results in an error.

[code]

**What happened:**

Shows incorrect message. Luckily did not catch on fire.

**What did you expect:**

That help string would be accurate.

**Anything else you would like to add:**

Nope.

**Environment:**

- imgpkg version (u

[2022-03-15 06:54] GrahamDumpleton commented on #354
Whoops, wrong repo. Can someone move this to the correct repo.

[2022-03-15 08:34] GrahamDumpleton opened #355 "Add --additional-tag option to imgpkg push."
**Describe the problem/challenge you have**

I need to be able to add multiple tags to an image when using `imgpkg push -i`. For example, I would use an explicit tag based on version or a sha, but at the same time still need the image tagged with `latest`. At present need to do two runs of `imgpkg push` with the same input.

[code]

Running `imgpkg push` twice is inconvenient.

**Describe the solu

[2022-03-16 13:11] adamfowleruk commented on #223
BUMP. Can we please reprioritise this.

[2022-03-16 14:59] #350 closed, assigned to nobody

[2022-03-17 14:55] #352 closed, assigned to nobody

[2022-03-17 17:48] joaopapereira commented on #354
Thanks for opening this issue.

I was looking at `imgpkg push --help` output and do not see the `--lock` option

[code]

I think that you are looking at the option `--lock-output` and writing `--lock`

[2022-03-17 18:10] joaopapereira commented on #349
Thanks for the issue.

I think the solution looks good. Going to move this to carvel accepted, if someone thinks this might cause any problem with their setup, just let us know.

[2022-03-17 18:14] joaopapereira commented on #349
@GrahamDumpleton if this is blocking you in some way let us know and we can move this to a higher priority

[2022-03-17 18:49] jorgemoralespou commented on #354
@joaopapereira I think the issue is this:

--lock-output string                          Location to output the generated lockfile. Option only available when using --bundle or `--lock` flags

That highlighted area at the end of the `--lock-output` says that the option is only available when using either --bundle or `--lock`. The latter option does not exist.

[2022-03-17 20:03] joaopapereira commented on #354
sorry didn't read the full message my bad

[2022-03-17 23:30] GrahamDumpleton commented on #349
For my primary use cases where permissions matter, the execution of imgpkg is wrapped up in a script so I am able to fix up permissions myself for now.

[2022-03-18 05:18] aaronshurley commented on #223
Thanks for the bump @adamfowleruk.

@joaopapereira What are your thoughts on this?

[2022-03-18 21:15] joaopapereira commented on #223
I like the idea that Dennis pointed out about the `extract` command, I think it would be easier to understand. Nevertheless, I think that we talked in the past about a reverse build option in #55 and decided to keep the `push` instead of creating a new command. Given that I think the implementation  of
`imgpkg pull --tar <tar> -o /tmp/root-bundle`
It is something that can be done.

In terms of pri

[2022-03-18 21:16] joaopapereira commented on #223
If this is something that is currently blocking yll let us know and we can see how might we adjust priorities in order to help you out.

[2022-03-25 14:42] scothis opened #362 "User defined http transport is not respected"
**What steps did you take:**

When using imgpkg as a library, we define a custom http transport in order to configure the TLS config and provide that to imgpkg as a ggcr option via [`remote.WithTransport()`](https://pkg.go.dev/github.com/google/go-containerregistry/pkg/v1/remote#WithTransport)

**What happened:**

The `WithTransport` option is no longer respected. In our case, imgpkg's attempt to

[2022-03-28 15:22] joaopapereira commented on #355
Hello,
Push command is used both with single images and bundles. Is your idea to only have this particular flag to be available when you are doing `--image` push?

By your description, it does indeed sound like something that we can improve to help your use case.

[2022-03-28 16:02] joaopapereira commented on #362
After some looking around in the code `imgpkg` does not use `regOpts ...regremote.Option` so I am not quite sure why we have that as part of our interface.

I will remove that from the Arguments of the `NewSimpleRegistry` function.

To do not leave yll hanging I will create a different function that you can provide an HTTP transport directly to it.

[2022-03-28 17:22] scothis commented on #362
If you're going to pull support for `remote.Options`, don't bother. We also use these options to define custom auth via k8schain. It sounds like we shouldn't be using imgpkg as a library.

[2022-03-28 20:06] GrahamDumpleton commented on #355
I could see this as being useful for bundles as well. Same argument, people may want something tagged as X.Y but still want latest as well for convenience. For development or experimentation using latest in this scenario would be fine so don't have to go work out what actual latest X.Y was. Not everything is production nor need production level guarantees around pinning versions.

[2022-03-30 14:34] jpmcb commented on #325
This still stands and would be great to also capture the bump to `docker/distribution` v2.8.0+ [related to this advisory](https://github.com/advisories/GHSA-qq97-vm5h-rrhg)

[2022-03-30 19:33] DennyHoang opened #367 "Imgpkg copy failing to move bundle between same registry, different project"
**What steps did you take:**

Update to v0.26.0 and/or v0.27.0 from v0.25.0 and using `imgpkg copy` to move a bundle between same registry, different project.

**What happened:**
After the update, `imgpkg copy` started to fail for my usage.
`v0.25.0` works however.

**What did you expect:**
I expected the `imgpkg copy` to continue to work.

**Anything else you would like to add:**
Environment vari

[2022-03-30 19:37] joaopapereira commented on #367
Looks like there is a problem when mounting a blob, where the incorrect credentials are being used. This looks like it was introduced when the transport reuse was added to the code.

[2022-04-04 18:58] #331 closed, assigned to nobody

[2022-04-06 19:08] hectorj2f commented on #269
@cppforlife In addition to that, you could create an attestation that includes the SBOM as a predicate in the attestation (so you get the best from both worlds).

[2022-04-07 20:16] #349 closed, assigned to nobody

[2022-04-08 12:35] #367 closed, assigned to nobody

[2022-04-08 13:54] benmoss opened #373 "imgpkg shouldn't error when no command is given"
**What steps did you take:**
Ran `imgpkg`

**What happened:**
I got an error:
[code]

**What did you expect:**
To see the help text like in `imgpkg --help`

**Anything else you would like to add:**
This seems like a standard CLI behavior, `sed`, `grep`, `kubectl`, most CLIs that don't have a useful argument-less behavior just print help

---
Vote on this request

This is an invitation to the commu

[2022-04-13 04:50] GrahamDumpleton commented on #349
Also asked in Slack, but will this change end up getting inherited by `vendir`? In other words, does `vendir` just incorporate the same code go code from `imgpkg`, or does it perhaps exec `imgpkg` on command line?

[2022-04-13 08:11] snehalbiche opened #374 "imgpkg copy failed with tar file option"
facing issue while copying image from tar, provided CA certificate path and also tried providing ca.crt file content but it results with same error. need help to understand why imgpkg is failing to copy?

linu@tkgbootstrap:~$ echo $TKG_CUSTOM_IMAGE_REPOSITORY_CA_CERTIFICATE
/home/linu/ca.crt

linu@tkgbootstrap:~$ imgpkg copy --tar /home/linu/image-tar/tkr-bom-v1.17.16_vmware.2-tkg.1.tar --to-repo

[2022-04-13 15:19] joaopapereira commented on #374
Hello,
Thanks for opening this issue.
This is quite a cryptic message, but unfortunately, the library does not provide a lot of extra information.

From looking at the Golang standard libraries the possible problems that can happen are:
1. Decoding the certificates from the file does not produce any certificates
2. The file does not contain certificates in the expected form, [example](http://ospki

[2022-04-13 15:21] joaopapereira commented on #349
Has I replied in Slack, vendir consumes imgpkg as a binary, so as soon as we have a new version of imgpkg and you download it to your machine, it should just work with vendir

[2022-04-13 22:41] cppforlife opened #375 "[collecting-info] collecting various imgpkg errors received"
**What steps did you take:**
collecting various imgpkg errors that potentially have "weak" retries.

**What happened:**
[A small description of the result]

**What did you expect:**
[A description of what was expected]

**Anything else you would like to add:**
[Additional information that will assist in solving the issue.]

**Environment:**

- imgpkg version (use `imgpkg --version`):
- Docker regi

[2022-04-13 22:41] cppforlife commented on #375
[code]

[code]

[2022-04-14 12:00] #362 closed, assigned to nobody

[2022-04-15 05:24] GrahamDumpleton commented on #349
The merged changed doesn't seem to entirely do what is required, but is very close. The problem now is that the root directory permissions aren't set right. Everything else underneath is okay.

[code]

[code]

When run under `vendir` the permissions were even stranger, having:

[code]

[2022-04-15 05:40] GrahamDumpleton commented on #349
Under `vendir` that sticky bit for group even gets applied on sub directories.

[code]

[code]

[2022-04-15 15:35] johnSchnake commented on #60
I wanted to provide another use case where this comes up for me: airgap k8s testing.

When running the e2e tests in airgapped environments, the k8s testing framework allows you to specify your own registries but it will assume the name of the image is the same. So the process is normally pulling all the images into a tarball and manually loading them into the airgapped environment. Sonobuoy added

[2022-04-19 08:53] vicmarbev commented on #354
There is a '--lock' flag for the LockInput option: https://github.com/vmware-tanzu/carvel-imgpkg/blob/9248c77df8b6e77bc32f72dc36dc8bf048e86c06/pkg/imgpkg/cmd/lock_input_flags.go#L14-L17
It is used in the `copy` command here:
https://github.com/vmware-tanzu/carvel-imgpkg/blob/9248c77df8b6e77bc32f72dc36dc8bf048e86c06/pkg/imgpkg/cmd/copy.go#L78

Should it be removed from `push` command? I can open an

[2022-04-19 15:01] joaopapereira commented on #354
The problem here is that https://github.com/vmware-tanzu/carvel-imgpkg/blob/develop/pkg/imgpkg/cmd/lock_output_flags.go#L14 is used for both `push` and `copy` commands, but in `push` there is no `--lock` flag that can be used.

These are some possibilities to solve this issue:
1. Add a new function to the struct `LockOutputFlags` called `SetOnPush` or something similar and in that function remove

[2022-04-21 10:18] ChristianCiach opened #378 "`--registry-insecure` broken for push and pull since v0.26.0"
**What steps did you take:**
Starting with imgpkg v0.26.0 the option `--registry-insecure` has no effect for `push` and `pull` commands.

**What happened:**
[code]

**What did you expect:**
[code]

**Environment:**

- imgpkg version (use `imgpkg --version`): imgpkg version 0.28.0
- Docker registry used (e.g. `Docker HUB`): Locally hosted `registry:2`
- OS (e.g. from `/etc/os-release`): Fedora Linu

[2022-04-21 11:32] ChristianCiach commented on #378
Probably related to https://github.com/vmware-tanzu/carvel-imgpkg/pull/334

[2022-04-24 00:14] #344 closed, assigned to nobody

[2022-04-28 15:42] joaopapereira opened #380 "Investigate possible performance issue"
While running the performance test in windows we saw that there were some failures
https://github.com/vmware-tanzu/carvel-imgpkg/runs/6196315785?check_suite_focus=true
https://github.com/vmware-tanzu/carvel-imgpkg/runs/6161215029?check_suite_focus=true

It would be also interesting to see if we could create some sort of way to track these executions to understand if our performance is degrading or

[2022-05-03 19:54] joaopapereira opened #383 "Lower the concurrency when "TOOMANYREQUESTS: Rate exceeded" occurs"
**Describe the problem/challenge you have**
When talking to some registries imgpkg might be doing more requests than the registry allows.

**Describe the solution you'd like**
Whenever imgpkg encounters the TOOMANYREQUESTS error it would be interesting to automatically adapt by lowering the number of concurrent workers it is using.

**Anything else you would like to add:**
Investigate to understan

[2022-05-04 20:49] joaopapereira commented on #378
After some investigation we made a fix for this issue

[2022-05-06 15:26] #325 closed, assigned to nobody

[2022-05-08 00:16] GrahamDumpleton commented on #355
Still interested in this. Go away stale bot.

[2022-05-09 19:59] #378 closed, assigned to nobody

[2022-05-11 11:31] hectorj2f commented on #269
@joaopapereira I have investigated a little more the options to have a single BOM for the bundle while referring to the rest of the BOM per image inside the bundle. I believe we could using `externalReferences` from CycloneDX as explained in https://cyclonedx.org/capabilities/bomlink/  there is an example here https://github.com/CycloneDX/bom-examples/tree/master/OBOM/Example-1-Decoupled.  Cyclone

[2022-05-13 17:04] joaopapereira opened #390 "When pulling image or bundle inform the caller if the content is cacheable or not"
**Describe the problem/challenge you have**
When another tool like vendir tries to pull a bundle or image using imgpkg, it should be informed if the contents are cacheable or not. This solution will allow tools to not rely as much on the registry and can store some of the image information on the disk.

**Describe the solution you'd like**
I am proposing 2 possible UX implementations for this feat

[2022-05-23 16:11] joaopapereira commented on #373
Marked as accepted  so that we can have a more consistent output with other tools

[2022-05-30 00:18] #374 closed, assigned to nobody

[2022-06-02 17:45] cppforlife opened #395 "indicate that portion of the error comes from registry server"
**Describe the problem/challenge you have**
while reading imgpkg error, it may not be clear to a user that this portion of the error comes from the registry (which would be helpful to understand so that registry docs could be looked at instead of assuming it's an impkg problem).

**Describe the solution you'd like**
we did something similar in kapp: `client-something: API server says: server-somet

[2022-06-03 10:24] itaytalmi commented on #342
Hi @joaopapereira, kapp team has released a fix for this as mentioned here
https://github.com/vmware-tanzu/carvel-kapp/issues/447#issuecomment-1075939861
The same thing can be implemented here. It would be nice to have the `--tty=false` option in imgpkg as well.

[2022-06-07 19:05] joaopapereira opened #397 "Using imgpkg as a library causes docker authentication failure"
**What steps did you take:**
When using imgpkg as a library when trying to push images to the registry, imgpkg always tries to get the credentials from the docker-credential helper as if it was in an IAAS, causing, in some cases, the authentication to fail and get 401.

Users do not know that the following patch needs to be applied https://github.com/vmware-tanzu/carvel-imgpkg/blob/develop/hack/pa

[2022-06-10 17:56] joe-kimmel-vmw opened #399 "Show what happens between "done" and "Succeeded""
**Describe the problem/challenge you have**
This is a very minor UX problem, but it's funny that imgpkg says "done" and then continues to run for a while before it says "Succeeded".

Example:
[code]

**Describe the solution you'd like**

I may be naive but when it says "done" i didn't expect it to still be running afterwards.

maybe something like the existing "done uploading" line followed by "an

[2022-06-15 19:03] praveenrewar commented on #342
Hey @joaopapereira! We recently resolved this issue in kapp and kctrl by setting different default values of tty flag for different commands. For example, in kapp `deploy` and `delete` command have default value set as true but other commands have the default value as false.
Would a similar approach work in imgpkg as well? (I am thinking it would, but not sure if there would be any side effects)
I

[2022-06-15 20:14] joaopapereira commented on #342
We can give that a try, feel free to create a PR :D

[2022-06-18 00:16] GrahamDumpleton commented on #355
Still interested in this. Go away stale bot.

[2022-06-21 05:26] praveenrewar commented on #342
I noticed that the default tty value in imgpkg is false (in kapp it was true). The issue with bash completion is there because the bash completion command is being added after `ConfigureUI` is called. We only need to add it after `DisallowExtraArgs` is being called.
(I will create a PR for this change)

[2022-06-23 14:54] joaopapereira commented on #390
we are still in the process of discussing this implementation

[2022-06-23 19:50] #342 closed, assigned to nobody

[2022-06-28 19:56] joaopapereira commented on #399
That is a great question.
Between these 2 messages images does in fact tag all the images that need tagging, so it might take some time.

Maybe we can add a message informing the users that imgpkg is tagging images

[2022-06-28 20:15] joaopapereira commented on #354
Issue fixed in release 0.29.0

[2022-06-28 20:15] #354 closed, assigned to nobody

[2022-06-30 14:44] #399 closed, assigned to nobody

[2022-07-05 13:46] vikundral commented on #367
with any version ( tried with 26,27,29) of imgpkg greater than v0.25.0 I am hitting the below issue, seems like same behaviour for which above issue is opened.

imgpkg copy --tar /root/foo/bar_latest.tar --to-repo abc-harbor.com/projecttest/testdeploy/tcx/foo-bar-custom --registry-username='testuser' --registry-password='testpass'
copy | importing 3 images...

0 B / 773.52 MiB [___________________

[2022-07-06 15:43] joaopapereira commented on #367
Hey, @vikundral thanks for opening this issue.

Was the tar created from that same registry? Because one of the checks that we do is to see if the images are in the same registry.

[2022-07-06 20:23] benmoss commented on #330
This seems relevant, though not using GGCR https://github.com/moby/moby/pull/18353

[2022-07-09 03:29] old-ocean-creature commented on #153
Hey @joaopapereira just getting back to this. Yeah mainly just want to add to the image itself if possible. Thanks

[2022-07-09 19:52] old-ocean-creature commented on #153
Added a fix here https://github.com/vmware-tanzu/carvel-imgpkg/pull/412

[2022-07-13 15:11] joaopapereira commented on #395
This sounds like an interesting UX optimization. Going to accept the feature

[2022-07-19 16:57] #271 closed, assigned to nobody

[2022-07-26 15:12] shaheerkootteeri opened #420 "Provide progress feedback and image size in imgpkg push"
**Describe the problem/challenge you have**

We use imgpkg as library, and while using imgpkg push to upload a source bundle to a registry, sometimes it takes a while for the image to upload if the image size if large. We would like to show a progress bar to show the progress similar to imgpkg copy to show the user that the progress is made.

**Describe the solution you'd like**

Add a progress ba

[2022-07-26 19:58] joaopapereira commented on #420
I think it is a good improvement for our API side, for now, I believe that this change should only be done at API level. Not sure if we want to display the progress bar in imgpkg cli for single images, but with this functionality, I think we would be set for success if we want to do it.

Changing the `WriteImage` function from the Repository to add the ability to provide a channel to get the updat

[2022-08-01 03:08] tiger1019 opened #422 "imgpkg v0.22.0 copy to docker registry Error uploading images"
**What steps did you take:**
1. docker  login registry.local
2.imgpkg copy   --tar tap-packages-1.2.0.tar   --to-repo registry.local/tanzu-application-platform/tap-packages

**What happened:**
6.86 GiB / 6.87 GiB [==========================================================================================================================================================================================

[2022-08-01 16:56] joaopapereira commented on #330
Fixed by #418 will be out in the next release

[2022-08-01 16:56] #330 closed, assigned to joaopapereira

[2022-08-01 17:40] joaopapereira commented on #422
Hello @tiger1019
A follow up does this work with version 0.22.0 or not? I do not fully understand your bug. If it is failing with a different version can you let us know what version that is?

Is it possible that when you created the tar you did not use the `--include-non-distributable-layers` and the missing layers are the non distributable layers?

Also not sure what registry you are using, but

[2022-08-03 12:41] tiger1019 commented on #422
Hellp @joaopapereira
Thank you for your response, I am using registry:2 and the solution you provided has solved my problem.

[2022-08-11 17:58] trisberg opened #423 "Allow for file exclusions based on entries in an .imgpkgignore file - similar to .gitignore"
**Describe the problem/challenge you have**
[A description of the current challenge that you are experiencing.]

I'm creating an image for the contents of a git repo, would like to exclude some files/directories when the image is generated - I can try to use --file-exclusion but it would be convenient to have something like a `.imgpkgignore` file, similar to `.gitignore` or `.tiltignore`

**Descri

[2022-08-19 12:56] marckhouzam opened #426 "Extra output and errors during shell completion"
**What steps did you take:**
There is extra output in the shell completion choices and in some cases is even causes errors during shell completion.
Same issue in `kapp`: https://github.com/vmware-tanzu/carvel-kapp/issues/583

**What happened:**

For bash, notice the error in this particular case (some other bash completions do work):
[code]
For zsh, notice the extra output at the end (`:4`, `Succe

[2022-08-19 18:06] joaopapereira commented on #390
We decided to go with Option 2. This means that we did not implement the yaml output for the command. We can add that in the future if the need raises

[2022-08-19 18:06] #390 closed, assigned to joaopapereira

[2022-08-23 11:21] voor opened #428 "Allow directly pushing archives, in particular ZIP or JAR"
**Describe the problem/challenge you have**
In a popular workflow that enables a premade JAR to be accessible to Cartographer's `source.image` reference you actually need 2 steps:
1. unzip the JAR file
2. imgpkg push the contents of the JAR file.
Several CLI implementations do this transparently, but those CLIs are serving other products primarily and do not offer a generic experience, in particul

[2022-08-24 16:18] joaopapereira commented on #426
Hey, @marckhouzam thanks for creating the issue. We will sync up with `kapp` folk and get this fix.
Also if you are interested in getting a PR with a fix for this we will be more than happy to look at it

[2022-08-24 16:23] joaopapereira commented on #422
Going to close this issue, feel free to open if this problem happens again.

[2022-08-24 16:23] #422 closed, assigned to nobody

[2022-08-24 16:47] joaopapereira commented on #423
Hey, @trisberg
This does make sense and definitely a cool feature.

In terms of syntax, I agree we should go with the common format that currently is used by gitignore.

Some implementation ideas:
- When reading the file we can generate the rules and use the same mechanism we have for `--file-exclusion`
- Having multiple `.imgpkgignore` can be allowed. Same behavior as git, the `.imgpkgignore` wil

[2022-08-24 16:55] joaopapereira commented on #428
Hey @voor

Are you planning of using this feature with `-f` flag? It sounds like it could be a problem because files might overwrite themselves. Also, I assume that you will only want 1 archive per push, correct?
I think that maybe these 2 flags should exclude each other.

Since you can unzip a jar file I think zip and jar could behave the same way, implementation-wise. But eventually, if it fails

[2022-08-24 17:00] voor commented on #428
The use case was exclusive use of `--archive` so if was mutually exclusive to `-f` that'd be fine.

[2022-08-24 17:03] joaopapereira commented on #428
Sounds good, let us do that.

The flag `--archive` and `-f` are mutually exclusive.
The flag `--archive` can only be used once.

Going to accept this issue.
As always if anyone is interested in implementing this just let us know.

[2022-08-25 16:33] tanzu-tap opened #429 "imgpkg copy fails when copying images to dockerhub"
**What steps did you take:**
[I am installing vmware tanzu application platform and when i got to the step to relocate the image registry to dockerhub it keeps failing even though I tried many times with correct credentials.]
Here is my command:
imgpkg copy -b registry.tanzu.vmware.com/tanzu-application-platform/tap-packages:1.1.0 --to-repo index.docker.io/mytap/tap-packages

**What happened:**
[i

[2022-08-26 17:39] joaopapereira commented on #429
Hey @tanzu-tap do you mind giving a try with a newer version to see if the problem was resolved?

I know that in some cases ubuntu was storing the docker configuration in a different location that was not being picked up correctly but that was solved in newer versions of go-containerregistry(library that we use to talk with the registry)

[2022-08-29 14:25] tanzu-tap commented on #429
Hi @joaopapereira I tried several other versions but no luck. i even tried to use Mac but got same error

[2022-08-29 15:33] joaopapereira commented on #429
Hey 😄
Let's see if we can do some debugging. (If you prefer a more interactive back and forth you can jump into Kubernetes slack and we can talk there)

1. Does your user have access to push images to the repository `index.docker.io/mytap/tap-packages`?
1. Are you trying to run this command in a local machine or inside an IAAS?
1. Did you do `docker login` before you executed the command and still

[2022-08-29 20:56] tanzu-tap commented on #429
1. Does your user have access to push images to the repository index.docker.io/mytap/tap-packages? Yes
2. Are you trying to run this command in a local machine or inside an IAAS? Bastion
3. Did you do docker login before you executed the command and still got the same error? Yes. I did docker login
4. Following [this example](https://carvel.dev/imgpkg/docs/v0.31.0/auth/#via-environment-variables),

[2022-08-29 21:09] joaopapereira commented on #429
This is the channel where Carvel folks hang out https://kubernetes.slack.com/archives/CH8KCCKA5

[2022-08-29 21:53] tanzu-tap commented on #429
coming with you now . thanks

[2022-08-31 16:31] tanzu-tap commented on #429
imgpkg was able to copy the images after pushing. to the dockerhub account manually

[2022-08-31 16:31] #429 closed, assigned to nobody

[2022-09-02 16:41] joaopapereira opened #434 "Describe command no longer outputs yaml when tty is set to false"
**What steps did you take:**
When executing `imgpkg describe -b bundle.io/bundle -o yaml --tty=false` imgpkg is no longer providing any output.

**What happened:**
Nothing is shown in the console

**What did you expect:**
Should see the yaml output

**Anything else you would like to add:**
This behavior should be defined for computer readable output, so when doing `-o text` or not specifying `-o`

[2022-09-02 19:39] #434 closed, assigned to joaopapereira

[2022-09-02 21:18] joaopapereira commented on #397
Fixed by PR #431 and released in version 0.32.0

[2022-09-02 21:18] #397 closed, assigned to joaopapereira

[2022-09-12 17:46] joaopapereira commented on #420
This issue was solved in release [0.30.0](https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.30.0)

[2022-09-12 17:46] #420 closed, assigned to nobody

[2022-09-12 17:48] joaopapereira commented on #347
Since this has been referenced multiple times since the creation of the feature, I am bumping it to Prioritized Backlog to be tackled in the near future

[2022-09-15 16:29] cppforlife commented on #428
idea for the flag name: `--file-archive`. this would put it into same category as `--file` so it would be more naturally discoverable.

[2022-09-29 00:11] cppforlife opened #439 "multiple active keychain selection does not work"
**Describe the problem/challenge you have**

[code]

it seems that we are picking up empty string instead of env value when comma is present: https://github.com/vmware-tanzu/carvel-imgpkg/blob/d5c9d0c9a8c62293f371fcd7b8d772dab215f795/pkg/imgpkg/cmd/registry_flags.go#L85. this means i believe that we can only support one active keychain at a time.

**Describe the solution you'd like**

abillity to

[2022-09-29 00:24] joe-kimmel-vmw commented on #347
@joaopapereira just poking at this a tiny bit --   do you think the work starts at this line: https://github.com/vmware-tanzu/carvel-imgpkg/blob/develop/pkg/imgpkg/v1/describe.go#L100

or am i not yet reading the right part even?

[2022-09-29 15:10] joaopapereira commented on #347
This is a 2 part change and I believe the implementation will have to happen inside `FetchAllImagesRefs` because it is inside that function that we [retrieve signatures](https://github.com/vmware-tanzu/carvel-imgpkg/blob/d5c9d0c9a8c62293f371fcd7b8d772dab215f795/pkg/imgpkg/bundle/fetch_images.go#L32) and we also have a [recursive function](https://github.com/vmware-tanzu/carvel-imgpkg/blob/d5c9d0c9

[2022-09-29 21:43] #439 closed, assigned to joaopapereira

[2022-10-11 23:22] kkavitha opened #441 "imgpkg fails to pull images built using ko"
**What steps did you take:**

Build an image using ko from go source code:
1. Set `KO_DOCKER_REPO`
2. Run `ko build --bare .` Image will be pushed

Pull the image using imgpkg:
`imgpkg pull -i <image-name> -o output-folder`

**What happened:**
[code]

**Environment:**

- imgpkg version `0.33.0`
- Docker registry used `Harbor`

---
Vote on this request

This is an invitation to the community to vot

[2022-10-12 18:35] joaopapereira commented on #441
I was able to reproduce this by just executing the provided command on the imgpkg folder. It needs to use a distroless base image or else you will get
[code]

Going to accept this issue.
If it is easy `imgpkg` should also ignore devices since they cannot be created when pulling the image.

[2022-10-12 19:47] joaopapereira commented on #441
I did some digging around there are 2 things we can do:
1) do the extraction in reverse order similar to https://github.com/concourse/registry-image-resource/blob/master/commands/unpack.go#L58 or https://github.com/google/go-containerregistry/blob/7268da01c46ecfb72a3ef6f44d0393f650879663/pkg/v1/mutate/mutate.go#L248
2) ensure that we do not create devices to fix the other error in the above commen

[2022-10-26 18:20] #426 closed, assigned to nobody

[2022-10-26 19:00] itaytalmi opened #446 "Add the ability to check if a remote artifact is a bundle"
**Describe the problem/challenge you have**
[A description of the current challenge that you are experiencing.]

Following another issue I've opened in upstream Tanzu Framework:
https://github.com/vmware-tanzu/tanzu-framework/issues/3757

**Describe the solution you'd like**
[A clear and concise description of what you want to happen. If applicable a visual representation of the UX (ex: new CLI ar

[2022-10-26 19:55] joaopapereira commented on #446
Hello @itaytalmi
imgpkg does have a command that describes the contents of a bundle.
in your example:
[code]

The only caveat with this is if you try to run describe on an image you will get the following error:
[code]

Do you think this behavior is enough to get what you need?

[2022-10-26 20:12] itaytalmi commented on #446
Thank you @joaopapereira, I'm familiar with the `imgpkg describe` but I think that is not ideal, because you still need to know it's a bundle to run `imgpkg describe -b`, otherwise it results in an error.
What I want to do is check whether the artifact is a bundle by the `{"dev.carvel.imgpkg.bundle":"true"}` label, for example. Does imgpkg have any output containing the labels (like Docker/Crane)?

[2022-10-26 20:19] joaopapereira commented on #446
No, that functionality does not exist.

`imgpkg` tries to be very precise about the operation that is executing. So there is an expectation that when a user calls `imgpkg`, it knows what they want to copy/pull.

[2022-10-26 20:34] vrabbi commented on #446
the other issue with describe is that it can be a long running command if the bundle is large and has many nested bundles making it not an optimal choice.
it would be nice if like we have the "tag ls" command in imgpkg, if we also had a "inspect", or "labels ls" command that could return data on a specific oci artifact.

[2022-10-27 16:46] jayunit100 commented on #446
ah .  ok.  some kinda imgpkg support would be good here, any equivalent ideas we could implement @joaopapereira ?

[2022-11-02 15:57] #347 closed, assigned to joaopapereira

[2022-11-08 17:11] joaopapereira commented on #446
from offline discussions we had, looks like tanzu-framework is reworking that script which should solve your original problem.

@vrabbi What kind of information you are thinking about? Do you have an use case for it apart from the original one in this issue?

[2022-11-08 17:37] vrabbi commented on #446
Another use case is images built with buildpacks have labels added to them with a bunch of information that could br very beneficial for people to know such as what buildpacks were used, sbom information and so on. As this is metadata on an image, it would be nice to be able to use imgpkg to view the labels on the images so as to have a simple way of detecting what an kmage contains

[2022-11-08 18:01] itaytalmi commented on #446
@joaopapereira Additionally, the original issue wasn't solved - Tanzu Framework hardcodes imgpkg bundle names in that script, which is the reason we ran into this issue in the first place. If we could inspect the image/bundle using imgpkg before pulling it, we could have a much more dynamic and generic approach and it wouldn't be necessary to hardcode any bundle names anywhere. It makes a lot of s

[2022-11-08 18:04] vrabbi commented on #446
@itaytalmi the issue is being solved via a new command in tanzu cli that will make this script irrelevant in the future. PRs are already starting to show up in framework for it.

[2022-11-09 15:44] joaopapereira commented on #446
@itaytalmi I was talking about https://github.com/vmware-tanzu/tanzu-framework/pull/3743

[2022-11-10 04:19] imurata opened #448 "Support OCI image layout"
**Describe the problem/challenge you have**
I am trying to push a full stack of [buildpacks](https://github.com/paketo-buildpacks/bionic-full-stack), but it is registered as a file instead of as oci image.

**Describe the solution you'd like**
[crane](https://github.com/google/go-containerregistry/blob/main/cmd/crane/doc/crane.md) supports oci image layout.
[code]
So, I want to push the image of o

[2022-11-10 21:40] sabeer6870 commented on #428
Hi, along with the JAR and zip, can this feature include the pushing of bundle.tar.gz? This bundle.tar.gz is just the compressed imgpkg directory.
So, when a user pushes `imgpkg.tar.gz` it should get expanded and pushed as a bundle to the oci registry.

Contents of imgpkg.tar.gz:
[code]

expected usage:
[code]

[2022-11-21 19:00] aaronshurley opened #453 "Release v0.34.0"
- [x] Create release in Github
    - [x] [Bump Version](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Bump-version)
    - [x] [Create Draft Github Release](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Create-Draft-Github-Release)
    - [x] [Create Release Notes](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Create-the-Release-Notes)
    - [x] [Generate Binaries and Checksum](https://hackmd.io/uVp

[2022-11-21 19:36] aaronshurley commented on #347
Shipped as a part of [v0.34.0](https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.34.0).

[2022-11-21 19:36] aaronshurley commented on #426
Shipped as a part of [v0.34.0](https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.34.0).

[2022-11-21 20:18] aaronshurley commented on #453
Done. https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.34.0

[2022-11-21 20:18] #453 closed, assigned to aaronshurley

[2022-11-23 14:10] marckhouzam commented on #426
Works great!  Thanks!